{% extends "wiki/wiki_template.jinja" %} {% block title %}Energetica wiki{% endblock %} {% block wiki_content %}

{% set const_data = engine.const_config["assets"] %}

<div class="flex-row huge title">Wiki - Climate Change</div>

<div class="medium margin-large">

  <p>Not implemented in the game yet...</p>

</div>

{% endblock wiki_content %}