{% extends "wiki/wiki_template.jinja" %} {% block title %}Energetica wiki{% endblock %} {% block wiki_content %}

<div class="flex-row huge title">Wiki - Game Time</div>

<div class="medium margin-large">

  <p>
    The game operates on a clock that updates every {{ engine.clock_time }} seconds, referred to as a "tick". This means 
    the game values are updated every {{ engine.clock_time }} seconds.
  </p>
  <p>
    To enhance the gaming experience, game time is significantly faster than real-time. There are 
    {{ (engine.in_game_seconds_per_tick / engine.clock_time) | round() | int }} in-game days in a real-time day and an 
    in-game year has only 72 in-game days. The following table shows the conversion between ticks, in-game time, and 
    real-time:
  </p>
  <div class="flex-center align-items-center">
    <table class="table bone txt_center">
        <tr>
          <th>Game Ticks</th>
          <th>In-game Time</th>
          <th>Real Time</th>
        </tr>
        <tr>
          <td>1</td>
          <td>4 min</td>
          <td>{{ engine.clock_time }} sec</td>
        </tr>
        <tr>
          <td>15</td>
          <td>1 hour</td>
          <td>{{(0.25 * engine.clock_time) | round() | int }} min</td>
        </tr>
        <tr>
          <td>360</td>
          <td>1 day / 24h</td>
          <td>{{(0.1 * engine.clock_time) | round() | int }} hours</td>
        </tr>
        <tr>
          <td>2160</td>
          <td>1 month / 6d</td>
          <td>{{(0.6 * engine.clock_time) | round() | int }} hours</td>
        </tr>
        <tr>
          <td>25920</td>
          <td>1 year / 12m</td>
          <td>{{(0.3 * engine.clock_time) | round() | int }} days</td>
        </tr>
        <tr>
          <td>259200</td>
          <td>10 years</td>
          <td>{{(0.1 * engine.clock_time) | round() | int }} months</td>
        </tr>
    </table>
  </div>
  <p>
    All durations in the game are given in in-game time and in some cases the equivalent real time might be indicated in parenthesis
  </p>

</div>

{% endblock wiki_content %}