{% extends "wiki/wiki_template.jinja" %} {% block title %}Energetica wiki{% endblock %} {% block wiki_content %}

<div class="flex-row huge title">Wiki - Introduction</div>

<div class="info_message medium margin padding">
    <i class="fa fa-info-circle info-circle"></i>
    <div class="padding-small">
        🚧 This game is still under development! 🚧 Join the <a href="https://discord.gg/6xQsfqe2Nd">Energetica 
        Discord server</a> to stay updated with the latest news, report bugs, and engage with the community. 
        You can also contact me directly if you have questions (vsfelix@ethz.ch)
    </div>
</div>

<div class="medium margin-large">

  <h2>Welcome to Energetica</h2>
  <p>
    As a player, you take on the role of managing the electricity generation of your city or country. 
    Starting with basic technology like a rudimentary steam engine, you'll progress towards more advanced options such 
    as photovoltaics and nuclear reactors.
  </p>
  <p>
    Your continuous vigilance over production is essential to ensure a consistent and adequate supply of electricity to 
    support various energy needs. Collaborating with other players to establish a network for trading electricity 
    and advancing technological developments is crucial.
  </p>
  <p>
    Effective management of fossil fuels and careful monitoring of emissions are imperative, as consequences may arise 
    from negligence in these areas.
  </p>
  <p>
    Energetica is a long-term game lasting multiple months. Remember to log in regularly to check progress and make 
    new decisions to shape the energy landscape of your community!
  </p>
  <p>
    This wiki serves as a comprehensive documentation of all the mechanics within the game. While not a prerequisite 
    before gameplay, referencing specific chapters within this wiki can aid in making informed decisions during 
    gameplay. You can navigate through the wiki using the links below.
  </p>

</div>

{% endblock wiki_content %}