instance/*
tests/*/instance/*
checkpoints/*
__pycache__
.DS_Store
.venv
frontend/node_modules/*
energetica/static/react/*
frontend/src/routeTree.gen.ts
frontend/scripts/openapi-schema.json
admin_accounts.txt
*actions_history.log