@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Expletus+Sans&display=swap');

html,
body,
#root {
    height: 100%;
    margin: 0;
    /* Disable scrolling */
    overflow: hidden;
}

body {
    font-family: 'Baloo 2', sans-serif;
}

main {
    width: 100%;
}

:root {
    --color-white: #ffffff;
    --color-bone: #e5d9b6;
    --color-tan-green: #a4be7b;
    --color-tan-hover: #B5CA95;
    --color-green: #5f8d4e;
    --color-pine: #285430;
    --color-pine-darker: #1B3820;
    --color-red: #f44336;
    --color-orange: #f59f00;

    --text-on-light: #000000;
    --text-on-dark: #ffffff;

    /* An example for a font */
    --font-sans: system-ui, sans-serif;
}

h1 {
    font-weight: 500;
    color: var(--color-pine-darker);
}

#toast-container {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    z-index: 9999;
    max-width: 90%;
    align-items: center;

    /* padding-top replaces the first toast’s margin */
    /* padding-top: 8px; */
}

/* all toasts get margin-top */
.toast {
    margin-top: 8px;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    color: #000000;
    font-size: 0.9rem;
    min-width: 200px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(-10px);
    transition:
        opacity 200ms ease,
        transform 200ms ease,
        height 300ms ease,
        margin-top 300ms ease,
        padding-top 300ms ease,
        padding-bottom 300ms ease;

    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px; */
    /* padding: 0 8px; */
    pointer-events: all;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast.closing {
    opacity: 0;
    transform: translateY(-10px);
    margin-top: 0;
    /* works for all toasts now */
    padding-top: 0;
    padding-bottom: 0;
}

.toast.success {
    border: 1px solid #4CAF50;
    background-color: #ddffdd
}

.toast.error {
    border: 1px solid #f44336;
    background-color: #ffdddd
}

.toast.info {
    background: #3498db;
}