{% extends "wiki/wiki_template.jinja" %} {% block title %}Energetica wiki{% endblock %} {% block wiki_content %}

{% set const_data = engine.const_config["assets"] %}

<div class="flex-row huge title">Wiki - Extraction Facilities</div>

<div class="medium margin-large">


</div>

{% endblock wiki_content %}