{% extends "wiki/wiki_template.jinja" %} {% block title %}Energetica Wiki{% endblock %} {% block wiki_content %}

<div class="flex-row huge title">Wiki - Extraction Facilities</div>

<div class="medium margin-large">


</div>

{% endblock wiki_content %}