{% extends "wiki/wiki_template.jinja" %} {% block title %}Energetica Wiki{% endblock %} {% block wiki_content %}
{# {% set user = {"name": "test!", "laboratory": 0, "warehouse": 0} %} #}
{# {% set user = None %} #}
<div class="flex-row huge title">Wiki - Projects</div>

<div class="medium margin-large">

  <p>
    Projects is the general term for ongoing constructions, research projects and shipments. Managing projects and 
    understanding their behavior is key since they are a necessary step to build up power generation.
  </p>


  <h2 id="Starting_a_Project">Starting a Project</h2>
  <p>
    There are different types of projects that can be started on their corresponding pages:
    <div class="flex-col">
      <table class="table bone txt_center">
        <tr>
          <th class="padding">Project Type</th>
          <th class="padding">Sub-type</th>
          <th class="padding">Where to find</th>
        </tr>
        <tr>
          <td>Constructions</td>
          <td>
            <a href="{{ url_for('wiki.render_template_wiki', template_name='power_facilities') }}">Power Facilities</a><br>
            <a href="{{ url_for('wiki.render_template_wiki', template_name='storage_facilities') }}">Storage Facilities</a><br>
            <a href="{{ url_for('wiki.render_template_wiki', template_name='resources', _anchor='Extraction_Facilities') }}">Extraction Facilities</a><br>
            <a href="{{ url_for('wiki.render_template_wiki', template_name='functional_facilities') }}">Functional Facilities</a>
          </td>
          <td>
            <a href="{{ url_for('views.power_facilities') }}">Power Facilities page</a><br>
            <a href="{{ url_for('views.storage_facilities') }}">Storage Facilities page</a><br>
            {% if not user or user.achievements.warehouse %}
              <a href="{{ url_for('views.extraction_facilities') }}">Extraction Facilities page</a><br>
            {% else %}
              (locked)<br>
            {% endif %}
            <a href="{{ url_for('views.functional_facilities') }}">Functional Facilities page</a>
          </td>
        </tr>
        <tr>
          <td>Researches</td>
          <td><a href="{{ url_for('wiki.render_template_wiki', template_name='technologies') }}">Technologies</a></td>
          <td>
            {% if not user or user.functional_facility_lvl.laboratory > 0 %}
              <a href="{{ url_for('views.technology') }}">Technology page</a>
            {% else %}
              (locked)
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Shipments</td>
          <td><a href="{{ url_for('wiki.render_template_wiki', template_name='resources', _anchor='Resource_Market') }}">Resource Market</a></td>
          <td>
            {% if not user or user.achievements.warehouse %}
              <a href="{{ url_for('views.resource_market') }}">Resource Market page</a> 
            {% else %}
              (locked)
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
  </p>

  <h3>Project Properties</h3>
  <p>Projects have the following properties:</p>
  <ul>
    <li>Price: The initial investment cost, paid at the start of the project</li>
    <li>Duration: The time required to complete the project</li>
    <li>Power consumption: The power consumed throughout the duration of the project</li>
    <li>CO<sub>2</sub> emissions (only for constructions): The CO<sub>2</sub> emissions produced throughout the duration of the project</li>
  </ul>
  <div class="graph-container">
    <img src="{{ url_for('static', filename='images/wiki/example_project.png') }}"
         class="large"
         alt="Example of a project">
  </div>

  <h2>Managing Projects</h2>
  <h3>Workers</h3>
  <img src="{{ url_for('static', filename='images/wiki/worker_count_example.png') }}"
        class="graph-container small"
        alt="Example of the worker section">
  <p>
    There are two types of workers:
    <ul>
      <li><strong>Construction Workers:</strong> work on construction projects</li>
      <li><strong>Research Workers:</strong> work on research projects</li>
    </ul>
    Players can queue arbitrarily many projects at any time, but only projects with assigned workers will progress. Each 
    worker focuses on a single project at a time, and each project can be worked on by at most one worker. When a worker 
    finishes their assigned project, it will automatically start working on the next project it finds one that can be started. 
  </p>
  <p>
    Note: shipments do not require workers - all resources start shipment immediately after the order is placed ant it cannot be interrupted.
  </p>
  <p>
    Every player starts with one construction worker and, after building a 
    <a href="{{ url_for('views.functional_facilities', _anchor='Laboratory') }}">Laboratory</a>,
    one research worker. 
    <br>
    Researching 
    {% if user and user.achievements.laboratory %}
    <a href="{{ url_for('views.technology', _anchor='Building Technology') }}">Building Technology</a>
    {% else %}Building Technology{% endif %}
    will unlock additional construction workers, and increase the speed of construction projects.
    <br>
    Upgrading the <a href="{{ url_for('views.functional_facilities', _anchor='Laboratory') }}">Laboratory</a> will 
    unlock additional research workers (every third upgrade), and increase the speed of research projects.
  </p>

  <h3>Tracking Project Progression</h3>
  <p>
    Players can keep track of project progress through the <a href="{{ url_for('views.home') }}">Dashboard</a>.
  </p>
  <div class="graph-container">
  {# TODO: Make a screenshot with a slowed down construction #}
    <img src="{{ url_for('static', filename='images/wiki/dashboard_project_progress_example.png') }}"
         class="large"
         alt="Example of the dashboard">
  </div>
  <p>
    If the energy demand for a project is not met, progress will be slow down or stall. The progress bar turns orange or
    red, and a snail icon appears next to the project. Projects resume and return to normal speed once their energy 
    demand is met.
  </p>
  <h4>Setting Priorities</h4>
  <p>
    Players can set the priority of their construction and research projects using the up and down triangle buttons to 
    the left of each project. Workers will always try to work on the project with highest priority.
  </p>
  {# Maybe a note about prerequisites for research projects here #}
  <h4>Pausing Projects</h4>
  <p>
    Constructions and research projects can be paused and resumed at any time using the pause and play buttons to the
    right of each project. When paused, a project does not consume power nor produce emissions, and the assigned worker 
    is freed up to work on other projects. Pausing a project which consumes a lot of power can be a good way to manage 
    power consumption. Shipments cannot be paused.
  </p>
  <h4>Cancelling Projects</h4>
  <p>
    Constructions and research projects can be cancelled at any time using the cross to the right of each project. If 
    cancelled immediately after starting it, 80% of the projects's price will be refunded, with a proportionally 
    decreasing refund as the project progresses. Shipments cannot be cancelled.
  </p>

  
  <h2>Managing Active Facilites</h2>
  <p>
    Once a construction project is completed, it becomes an active facility. They are listed on the
    <a href="{{ url_for('views.profile') }}">Profile</a> page.
  </p>
  <div class="graph-container">
    <img src="{{ url_for('static', filename='images/wiki/active_facilities_example.png') }}"
         class="large"
         alt="Example of the dashboard">
  </div>
  <h3 id="O&M_costs">Operation and Maintenance Cost</h3>
  <p>
    Each power, storage, and extraction facility incurs operational and maintenance costs. For renewable power 
    facilities and storage facilities, these costs are fixed, while for controllable power facilities and extraction 
    facilities, there is both a fixed and a variable component. The fixed costs represent 20% of the total O&M costs, 
    while the variable costs, dependent on the power production / consumption of the facility, constitute the remaining 
    80%. As an exception, nuclear facilities, such as the Nuclear Reactor and Gen4 Nuclear, differ in that they have a 
    fixed cost fraction of 50%. The O&M costs provided for each facility in the power facilities page are based on 100% 
    power production / consumption.
  </p>
  <p>
    Players can keep track of their O&M costs over time through the 
    <a href="{{ url_for('overviews.revenues') }}">
    Revenues</a> graphs.
  </p>
  <h3>Upgrades</h3>
  <p>
    When a new research project is completed that affects the properties of certain facilities, the effect do 
    not automatically apply to active facilities or facilities under construction. Players must 
    individually upgrade these facilities using the Upgrade button. Many upgrades also increase the O&M costs and price 
    of the facility and this is why the upgrades cost money.
  </p>
  <h3>Lifespan of a Facility</h3>
  <p>
    Power, storage and extraction facilities have an operational lifespan. At the end of its lifespan, a facility is 
    decommissioned at a cost of 20% of its original price. Facilities can be decommissioned at any time before the end 
    of their lifespan by pressing the Dismantle button. Storage Facilities will empty their content 
    before being decommissioned.
  </p>

</div>

{% endblock wiki_content %}