{% extends "base.jinja" %}
{% block title %}
  Power facilities
{% endblock title %}
{% block content %}
  <div class="flex-row huge title">
    Power facilities
    <div class="pine info_icon_container"
         onclick="document.getElementById('info_popup').classList.remove('hidden');">{{ wikiImage() }}</div>
  </div>
  <div id="info_popup" class="popup hidden green">
    <div class="flex-row margin-small align-items-center">
      <div class="large txt_center flex-grow-1">Help : Power facilities</div>
      <div onclick="document.getElementById('info_popup').classList.add('hidden');"
           class="cross pine margin-small"
           style="width:39px">×</div>
    </div>
    <div class="margin medium">
      <p>On this page you will find all the facilities that generate electricity and their respective information.</p>
      <p>
        When clicking on a specific tile, it will extend the tile and show you more information about the facility aswell 
        as a button to start the construction of the facility.
      </p>
      <p>
        Some facilities might be locked and require certain technologies to be unlocked. To research technologies, you 
        need a laboratory.
      </p>
        For more information about power facilites, refer to
        <a href="{{ url_for('wiki.render_template_wiki', template_name='power_facilities') }}">this section in the wiki</a>.
      </p>
    </div>
  </div>
  <div id="under_construction">{# Facilites under construction will show here #}</div>
  {% for facility_data in constructions %}
    {% set facility = facility_data.name %}
    <div id="{{ facility }}"
         class="bone margin facility small"
         onclick="show_construction('{{ facility }}');">
      <div class="flex-col flex-grow-1">
        <div style="width:100%" class="flex-row">
          {% set png_extensions = ["combined_cycle", "nuclear_reactor_gen4", "steam_engine"] %}  
          {% set image_extension = "png" if facility in png_extensions else "jpg" %}
          <img class="img"
               src="{{ url_for('static', filename='images/power_facilities/'+facility+'.'+image_extension) }}"
               width="250"
               height="167"
               alt="{{ facility_data.display_name }} power plant">
          <div class="infotext padding">
            <div class="flex-row align-items-center">
              {# Facility name #}
              <strong class="large">{{ facility_data.display_name }}</strong>
              {# Wikipedia icon #}
              <a class="white wikipedia_icon_container no_deco"
                 href="{{ facility_data.wikipedia_link }}"
                 target="_blank">
                <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
              </a>
              {# Construction Cost #}
              <span id="price" class="money_font"></span>
              <script>document.currentScript.previousElementSibling.innerHTML = format_money_long({{ facility_data.price }});</script>
            </div>
            <div class="infobox">
              {# Description & indicators #}
              <div class="infotext">
                <div id="facility_description" class="constrain_description_txt">
                  {{ facility_data.description }}
                </div>
                {# Wind Indicator #}
                {% if facility in ["windmill", "onshore_wind_turbine", "offshore_wind_turbine"] %}
                  <br>
                  <em class="txt-blue">
                    <i class="fa fa-info-circle"></i> Wind potential : <strong>{{ (user.tile.wind*100)|int }}%</strong>
                  </em>
                {% endif %}
                {# Solar Indicator #}
                {% if facility in ["CSP_solar", "PV_solar"] %}
                  <br>
                  <em class="txt-blue">
                    <i class="fa fa-info-circle"></i> Solar potential : <strong>{{ (user.tile.solar*100)|int }}%</strong>
                  </em>
                {% endif %}
                {# Hydro Location Availability Indicator #}
                {% if facility in ["watermill", "small_water_dam", "large_water_dam"] %}
                  <br>
                  <em class="txt-blue">
                    <i class="fa fa-info-circle"></i> Hydro potential : <strong>{{ (user.tile.hydro*100)|int }}%</strong>
                  </em>
                {% endif %}
                {# Resource Indicator #}
                {% for resource in ["gas", "coal", "uranium"] %}
                  {# TODO: change the following line to use facility_data.consumed_resources #}
                  {% if facility in {"gas": ["gas_burner", "combined_cycle"], "coal": ["coal_burner", "combined_cycle"], "uranium": ["nuclear_reactor", "nuclear_reactor_gen4"]}[resource] %}
                    <br>
                    <em class="txt-blue">
                      <i class="fa fa-info-circle"></i> Current stock of {{ resource }} :
                      <strong></strong>
                      <script>document.currentScript.previousElementSibling.innerHTML = format_mass({{ user[resource] }});</script>
                    </em>
                  {% endif %}
                {% endfor %}
              </div>
              {# Requirements #}
              <div class="infobox requirements"
                   {% if facility_data.requirements_status == "satisfied" %}style="display:none"{% endif %}" 
                   id="requirements">
                {% if facility_data.requirements_status != "satisfied" %}
                  <div>
                    <strong>Unlock with :</strong>
                    <br>
                    <ul id="requirements_list" class="navbar-nav">
                      {% for requirement in facility_data["requirements"] %}
                        {% if requirement.name == "mechanical_engineering" %}
                          {% set tech_name = "Mech. engineering" %}
                        {% else %}
                          {% set tech_name = requirement.display_name %}
                        {% endif %}
                        <li class="padding-small requirement-{{ requirement.status }}">
                        - {{ tech_name }} lvl {{ requirement.level }}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {# Construction information for big screen #}
        <div id="constructionContent" class="hidden">
          <div class="flex-col construction_button_container hidden">
            {% if facility_data.requirements_status == "unsatisfied" %}
              <b class="padding medium margin txt_center white txt-red"
                 onclick="start_construction('{{ facility }}', 'Power facilities');">
                Locked
              </b>
            {% else %}
              <b class="padding medium button margin txt_center white"
                 onclick="start_construction('{{ facility }}', 'Power facilities');">
                Start construction
              </b>
            {% endif %}
          </div>
          <div class="construction_info">
            <span class="hover_info">
              <i class="fa fa-clock-o"></i>&ensp;
              <strong></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_duration({{ facility_data.construction_time }});</script>
              <span class="popup_info small">Duration in-game (real)</span>
            </span>
            <span class="hover_info">
              <i class="fa fa-bolt"></i>&ensp;
              <strong id="construction_power"></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_power({{ facility_data.construction_power }});</script>
              <span class="popup_info small">Power consumption</span>
            </span>
            <span class="hover_info">
              <i class="fa fa-cloud"></i>&ensp;
              <strong></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_mass({{ facility_data.construction_pollution }}) + " CO<sub>2</sub>";</script>
              <span class="popup_info small">CO<sub>2</sub> emissions</span>
            </span>
          </div>
        </div>
      </div>
      <div class="infobox information_container">
        {# Construction information for smartphone #}
        <div id="constructionContent_smartphone" class="hidden margin">
          <div class="flex-col">
            {% if facility_data.requirements_status == "unsatisfied" %}
              <b class="padding medium margin txt_center white txt-red"
                 onclick="event.stopPropagation(); start_construction('{{ facility }}', 'Power facilities');">
                Locked
              </b>
            {% else %}
              <b class="padding medium button margin txt_center white"
                 onclick="event.stopPropagation(); start_construction('{{ facility }}', 'Power facilities');">
                Start construction
              </b>
            {% endif %}
          </div>
          <div class="construction_info">
            <span class="hover_info">
              <i class="fa fa-clock-o"></i>&ensp;
              <strong id="construction_time"></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_duration({{ facility_data.construction_time }});</script>
              <span class="popup_info small">Duration in-game (real)</span>
            </span>
            <span class="hover_info">
              <i class="fa fa-bolt"></i>&ensp;
              <strong></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_power({{ facility_data.construction_power }});</script>
              <span class="popup_info small">Power consumption</span>
            </span>
            <span class="hover_info">
              <i class="fa fa-cloud"></i>&ensp;
              <strong id="construction_pollution"></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_mass({{ facility_data.construction_pollution }}) + " CO<sub>2</sub>";</script>
              <span class="popup_info small">CO<sub>2</sub> emissions</span>
            </span>
          </div>
        </div>
        {# Power Facility Data #}
        <div id="infotable"
             class="{% if facility_data.ramping_speed is not none %}minimized minimizable{% endif %}">
          <table class="table tan_green">
            {# Max Generation #}
            <tr>
              <td>Max generation</td>
              <td class="txt_center">
                <strong id="power_generation"></strong>
                <script>document.currentScript.previousElementSibling.innerHTML = format_power({{ facility_data.power_generation }});</script>
              </td>
            </tr>
            {# Ramping Speed #}
            {% if facility_data.ramping_speed is not none %}
              <tr>
                <td>Ramping speed</td>
                <td class="txt_center">
                  <strong id="ramping_speed"></strong>
                  <script>document.currentScript.previousElementSibling.innerHTML = format_power({{ facility_data.ramping_speed }}) + "/min";</script>
                </td>
              </tr>
            {% endif %}
            {# O&M Costs #}
            <tr>
              <td>Operation cost</td>
              <td class="txt_center">
                <strong id="operating_costs"></strong>
                <script>document.currentScript.previousElementSibling.innerHTML = format_money({{ facility_data.operating_costs }}) + "/h";</script>
              </td>
            </tr>
            {# Capacity factor #}
            {% if facility_data.capacity_factor %}
              <tr>
                <td>Capacity factor</td>
                <td class="txt_center">
                  <strong>{{ facility_data.capacity_factor }}</strong>
                </td>
              </tr>
            {% endif %}
            {# Resource Consumption #}
            {% for resource, amount in facility_data.consumed_resources.items() %}
              {% if resource in ["coal", "gas", "uranium"] %}
                <tr>
                  {# TODO: simplify the below using a dictionary to get the display name #}
                  {% if resource == "uranium" %}
                    <td>Uran. consumption</td>
                  {% else %}
                    <td>{{ resource[0]|upper|upper + resource[1:] }} consumption</td>
                  {% endif %}
                  <td class="txt_center">
                    <strong id="{{resource}}_consumption">
                      {% if resource == "uranium" %}
                        {% if facility == "nuclear_reactor" %}
                          {{ (1000 * amount)|int }} g/MWh
                        {% else %}
                          {{ (1000 * amount)|round(2) }} g/MWh
                        {% endif %}
                      {% endif %}
                    </strong>
                    {% if resource != "uranium" %}
                      <script>document.currentScript.previousElementSibling.innerHTML = format_mass({{ amount }}) + "/MWh";</script>
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
            {# CO2 Emssions #}
            {% if facility_data.pollution is defined %}
              <tr>
                <td>CO<sub>2</sub> emissions</td>
                <td class="txt_center">
                  <strong id="pollution"></strong>
                  <script>document.currentScript.previousElementSibling.innerHTML = format_mass({{ facility_data.pollution }}) + "/MWh";</script>
                </td>
              </tr>
            {% endif %}
            {# lifespan #}
            <tr>
              <td>Lifespan</td>
              <td class="txt_center">
                <strong id="lifespan"></strong>
                <script>document.currentScript.previousElementSibling.innerHTML = format_days({{ facility_data.lifespan }}) + " days";</script>
              </td>
            </tr>
          </table>
          <div class="overlay {% if facility_data.ramping_speed is none %}hidden{% endif %}"></div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock content %}
{% block additionnal_script %}
  <script src="{{ url_for('static', filename='click_construction.js') }}"></script>
  <script src="{{ url_for('static', filename='progress_bar.js') }}"></script>
  <script>refresh_progressBar()</script>
{% endblock additionnal_script %}
