{% extends "base.jinja" %}
{% block title %}
  Technologies
{% endblock title %}
{% block content %}
  <div class="flex-row huge title">
    Technologies
    <div class="pine info_icon_container"
         onclick="document.getElementById('info_popup').classList.remove('hidden');">
      {{ wikiImage() }}
    </div>
  </div>
  <div id="info_popup" class="popup hidden green">
    <div class="flex-row margin-small align-items-center">
      <div class="large txt_center flex-grow-1">Help : Technologies</div>
      <div onclick="document.getElementById('info_popup').classList.add('hidden');"
           class="cross pine margin-small"
           style="width:39px">×</div>
    </div>
    <div class="margin medium">
      <p>
        Here you can find all the technologies that can be researched thanks to the laboratory and their specific information. 
      </p>
      <p>
        Each technology has a unique effect on a given set of facilities. 
        When clicking on a specific tile, it will extend the tile and show you more information about the technology aswell 
        as a button to start the research.
      </p>
      <p>
        Technologies usually require specific levels of other technologies or laboratory to be researched.
      </p>
      <p>
        For more information about Technologies, refer to 
        <a href="{{ url_for('wiki.render_template_wiki', template_name='technologies') }}">this section in the
          wiki
        </a>.
      </p>
    </div>
  </div>
  <div id="under_construction">
    {# Technologies currently researched will show here #}
  </div>
  {% for facility in ["mathematics", "mechanical_engineering", "thermodynamics", "physics", "building_technology",
    "mineral_extraction", "transport_technology", "materials", "civil_engineering", "aerodynamics", "chemistry",
    "nuclear_engineering"] %}
    {% set technology_data = available_technologies[facility] %}
    {% set technology = facility %}
    {# TODO: remove the above for loop and replace this line #}
    {% set const_data = engine.const_config["assets"][facility] %}
    <div id="{{ technology_data.display_name }}"
         class="bone margin facility small"
         onclick="show_construction('{{ technology_data.display_name }}');">
      <div class="flex-col flex-grow-1">
        <div style="width:100%" class="flex-row">
          <img class="img"
               src="{{ url_for('static', filename='images/technologies/'+technology+'.jpg') }}"
               width="250"
               height="167"
               alt="{{ technology_data.display_name }} power plant">
          <div class="infotext padding">
            <div class="flex-row align-items-center">
              {# Technology name #}
              <strong class="large">{{ technology_data.display_name }}</strong>
              &ensp; lvl.&thinsp;<em id="lvl" class="large">{{ technology_data.level }}</em>
              {# Wikipedia icon #}
              <a class="white wikipedia_icon_container no_deco"
                 href="{{ technology_data.wikipedia_link }}"
                 target="_blank">
                <img src='/static/images/icons/vvz.ico' class='coin'>
              </a>
              {# Construction Cost #}
              <span id="price" class="money_font"></span>
              <script>document.currentScript.previousElementSibling.innerHTML = format_money_long(
                {{ technology_data.price }}
                );
              </script>
            </div>
            <div class="infobox">
              {# Description & affected facilities #}
              <div class="infotext">
                {{ technology_data.description }}
                <br class="smartphone_hide">
                {% if technology_data.affected_facilities | length > 0 %}
                  {# this looks like it needs some rework#}
                  {% if not (technology_data.locked and technology in
                    ["materials", "mechanical_engineering", "thermodynamics", "physics"]) %}
                    <br>
                  {% endif %}
                  Affected facilities :
                  {% for affected in technology_data.affected_facilities[:-1] %}
                    <em class="txt-blue">{{ affected }}</em> ,
                  {% endfor %}
                  <em class="txt-blue">{{ technology_data.affected_facilities[-1] }}</em>
                {% endif %}
                {% if technology == "building_technology" %}
                  <br>
                  Affected facilities :
                  <em class="txt-blue">All power, storage, extraction and functional facilities</em>
                {% endif %}
                {% if technology == "transport_technology" %}
                  <br>
                  Affects : <em class="txt-blue">Shipments of resources</em>
                {% endif %}
              </div>
              {# Requirements #}
              {% if true %}
                <div class="infobox requirements" id="requirements">
                  <div>
                    <strong>Unlock with :</strong>
                    <br>
                    <ul class="navbar-nav">
                      {% for requirement in technology_data.requirements %}
                        {% if requirement.name == "mechanical_engineering" %}
                          {% set tech_name = "Mech. engineering" %}
                        {% else %}
                          {% set tech_name = requirement.display_name %}
                        {% endif %}
                        <li class="padding-small requirement-{{ requirement.status }}">
                        - {{ tech_name }} lvl {{ requirement.level }}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        {# Construction information for big screen #}
        <div id="constructionContent" class="hidden">
          <div class="flex-col construction_button_container hidden">
            {% if technology_data.requirements_status == "unsatisfied" %}
              <b class="padding medium margin txt_center white txt-red"
                 onclick="start_construction('{{ technology }}', 'Technologies');">
                Locked
              </b>
            {% else %}
              <b class="padding medium button margin txt_center white"
                 onclick="start_construction('{{ technology }}', 'Technologies');">
                {% if technology_data.requirements_status == "satisfied" %}
                  Start research
                {% else %}
                  Queue research
                {% endif %}    
              </b>
            {% endif %}
          </div>
          <div class="construction_info">
            <span class="hover_info">
              <i class="fa fa-clock-o"></i>&ensp;
              <strong></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_duration(
                {{ technology_data.construction_time }}
                );
              </script>
              <span class="popup_info small">Duration in-game (real)</span>
            </span>
            <span class="hover_info">
              <i class="fa fa-bolt"></i>&ensp;
              <strong></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_power(
                {{ technology_data.construction_power }}
                );
              </script>
              <span class="popup_info small">Power consumption</span>
            </span>
          </div>
        </div>
      </div>
      <div class="infobox information_container">
        {# Construction information for smartphone #}
        <div id="constructionContent_smartphone" class="hidden margin">
          <div class="flex-col">
            {% if technology_data.requirements_status == "unsatisfied" %}
              <b class="padding medium margin txt_center white txt-red"
                 onclick="event.stopPropagation(); start_construction('{{ technology }}', 'Technologies');">
                Locked
              </b>
            {% else %}
              <b class="padding medium button margin txt_center white"
                 onclick="event.stopPropagation(); start_construction('{{ technology }}', 'Technologies');">
                {% if technology_data.requirements_status == "satisfied" %}
                  Start research
                {% else %}
                  Queue research
                {% endif %}    
              </b>
            {% endif %}
          </div>
          <div class="construction_info">
            <span class="hover_info">
              <i class="fa fa-clock-o"></i>&ensp;
              <strong></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_duration(
                {{ technology_data.construction_time }}
                );
              </script>
              <span class="popup_info small">Duration in-game (real)</span>
            </span>
            <span class="hover_info">
              <i class="fa fa-bolt"></i>&ensp;
              <strong></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_power(
                {{ technology_data.construction_power }}
                );
              </script>
              <span class="popup_info small">Power consumption</span>
            </span>
          </div>
        </div>
        {# Upgrade information #}
        <div id="infotable"
             class="{% if technology in ['thermodynamics', 'mineral_extraction', 'chemistry'] %} minimized minimizable {% endif %}">
          {% if technology != "mathematics" %}
            <table class="table tan_green">
              <tr>
                <th>Effects :</th>
                <th id="upgrade" class="txt_center">
                  lvl {{ technology_data.level-1 }} -> lvl {{ technology_data.level }}
                </th>
              </tr>
              {% macro render_effect_row(label, data_key, sign="+", precision=0, suffix="%", hover_info="", round_value=True) %}
                {% if data_key in technology_data %}
                  <tr>
                    <td>{{ label }}</td>
                    <td class="txt_center{% if hover_info %} hover_info{% endif %}">
                      {% if round_value %}
                        {{ sign }}{{ technology_data[data_key] | round(precision) }}{{ suffix }}
                      {% else %}
                        {{ sign }}{{ technology_data[data_key] }}{{ suffix }}
                      {% endif %}
                      {% if hover_info %}
                        <span class="popup_info small">{{ hover_info }}</span>
                      {% endif %}
                    </td>
                  </tr>
                {% endif %}
              {% endmacro %}
              {% macro render_change_row(label, current_key, upgraded_key) %}
                {% if current_key in technology_data and upgraded_key in technology_data %}
                  <tr>
                    <td>{{ label }}</td>
                    <td class="txt_center">
                      {{ technology_data[current_key] }} -> {{ technology_data[upgraded_key] }}
                    </td>
                  </tr>
                {% endif %}
              {% endmacro %}
              {{ render_effect_row('Power generation', 'power_generation_bonus') }}
              {{ render_effect_row('Extraction speed', 'extraction_speed_bonus') }}
              {{ render_effect_row("Fuel use", "fuel_use_reduction_bonus", sign="-", precision=1) }}
              {{ render_effect_row("CO<sub>2</sub> emissions", "co2_emissions_reduction_bonus", sign="-", precision=1) }}
              {{ render_effect_row("Effic. molten salt", "molten_salt_efficiency_bonus", suffix="pp", precision=1, hover_info="percentage point") }}
              {{ render_effect_row("Construction time", "construction_time_reduction_bonus", sign="-") }}
              {{ render_change_row('Constrtruct. workers', 'construction_workers.current', 'construction_workers.upgraded') }}
              {{ render_effect_row("Shipment time", "shipment_time_reduction_bonus", sign="-") }}
              {{ render_effect_row("Power consumption", "power_consumption_reduction_bonus", sign="+") }}
              {{ render_effect_row("Power consumption", "power_consumption_penalty", sign="+") }}
              {{ render_effect_row("CO<sub>2</sub> emissions", "co2_emissions_penalty", sign="+") }}
              {{ render_effect_row('Storage capacity', 'storage_capacity_bonus') }}
              {{ render_effect_row("Efficiency hydrogen", "hydrogen_efficiency_bonus", suffix="pp", precision=2, hover_info="percentage point") }}
              {{ render_effect_row("Efficiency Li-ion", "lithium_ion_efficiency_bonus", suffix="pp", precision=2, hover_info="percentage point") }}
              {{ render_effect_row("Efficiency solid state", "solid_state_efficiency_bonus", suffix="pp", precision=2, hover_info="percentage point") }}
              {{ render_effect_row("Price", "price_penalty", sign="+") }}
              {{ render_effect_row("Price", "price_reduction_bonus", sign="") }}
              {{ render_effect_row("Construction power", "construction_power_reduction_bonus", sign="-") }}
            </table>
            <div class="overlay {% if facility not in ['thermodynamics', 'mineral_extraction', 'chemistry'] %}hidden{% endif %}">
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock content %}
{% block additionnal_script %}
  <script src="{{ url_for('static', filename='click_construction.js') }}"></script>
  <script src="{{ url_for('static', filename='lvlup_display.js') }}"></script>
  <script src="{{ url_for('static', filename='progress_bar.js') }}"></script>
  <script>refresh_progressBar()</script>
{% endblock additionnal_script %}
