.navbar {
    width: 15%;
    min-width: 160px;
    max-width: 230px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--color-green);
    padding: 10px;
    gap: 10px;
}

.navbar-item {
    box-sizing: border-box;
    height: 45px;
    background-color: var(--color-tan-green);
    color: var(--text-on-light);
    /* Remove underline for links */
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    /* transition: background-color 0.2s ease, color 0.2s ease; */
    transition: background-color 0.1s ease;
    box-shadow: 0px 0px 5px var(--color-pine);
}

.navbar-item:hover {
    background-color: var(--color-green);
    /* A scale effect - the button gets slightly larger when hovered */
    /* transform: scale(1.02); */
}

.navbar-item.active {
    background-color: var(--color-pine);
    font-weight: bold;
    box-shadow: inset 0px 0px 5px black;
}