{% extends "head.jinja" %}
{% block base %}
<div class="logo_container flex-row">
  <img src="{{ url_for('static', filename='images/icon.svg') }}"
        class="logo small"
        style="margin-left:7px" />
  <span class="logo_txt topleft">Energetica</span>
</div>
{% if user != None %}
<div class="topRight_info">
  <div class="resources medium tan_green">
    <div class="money_font large money">
      {# TODO (Felix): Create a selector for the account to observe #}
    </div>
  </div>
</div>


<nav class="navbar medium">

  <div class="tan_green flex-row main_dropdown">
    <a class="flex-row no_deco"
        href="{{ url_for('views.home') }}"
        style="align-items:center">
      <img class="navbar-logo logo"
            src="{{ url_for('static', filename='images/icon.svg') }}"
            alt="Energetica logo">
      <span class="logo_txt small">Energetica</span>
    </a>
    <b onclick="expand_menu('navbar')">
      <span class="navbar-toggler-icon margin"><i class="fa fa-bars" id="dropdown-navbar"></i></span>
    </b>
  </div>

  <div class="navbar-collapse" id="menu-navbar">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="navbar_item tan_green flex-row" id="home" href="{{ url_for('views.home') }}">
          <img src="{{ url_for('static', filename='images/icons/dashboard.png') }}"
                class="navbar_icon margin-small" />
          <span style="padding:8px 0">Dashboard</span>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="navbar_item tan_green flex-row"
            id="production_overview"
            onclick="expand_menu('overview')">
          <img src="{{ url_for('static', filename='images/icons/dropdown.png') }}"
                class="navbar_icon margin-small"
                id="dropdown-overview" />
          <span style="padding:8px 0">Production Overview</span>
        </a>
        <div class="dropdown-menu" id="menu-overview">

          <a class="navbar_item bone flex-row"
              id="production_overview"
              href="{{ url_for('overviews.revenues') }}">
            <img src="{{ url_for('static', filename='images/icons/revenues.png') }}"
                  class="navbar_icon margin-small" />
            <span style="padding:8px 0">Revenues</span>
          </a>

          <a class="navbar_item bone flex-row"
              id="production_overview"
              href="{{ url_for('overviews.electricity') }}">
            <img src="{{ url_for('static', filename='images/icons/power_facilities.png') }}"
                  class="navbar_icon margin-small" />
            <span style="padding:8px 0">Electricity</span>
          </a>

          <a class="navbar_item bone flex-row"
              id="production_overview"
              href="{{ url_for('overviews.storage') }}">
            <img src="{{ url_for('static', filename='images/icons/storage_facilities.png') }}"
                  class="navbar_icon margin-small" />
            <span style="padding:8px 0">Storage</span>
          </a>

          <a class="navbar_item bone flex-row"
              id="production_overview"
              href="{{ url_for('overviews.resources') }}">
            <img src="{{ url_for('static', filename='images/icons/resources.png') }}"
                  class="navbar_icon margin-small" />
            <span style="padding:8px 0">Resources</span>
          </a>

          <a class="navbar_item bone flex-row"
              id="production_overview"
              href="{{ url_for('overviews.emissions') }}">
            <img src="{{ url_for('static', filename='images/icons/emissions.png') }}"
                  class="navbar_icon margin-small" />
            <span style="padding:8px 0">Emissions</span>
          </a>

        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="navbar_item tan_green flex-row position_relative"
            id="community"
            onclick="expand_menu('community')">
          <img src="{{ url_for('static', filename='images/icons/dropdown.png') }}"
                class="navbar_icon margin-small"
                id="dropdown-community" />
          <span style="padding:8px 0">Community</span>
        </a>
        <div class="dropdown-menu" id="menu-community">

          <a class="navbar_item bone flex-row position_relative" id="messages" href="{{ url_for('views.messages') }}">
            <img src="{{ url_for('static', filename='images/icons/messages.png') }}"
                  class="navbar_icon margin-small" />
            <span style="padding:8px 0">Messages</span>
          </a>

          <a class="navbar_item bone flex-row" id="network" href="{{ url_for('views.network') }}">
            <img src="{{ url_for('static', filename='images/icons/network.png') }}"
                class="navbar_icon margin-small" />
            <span style="padding:8px 0">Network</span>
          </a>

          <a class="navbar_item bone flex-row" id="map" href="{{ url_for('views.map_view') }}">
            <img src="{{ url_for('static', filename='images/icons/map.png') }}"
                class="navbar_icon margin-small" />
            <span style="padding:8px 0">Map</span>
          </a>

          <a class="navbar_item bone flex-row"
            id="resource_market"
            href="{{ url_for('views.scoreboard') }}">
            <img src="{{ url_for('static', filename='images/icons/scoreboard.png') }}"
                class="navbar_icon margin-small" />
            <span style="padding:8px 0">Scoreboard</span>
          </a>

        </div>
      </li>

      <li class="nav-item">
        <a class="navbar_item tan_green flex-row"
            id="resource_market"
            href="{{ url_for('views.resource_market') }}">
          <img src="{{ url_for('static', filename='images/icons/resource_market.png') }}"
                class="navbar_icon margin-small" />
          <span style="padding:8px 0">Resources Market</span>
        </a>
      </li>

      <li class="nav-item only_smartphone">
        <a class="navbar_item tan_green flex-row" id="wiki" href="{{ url_for('wiki.render_template_wiki', template_name='introduction') }}">
          <img src="{{ url_for('static', filename='images/icons/wiki.png') }}"
                class="navbar_icon margin-small" />
          <span style="padding:8px 0">Game Wiki</span>
        </a>
      </li>

      <li class="nav-item only_smartphone">
        <a class="navbar_item tan_green flex-row" id="changelog" href="{{ url_for('changelog.render_changelog') }}">
          <img src="{{ url_for('static', filename='images/icons/changelog.png') }}"
                class="navbar_icon margin-small" />
          <span style="padding:8px 0">Changelog</span>
        </a>
      </li>

      <li class="nav-item">
        <a onclick="sessionStorage.clear();" class="navbar_item tan_green flex-row" id="logout" href="{{ url_for('auth.logout') }}">
          <img src="{{ url_for('static', filename='images/icons/logout.png') }}"
                class="navbar_icon margin-small" />
          <span style="padding:8px 0">Logout</span>
        </a>
      </li>

    </ul>
  </div>
</nav>
{% endif %}

<div id="main_container" class="main_container tan_green">
  {% block content %}
  {% endblock content %}
</div>
{% endblock base %}
{% block scripts %}
  <script>let first_tick_time = {{engine.first_tick_time.timestamp()}};</script>
  <script>
    const navigationEntry = performance.getEntriesByType("navigation")[0];
    if (navigationEntry && navigationEntry.type === "reload")
      sessionStorage.clear();
  </script>
  <script src="{{ url_for('static', filename='interactive_nav_bar.js') }}"></script>
  <script src="{{ url_for('static', filename='notifications.js') }}"></script>
  {% block additional_script %}
  {% endblock additional_script %}
{% endblock scripts %}
