{# TODO: a bunch of href's here use explicit locations. These should be changed to url_for to align with rest of code #}
{% extends "admin_base.jinja" %}
{% block title %}
    Admin Dashboard
{% endblock title %}
{% block content %}
    <div class="flex-row huge title">
        Admin Dashboard
        <div class="pine info_icon_container"
             onclick="document.getElementById('info_popup').classList.remove('hidden');">{{ wikiImage() }}</div>
    </div>
    <div id="info_popup" class="popup hidden green">
        <div class="flex-row margin-small align-items-center">
            <div class="large txt_center flex-grow-1">Help : Admin Dashboard</div>
            <div onclick="document.getElementById('info_popup').classList.add('hidden');"
                 class="cross pine margin-small"
                 style="width:39px">×</div>
        </div>
        <div class="margin medium">
            <p>
                TODO
            </p>
        </div>
    </div>

    <div class="info_message medium margin padding">
        <i class="fa fa-info-circle info-circle"></i>
        <div class="padding-small">
            🚧 This game is still under development! 🚧 Join the <img src='/static/images/icons/WhatsApp.svg' class='coin' alt='coin'><a href="https://chat.whatsapp.com/ILiTJvsOMb2K6ZvRi1WCOn">Energetica 
            Community</a> to stay updated with the latest news, report bugs, and engage with the community. 
            You can also contact me directly if you have questions (felixvonsamson@gmail.com)<br>
        </div>
    </div>

    <div class="bone padding margin">
        <h1 class="txt_center">Current weather conditions</h1>
        TODO: the weather depends on the location but some information could probably still be displayed here
    </div>

    <div>
        TODO: have some information about all players with clickable links to their graphs.
    </div>

    {# overview infos and links #}
    <div class="dashboard_overview_container">
        <a href="/production_overview/revenues">
            <h2 class="txt_center">Revenues</h2>
        </a>
        <a href="/production_overview/electricity">
            <h2 class="txt_center">Power Production</h2>
        </a>
        <a href="/production_overview/storage">
            <h2 class="txt_center">Stored Energy</h2>
        </a>
        <a href="/production_overview/emissions">
            <h2 class="txt_center">Emissions</h2>
        </a>
        <a href="/network">
            <h2 class="txt_center">Market Prices</h2>
        </a>
        <a href="/resource_market">
            <h2 class="txt_center">Resource Market</h2>
        </a>
        <a href="/scoreboard">
            <h2 class="txt_center">Ranking</h2>
        </a>
    </div>

    <br>
    <br>

{% endblock content %}