{% extends "head.jinja" %}
{% block title %}
  Login
{% endblock title %}
{% block base %}
  <div class="logo_txt large">Energetica</div>
  <div class="flex-space-around background">
    <img src="{{ url_for('static', filename='images/icon.svg') }}"
         class="logo" />
    <img src="{{ url_for('static', filename='images/icon.svg') }}"
         class="logo" />
  </div>

  <div class="game_info bone padding txt_center button">
    {# link to landing page #}
    <a href="{{ url_for('landing.landing_page') }}" class="no_deco medium">Learn more about Energetica</a>
  </div>
  <div class="login_box">
    <form id="login-form" class="tan_green padding-large medium">
      <div class="huge txt_center">Login</div>
      <label for="username">Username</label>
      <input type="text"
             class="input medium"
             id="username"
             name="username"
             placeholder="Enter username" />
      <label for="password">Password</label>
      <input type="password"
             class="input medium"
             id="password"
             name="password"
             placeholder="Enter password" />
      <div class="flex-center">
        <button type="submit" class="white login-button padding medium margin">Login</button>
      </div>
    </form>
    <script>
    document.getElementById("login-form").addEventListener("submit",async (e) => {
      e.preventDefault();
      const form = e.target;
      
      payload = {
        username: form.username.value,
        password: form.password.value,
      };

      const response = await fetch("/login", {
        method: "POST",
        credentials: "same-origin",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(payload),
      });

      if (!response.ok) {
        const response_body = await response.json();
        if (catch_validation_error(response_body)) return;
          addError(response_body.detail);
          return;
      }
      window.location.href = "/home"
    })
    </script>
    {# TODO (Felix): don't show the following 3 lines when engine.disable_signups is True (react) #}
    <div class="margin medium txt_center">- OR -</div>
    <div class="white login-button padding medium txt_center"
         onclick="window.location.href = '/sign-up';">Create account</div>
  </div>
{% endblock base %}