{% extends "base.jinja" %}
{% block title %}
  Settings
{% endblock title %}
{% block content %}

  <div id="profile_header" class="flex-row huge title">
      Settings
      <div class="pine info_icon_container"
            onclick="document.getElementById('info_popup').classList.remove('hidden');">{{ wikiImage() }}</div>
  </div>
  <div id="info_popup" class="popup hidden green">
      <div class="flex-row margin-small align-items-center">
          <div class="large txt_center flex-grow-1">Help : Settings</div>
          <div onclick="document.getElementById('info_popup').classList.add('hidden');"
                class="cross pine margin-small"
                style="width:39px">×</div>
      </div>
      <div class="margin medium">
          <p>
              On this page you can change the settings of your account.
          </p>
      </div>
  </div>

<div class="flex-col margin-large">
  <div id="web_push_notification_switch" class="bone padding medium flex-col">
  <div class="padding">
    <b>Browser notifications</b> &ensp;
    <label class="switch"><input type="checkbox" id="web_push_notifications-checkbox"><span class="slider round"></span></label>
  </div>
  <div id="notification_settings_list" class="notification_settings collapsed flex-col">
    <div class="padding">
      Messages &ensp;
      <label class="switch"><input type="checkbox" id="web_push_notifications-messages"><span class="slider round"></span></label>
    </div>
    <div class="padding">
      Achievements &ensp;
      <label class="switch"><input type="checkbox" id="web_push_notifications-achievements"><span class="slider round"></span></label>
    </div>
    <div class="padding">
      Finished projects &ensp;
      <label class="switch"><input type="checkbox" id="web_push_notifications-projects"><span class="slider round"></span></label>
    </div>
    <div class="padding">
      Decommissioning &ensp;
      <label class="switch"><input type="checkbox" id="web_push_notifications-decommissioning"><span class="slider round"></span></label>
    </div>
    <div class="padding">
      Resource market &ensp;
      <label class="switch"><input type="checkbox" id="web_push_notifications-resource_market"><span class="slider round"></span></label>
    </div>
    <div class="padding">
      Climate events &ensp;
      <label class="switch"><input type="checkbox" id="web_push_notifications-climate_events"><span class="slider round"></span></label>
    </div>
  </div>
</div>

<div class="padding"></div>
  <button class="button2 padding medium notification_button" onclick="document.getElementById('change_password_form').classList.remove('hidden');">
    Change Password
  </button>
</div>

<div id="change_password_form" class="popup bone flex-col medium hidden">
  <div class="flex-row align-items-center notification_title">
    <div class="large txt_center flex-grow-1">Change Password</div>
    <div onclick="document.getElementById('change_password_form').classList.add('hidden');"
          class="cross pine"
          style="width:39px">×</div>
  </div>
  <form method="post" action="/change-password" class="padding-large">
    <label for="old_password">Old Password</label>
    <input type="password"
            class="input medium"
            id="old_password"
            name="old_password"
            placeholder="Enter old password" />
    <label for="new_password">New Password</label>
    <input type="password"
            class="input medium"
            id="new_password"
            name="new_password"
            placeholder="Enter new password" />
    <label for="confirm_new_password">Confirm New Password</label>
    <input type="password"
            class="input medium"
            id="confirm_new_password"
            name="confirm_new_password"
            placeholder="Confirm new password" />
    <div class="flex-center">
      <button type="submit" class="green login-button padding medium margin">Change Password</button>
    </div>
  </form>
</div>

{% endblock content %}
