{% extends "base.jinja" %}
{% block title %}
  Settings
{% endblock title %}
{% block content %}

  <div id="profile_header" class="flex-row huge title">
      Settings
      <div class="pine info_icon_container"
            onclick="document.getElementById('info_popup').classList.remove('hidden');">{{ wikiImage() }}</div>
  </div>
  <div id="info_popup" class="popup hidden green">
      <div class="flex-row margin-small align-items-center">
          <div class="large txt_center flex-grow-1">Help : Settings</div>
          <div onclick="document.getElementById('info_popup').classList.add('hidden');"
                class="cross pine margin-small"
                style="width:39px">×</div>
      </div>
      <div class="margin medium">
          <p>
              On this page you can change the settings of your account.
          </p>
      </div>
  </div>

Settings...
{% endblock content %}
