{% extends "head.jinja" %}
{% block title %}
  Sign Up
{% endblock title %}
{% block base %}
  <div class="logo_txt large">Energetica</div>
  <div class="flex-space-around background">
    <img src="{{ url_for('static', filename='images/icon.svg') }}"
         class="logo" />
    <img src="{{ url_for('static', filename='images/icon.svg') }}"
         class="logo" />
  </div>
  <div class="game_info bone padding txt_center">
    {# link to landing page #}
    <a href="{{ url_for('landing.landing_page') }}" class="no_deco medium">Learn more about Energetica</a>
  </div>
  <div class="login_box">
    <form id="sign-up-form" class="tan_green padding-large medium">
      <div class="huge txt_center">Sign up</div>
      <label for="username">Username</label>
      <input type="text"
              class="input medium"
              id="username"
              name="username"
              placeholder="Enter username" />
      <label for="password1">Password</label>
      <input type="password"
              class="input medium"
              id="password1"
              name="password1"
              placeholder="Enter password" />
      <label for="password2">Password (Confirm)</label>
      <input type="password"
              class="input medium"
              id="password2"
              name="password2"
              placeholder="Confirm password" />
      <div class="flex-center">
        <button type="submit" class="white login-button padding medium margin">Submit</button>
      </div>
    </form>
    <script>
    document.getElementById("sign-up-form").addEventListener("submit", async (e) => {
      e.preventDefault();
      const form = e.target;
      if (form.password1.value != form.password2.value) {
        addError("Passwords do not match");
        return;
      }
      const payload = {
        username: form.username.value,
        password: form.password1.value,
      };

      const response = await fetch("/auth/signup", {
        method: "POST",
        credentials: "same-origin",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(payload),
      });

      if (!response.ok) {
        const response_body = await response.json();
        if (catchValidationErrors(response, response_body)) return;
        addError(response_body.detail);
        return;
      }
      window.location.href = "/location_choice";
    });
    </script>
    <div class="margin medium txt_center">- OR -</div>
    <div class="white login-button padding medium txt_center"
      onclick="window.location.href = '/login';">Login</div>
  </div>
{% endblock base %}
