{% extends "head.jinja" %}
{% block title %}
  Sign Up
{% endblock title %}
{% block base %}
  <div class="logo_txt large">Energetica</div>
  <div class="flex-space-around background">
    <img src="{{ url_for('static', filename='images/icon.svg') }}"
         class="logo" />
    <img src="{{ url_for('static', filename='images/icon.svg') }}"
         class="logo" />
  </div>
  <div class="game_info bone medium padding txt_center">
    Shape your energy future! Manage electricity generation, balance resources, and combat emissions in <b>Energetica</b> - 
    the multiplayer game where your decisions impact the world.
  </div>
  <div class="login_box">
    <form method="post" class="tan_green padding-large medium">
      <div class="huge txt_center">Sign up</div>
      <label for="username">Username</label>
      <input type="text"
             class="input medium"
             id="username"
             name="username"
             placeholder="Enter username" />
      <label for="password1">Password</label>
      <input type="password"
             class="input medium"
             id="password1"
             name="password1"
             placeholder="Enter password" />
      <label for="password2">Password (Confirm)</label>
      <input type="password"
             class="input medium"
             id="password2"
             name="password2"
             placeholder="Confirm password" />
      <div class="flex-center">
        <button type="submit" class="white login-button padding medium margin">Submit</button>
      </div>
    </form>
    <div class="margin medium txt_center">- OR -</div>
    <div class="white login-button padding medium txt_center"
         onclick="window.location.href = '/login';">Login</div>
  </div>
{% endblock base %}

{% block scripts %}
  <script>
    let wiki_button = document.getElementById('login_wiki_button');
    wiki_button.innerHTML = `<a class="white button padding-small margin-small medium changelog_button" href="{{ url_for('wiki.render_template_wiki', template_name='introduction') }}" style="bottom:14px">
      <i class="fa fa-book"></i>&nbsp;Game Wiki
      </a>`;
  </script>
{% endblock scripts %}
