{% extends "base.jinja" %}
{% block title %}
    Emissions overview
{% endblock title %}
{% block content %}
    <div class="flex-row huge title">
        Emissions overview
        <div class="pine info_icon_container"
             onclick="document.getElementById('info_popup').classList.remove('hidden');">{{ wikiImage() }}</div>
    </div>
    <div id="info_popup" class="popup hidden green">
        <div class="flex-row margin-small align-items-center">
            <div class="large txt_center flex-grow-1">Help : Overview</div>
            <div onclick="document.getElementById('info_popup').classList.add('hidden');"
                 class="cross pine margin-small"
                 style="width:39px">×</div>
        </div>
        <div class="txt_center margin medium">
            <p>This is one of the 6 interactive graphs that vusualize your production over time.</p>
            <p>
                You can hover on the various elements of the graph to display more informations. You can also adjust the time
                scale of the graph with the buttons at the bottom.
            </p>
        </div>
    </div>
    <div class="bone">
        <h1 id="graph_title"
            class="txt_center padding-large"
            style="margin-bottom:0">Emissions</h1>
        <div id="graph" class="bone" style="padding:16px 0;"></div>
    </div>
</div>
{% endblock content %}
{% block additionnal_script %}
    <script src="{{ url_for('static', filename='charts/buttons.js') }}"></script>
    <script src="{{ url_for('static', filename='charts/emissions.js') }}"></script>
{% endblock additionnal_script %}
