{% extends "base.jinja" %}
{% block title %}
    Storage overview
{% endblock title %}
{% block content %}
    <div class="flex-row huge title">
        Storage overview
        <div class="pine info_icon_container"
             onclick="document.getElementById('info_popup').classList.remove('hidden');">{{ wikiImage() }}</div>
    </div>
    <div id="info_popup" class="popup hidden green">
        <div class="flex-row margin-small align-items-center">
            <div class="large txt_center flex-grow-1">Help : Overview</div>
            <div onclick="document.getElementById('info_popup').classList.add('hidden');"
                 class="cross pine margin-small"
                 style="width:39px">×</div>
        </div>
        <div class="txt_center margin medium">
            <p>This graph shows the filling level of your storage facilites.</p>
            <p>
                You can hover on the various elements of the graph to display more informations. You can also adjust the time
                scale of the graph with the buttons at the bottom.
            </p>
        </div>
    </div>

    <div class="flex-center bone large padding">Stored Energy</div>
    <div id="graph_sketch" class="bone"></div>

    <div class="flex-space-between margin" style="flex-wrap:wrap; flex">
        <div class="flex-center">
            <button id="percent_button_normal" class="graph_button small left selected" onclick="change_percent('normal')">normal</button>
            <button id="percent_button_percent" class="graph_button small right" onclick="change_percent('percent')">percent</button>
        </div>
    </div>
    <div class="flex-center margin">
        <button id="res_button_0" class="graph_button left selected" onclick="change_res(0)">4h</button>
        <button id="res_button_1" class="graph_button" onclick="change_res(1)">24h</button>
        <button id="res_button_2" class="graph_button" onclick="change_res(2)">6 days</button>
        <button id="res_button_3" class="graph_button" onclick="change_res(3)">6 months</button>
        <button id="res_button_4" class="graph_button" onclick="change_res(4)">3 years</button>
        <button id="res_button_5" class="graph_button right" onclick="change_res(5)">18 years</button>
    </div>

    <div class="flex-col medium" style="margin-bottom:30px;">
        <div class="table_container">
            <table id="facilities_list" class="table bone margin txt_center">
                <tr>
                    <th class="facility_col" onclick="sortTable('facility_col')">Facility</th>
                    <th class="cumul_charging_col hover_info" onclick="sortTable('cumul_charging_col')">Cumul Charging<span class="popup_info small">over the last 4h</span></th>
                    <th class="cumul_discharging_col hover_info" onclick="sortTable('cumul_discharging_col')">Cumul Discharging<span class="popup_info small">over the last 4h</span></th>
                    <th class="capacity_col" onclick="sortTable('capacity_col')">Max Storage</th>
                    <th class="used_cap_col" onclick="sortTable('used_cap_col')">State of Charge</th>
                    <th class="selected_col">Displayed</th>
                </tr>
            </table>
        </div>
    </div>

{% endblock content %}
{% block additionnal_script %}
    <script>let ratio = 0.6;</script>
    <script src="{{ url_for('static', filename='charts/storage.js') }}"></script>
    <script src="{{ url_for('static', filename='charts/buttons.js') }}"></script>
{% endblock additionnal_script %}
