.set-new-password-container {
    max-width: 400px;
    width: 50vh;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    background-color: var(--color-bone);
}

.submit-container {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin: 0;
    padding: 0;
}

input {
    height: 20px;
}

label {
    font-size: large;
}