.set-new-password-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    gap: 10px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: brown;
}

.submit-container {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin: 0;
    padding: 0;
}