.set-new-password-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    border: 6px solid red;
    border-radius: 10px;
    /* background-color: brown; */
}

.submit-container {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin: 0;
    padding: 0;
}

input {
    height: 20px;
}

label {
    font-size: large;
}