{% extends "navbar.jinja" %} 
{% block base%}

<div class="ressources medium tan_green">
  <div class="padding"><script>display_CHF({{user.money}});</script></div>
  <div class="padding"><script>display_kg({{user.coal}});</script> <img src="{{ url_for('static', filename='images/ressources/coal.png') }}" class="icon" alt="coal"></div>
  <div class="padding"><script>display_kg({{user.oil}});</script> <img src="{{ url_for('static', filename='images/ressources/oil.png') }}" class="icon" alt="oil"></div>
  <div class="padding"><script>display_kg({{user.gas}});</script> <img src="{{ url_for('static', filename='images/ressources/gas.png') }}" class="icon" alt="gas"></div>
  <div class="padding"><script>display_kg({{user.uranium}});</script> <img src="{{ url_for('static', filename='images/ressources/uranium.png') }}" class="icon" alt="uranium"></div>
</div>

<div class="main_container tan_green">{% block content %} {% endblock %}</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='sockets.js') }}" ></script>
{% endblock %}