{% extends "base.jinja" %} {% block title %}Changelog{% endblock %} {% block content %}

<div class="flex-row huge title">Changelog</div>

<div class="info_message medium margin padding">
    <i class="fa fa-info-circle info-circle"></i>
    <div class="padding-small">
        🚧 This game is still under development! 🚧 Join the <a href="https://discord.gg/6xQsfqe2Nd">Energetica 
        Discord server</a> to stay updated with the latest news, report bugs, and engage with the community. 
        You can also contact me directly if you have questions (vsfelix@ethz.ch)
    </div>
</div>

<div class="margin-large medium">
    <div class="padding-small">26 Feb. 2024</div>
    <div class="padding-large bone">
        <b>beta 0.7</b>
        <ul>
            <li class="li_padding">
                Emergency generation has been removed. Now, when the electricity generation doesn't match the 
                consumption measures are taken to reduce consumption (pausing constructions, research and shipments, 
                stopping resource extraction and downgrading the industry)
            </li>
            <li class="li_padding">
                Construction and research projects can now be paused and cancelled. Parts of the initial investments 
                will be refunded if a project is cancelled (80% for immediate cancellation and proportionally less after 
                some time has elapsed)
            </li>
            <li class="li_padding">
                Introduction of construction and lab workers that can work on one project each. More construction and 
                lab workers can be unlocked with higher levels of 'building technology' and 'laboratory' respectively. 
                The construction and research projects can be reordered. A free worker will start with the first project 
                in the list.
            </li>
            <li class="li_padding">
                New home page with current weather conditions, constructions and research projects under way and order 
                of priority of facilities (see wiki for more details).
            </li>
            <li class="li_padding">
                Facilities (power, storage and extraction) now have lifetimes and will be decommissioned automatically 
                after this time has passed. The cost of decomissioning is 20% of the current price of this facility.
            </li>
            <li class="li_padding">
                All power, storage and extraction facilities now have operation and maintenance costs. Renewable and 
                storage facilities have a fixed O&M cost. Controllable and extraction facilities have 20% of their O&M 
                that is fixed and 80% that is variable (depending on the power or resource output). Nuclear facilities 
                have a fixed O&M fraction of 50%.
            </li>
            <li class="li_padding">
                Modeling of knowledge spillover for technology research. The price of research gets 8% cheaper and 
                faster to research for each other player that already researched it on the server.
            </li>
            <li class="li_padding">SCP (self consumption priority) has been removed in the networks.</li>
            <li class="li_padding">Implementation of notifications.</li>
            <li class="li_padding">Values have been adjusted across the board.</li>
        </ul>
    </div>
</div>

<div class="medium big_side_margins">
    <div class="padding-small">28 Feb. 2024</div>
    <div class="padding-large bone">
        <b>0.7.1</b>
        <ul>
            <li class="li_padding">
                updated wiki information
            </li>
            <li class="li_padding">
                removing prioritization list on home page for players in a network
            </li>
            <li class="li_padding">
                added catchphrase on login page
            </li>
            <li class="li_padding">
                added warning and link to discord on home and wiki page
            </li>
            <li class="li_padding">
                imports and dumping is now shown on top of the O&M costs
            </li>
            <li class="li_padding">
                corrected bug with the expanding of the community menu
            </li>
        </ul>
    </div>
</div>

<div class="medium big_side_margins">
    <div class="padding-small">29 Feb. 2024</div>
    <div class="padding-large bone">
        <b>0.7.2</b>
        <ul>
            <li class="li_padding">
                moved messages page in community menu
            </li>
            <li class="li_padding">
                fixed bug of graphs sometimes not showing
            </li>
            <li class="li_padding">
                fixed bug of +25% price not applied for chemistry technology
            </li>
        </ul>
    </div>
</div>

<div class="medium big_side_margins">
    <div class="padding-small">4 Mar. 2024</div>
    <div class="padding-large bone">
        <b>0.7.3</b>
        <ul>
            <li class="li_padding">
                All facility pages as well as technology have been slightly redesigned (there should be no buttons 
                outside the screen for smartphones now) and the missing information (lifetime, O&M costs) have been added
            </li>
            <li class="li_padding">
                Usernames are displayed instead of ids in Network graph
            </li>
            <li class="li_padding">
                Bug with ramping up of storage plants for filling has been fixed
            </li>
            <li class="li_padding">
                Capacities in the storage graph have been fixed
            </li>
        </ul>
    </div>
</div>

<div class="medium big_side_margins">
    <div class="padding-small">5 Mar. 2024</div>
    <div class="padding-large bone">
        <b>0.7.4</b>
        <ul>
            <li class="li_padding">
                reduction in research prices (division by 5)
            </li>
            <li class="li_padding">
                other value ajustments (minly reduction in power consumption for constructions and some price and capacity adjustments)
            </li>
        </ul>
    </div>
</div>

<div class="medium big_side_margins">
    <div class="padding-small">9 Mar. 2024</div>
    <div class="padding-large bone">
        <b>0.7.5</b>
        <ul>
            <li class="li_padding">
                removing industry downgrades. Instead : Industry revenues decrease with lower satisfaction
            </li>
            <li class="li_padding">
                backend bugs for chart data for some players fixed
            </li>
        </ul>
    </div>
</div>

<div class="medium big_side_margins">
    <div class="padding-small">16 Mar. 2024</div>
    <div class="padding-large bone">
        <b>0.7.6</b>
        <ul>
            <li class="li_padding">
                adjusted game values (mainly 20% reduction in energy for construction and reduction of prices for extraction facilities, renewable power facilities and batteries)
            </li>
        </ul>
    </div>
</div>

<div class="margin-large medium">
    <div class="padding-small">11 Apr. 2024</div>
    <div class="padding-large bone">
        <b>beta 0.8</b>
        <ul>
            <li class="li_padding">
                The game now has a tutorial guiding players through the main progression steps (in the notifications)
            </li>
            <li class="li_padding">
                Different pages of the game are now hidden behind a required upgrade or achievement for a better overview for novice players
            </li>
            <li class="li_padding">
                Players can win xp with achievements
            </li>
            <li class="li_padding">
                The game runs at twice the speed (this might be temporary)
            </li>
            <li class="li_padding">
                Steam Engine produces 4 times more power and base industry generates 4 times more revenue and players start with 25000 to accelerate the early game
            </li>
            <li class="li_padding">
                Map generation has been changed : a small amount of resources are now available on almost every tile
            </li>
            <li class="li_padding">
                The system of available location for water dams has been changed to exponentially increasing prices depending on the players hydro potential
            </li>
            <li class="li_padding">
                Players have more detailed statistics on their profile page
            </li>
            <li class="li_padding">
                Scoreboard has new columns, better formatting and links to player profile pages
            </li>
            <li class="li_padding">
                Building events and shipments are now synchronized with the game clock (the construction time can be a few seconds longer than indicated)
            </li>
            <li class="li_padding">
                Parallelization of consecutive upgrades is now prevented
            </li>
            <li class="li_padding">
                Weather interpolation is fixed
            </li>
            <li class="li_padding">
                Carbon capture now works
            </li>
            <li class="li_padding">
                Location selection page should now work on Firefox
            </li>
            <li class="li_padding">
                Notifications are automatically deleted after 2 weeks
            </li>
        </ul>
    </div>
</div>

<div class="medium big_side_margins">
    <div class="padding-small">25 Apr. 2024</div>
    <div class="padding-large bone">
        <b>0.8.1</b>
        <ul>
            <li class="li_padding">
                Updated wiki information with 0.8 changes
            </li>
            <li class="li_padding">
                Created this changelog page
            </li>
            <li class="li_padding">
                Resources shipments now also have a progress bar
            </li>
            <li class="li_padding">
                Fixed map selection page for IOS users
            </li>
            <li class="li_padding">
                Specified the quantity of the passed mark in the text when unlocking an achievement (e.g. 150MW)
            </li>
            <li class="li_padding">
                Added description of what a network is on network pages of players that didn't join one yet
            </li>
            <li class="li_padding">
                Removed shipments and research from the demand priority until a warehouse and laboratory is built respectively
            </li>
            <li class="li_padding">
                Renamed "transport" to "shipments" and "lifetime" to "lifespan"
            </li>
            <li class="li_padding">
                Corrected market optimum calculation (bug with market quantity set to 0 sometimes)
            </li>
        </ul>
    </div>
</div>

<div class="margin-large medium">
    <div class="padding-small">13 Jun. 2024</div>
    <div class="padding-large bone">
        <b>beta 0.9</b>
        <ul>
            <li class="li_padding">
                <b>Beginner Guide</b>: Added to the home screen, displayed until the player reaches 3MW of production.
            </li>
            <li class="li_padding">
                <b>Messages Redesign</b>: Improved functionality with unread badges visible for new messages.
            </li>
            <li class="li_padding">
                <b>Warning Messages</b>: Now pop up when attempting to cancel or dismantle a construction, or when starting one that requires too much energy.
            </li>
            <li class="li_padding">
                <b>Graph Ranges</b>: Updated to 30min, 3h, 18h, 4d, month, and 6 months, with 360 values per width instead of 1440.
            </li>
            <li class="li_padding">
                <b>Wind Potential System</b>: Each new wind turbine is built at a location with a specific average wind speed. The best locations are taken first, so new turbines have progressively worse average wind speeds. The map's wind potential determines the number of good locations available. More information is available on the wiki.
            </li>
            <li class="li_padding">
                <b>Freeing Locations</b>: For wind and hydro facilities, dismantling or decommissioning frees the location, allowing new facilities to be built with the same potential.
            </li>
            <li class="li_padding">
                <b>Upgrade System</b>: Technological upgrades are no longer automatically applied to all facilities. Players must upgrade each facility individually.
            </li>
            <li class="li_padding">
                <b>New Profile Page</b>: Now accessible directly from the navbar. Tables for Power, Storage, and Extraction facilities list all active instances, with options to upgrade or dismantle specific instances for a cost.
            </li>
            <li class="li_padding">
                <b>CO<sub>2</sub> Absorbtion</b>: Servers start with 5Mt of CO<sub>2</sub> in the atmosphere. The carbon capture rate is now proportional to the atmospheric CO<sub>2</sub> amount, similar to extraction facilities.
            </li>
            <li class="li_padding">
                <b>Construction Power</b>: Remains constant during the construction period.
            </li>
            <li class="li_padding">
                <b>Interactive Priority List</b>: redesigned, shows in blue the generation facilitiesand in red the consumptions.
            </li>
            <li class="li_padding">
                <b>Synchronized Completion</b>: Constructions and technologies now finish in sync with the game clock (every 30 seconds).
            </li>
            <li class="li_padding">
                <b>Market Prices</b>: Set prices must be higher than -5/MWh.
            </li>
            <li class="li_padding">
                <b>Resource Market</b>: More reactive to changes.
            </li>
        </ul>
    </div>
</div>

<div class="medium big_side_margins">
    <div class="padding-small">14 Jun. 2024</div>
    <div class="padding-large bone">
        <b>0.9.1</b>
        <ul>
            <li class="li_padding">
                <b>Usernames on Map</b>: Usernames of occupants are now shown again for location selection.
            </li>
            <li class="li_padding">
                <b>Wind Speed Increase</b>: Wind speed increased by 30%, recognizing that Zürich is not the windiest place on earth.
            </li>
            <li class="li_padding">
                <b>Linear Industry Revenues</b>: The industry revenues are now proportional to the satisfaction level.
            <li class="li_padding">
                <b>Import Restriction</b>: Players with negative money can no longer import.
            </li>
            <li class="li_padding">
                <b>Network Page Rework</b>:
                <ul>
                    <li><b>Market Quantity Graph</b>: Now divided into contributions from each player (exports or imports).</li>
                    <li><b>Market Graph Views</b>: Includes 'log' and 'zoom' views for easier reading. Capacities can be colored by player or technology, with options to show supply or demand. Note that the log demand view may not work consistently.</li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="medium big_side_margins">
    <div class="padding-small">20 Jul. 2024</div>
    <div class="padding-large bone">
        <b>0.9.2</b>
        <ul>
            <li class="li_padding">
                <b>Network Page Rework 2</b>:
                <ul>
                    <li><b>Different Views</b>: 3 different views are available: Basic view shows only essential information about the player's interaction with the network, Normal view shows some in-depth insights on the market, and Expert view shows even more information about market capacities.</li>
                    <li><b>Capacity Graph</b>: Each view includes a graph showing the used capacity and available capacities on the network divided into Renewables, Controllables, and Storages. The temporal graph of market quantities can now also be broken down by technology.</li>
                    <li><b>Aesthetics</b>: The button design has been reworked, and the smoothing looks nicer.</li>
                </ul>
            </li>
            <li class="li_padding">
                <b>More Interactive Graphs</b>: All the overview graphs now have a list of displayed elements underneath, and it is now possible to hide elements in the graphs. There is also a button to display the data as percentages.
            </li>
        </ul>
    </div>
</div>

<div class="medium big_side_margins">
    <div class="padding-small">27 Jul. 2024</div>
    <div class="padding-large bone">
        <b>0.9.3</b>
        <ul>
            <li class="li_padding">
                <b>Browser Notification</b>: underneath the notifications popup, there is now a switch to enable browser notifications. If you enable this, you will receive notifications even when the game is not open.
            </li>
            <li class="li_padding">
                <b>Upgrade All Button</b>: When hovering on the Upgrade or Dismantle button in the list of facilities on the profile page, new buttons will appear with the option to upgrade or dismantle all facilities of the same type.
            </li>
            <li class="li_padding">
                <b>Graph Integrals</b>: In the tables underneeth the graphs, the integrated power generation (or revenues or emissons) over the displayed graph duration is now indicated. This might help to determine the cost of electricity.
            </li>
            <li class="li_padding">
                <b>Used Capacities in Facility Lists</b>: The active facility tables on the profile page now feature a gauge of the used capacity or the state of charge of the facility. This is particularly interesting for wind facilities that all have a different power generation.
            </li>
            <li class="li_padding">
                <b>Scrollable Tables</b>: Tables that dont fit in the with (on smartphone screens) are now horizontally scollable.
            </li>
        </ul>
    </div>
</div>

<div class="margin-large medium">
    <div class="padding-small">1 Sep. 2024</div>
    <div class="padding-large bone">
        <b>beta 0.10</b>
        <ul>
            <li class="li_padding">
                <b>In-game Time</b>: One in-game day is not equal to one real day anymore. The in-game time now runs 8 times faster than real time. Additonally, one in-game year is now 72 days long, so one in-game month has 6 days. All times in the game will now be displayed as in-game times and in some cases the equivalent real time might be indicated in parenthesis. For more information, see the <a href="{{ url_for('wiki.render_template_wiki', template_name='game_time') }}">wiki</a>.
            </li>
            <li class="li_padding">
                <b>Climate Change</b>: 
                <ul>
                    <li><b>In-game Climate</b>: The server's global average temperature (GAT) is now modelled. It evolves with a seasonal and a random component and is also affected by the CO<sub>2</sub> consentration of the server.</sub></li>
                    <li><b>Climate events</b>: 5 natural events have been introduced that have various negative effects and their probability of occurence increase with unstable climate conditions.</li>
                    <li><b>New Graphs</b>: Two new graphs have been added in the emissions overview page. One shows the CO<sub>2</sub> concentration in the atmosphere and the other the global average temperature and the temperature anomaly.</li>
                    <li><b>Climate Risk Score</b>: A new metric has been added on the map that indicates the risk of climate events on the tile.</li>
                    <li>Read the <a href="{{ url_for('wiki.render_template_wiki', template_name='climate_effects') }}">Climate Change</a> section in the wiki for more information.</li>
                </ul>
            </li>
            <li class="li_padding">
                <b>New Weather Simulation</b>: Because of the faster in-game time, it is not possible to use real live weather data anymore. The weather is now simulated and is also location dependent. This means that the wind speed and solar iradiance will be different on different tiles but also for different facilities inside a tile. Each solar and wind facility will generate a different amount of power depending on the weather conditions on its location. A visualisation of the weather on the map is planned for the future.
            <li class="li_padding">
                <b>General Chat</b>: A general chat has been added to the game where all players are added automatically.
            </li>
            <li class="li_padding">
                <b>Removed Oil & Compressed Air</b>: The oil resource, oil burner, oil field and compressed air storage have been removed from the game.
            </li>
            <li class="li_padding">
                <b>Dashboard Page</b>: The Home page has been renamed to Dashboard. The interactive priority list that appeared on the home page when a player was not in a network has been moved to the network page.
            </li>
            <li class="li_padding">
                <b>Daily Quiz</b>: At the bottom of the dashboard page, there is now a question that changes every day. Answering the question correctly will give you 1 XP.
            </li>
            <li class="li_padding">
                <b>Achievement Progression</b>: The list of achievements and the progression towards them is now displayed on the dashboard page.
            </li>
            <li class="li_padding">
                <b>Restructured Wiki</b>: The wiki has been restructured in different pages for better readability. The wiki is now also accessible from the login page and doesn't require to be signed in to be read.
            </li>
            <li class="li_padding">
                <b>Map Generation</b>: The resource generation on the map has slightly changed. There should be more high concentrated resources tiles now. The rivers now flow from the inland to the sea (considering the map is an island).
            </li>
            <li class="li_padding">
                <b>Facility Description</b>: The description given for each facility should be more informative now.
            </li>
        </ul>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

{% endblock content %}

{% block additionnal_script %}
  <script>
    window.scrollTo(0, document.body.scrollHeight);
</script>
{% endblock additionnal_script %}