{% extends "base.jinja" %} {% block title %}Changelog{% endblock %} {% block content %}

<div class="flex-row huge title">Changelog</div>

<div class="info_message medium margin padding">
    <i class="fa fa-info-circle info-circle"></i>
    <div class="padding-small">
        🚧 This game is still under development! 🚧 Join the <a href="https://discord.gg/6xQsfqe2Nd">Energetica 
        Discord server</a> to stay updated with the latest news, report bugs, and engage with the community. 
        You can also contact me directly if you have questions (vsfelix@ethz.ch)
    </div>
</div>

<div class="margin-large medium">
    <div class="padding-small">26 Feb. 2024</div>
    <div class="padding-large bone">
        <b>beta 0.7</b>
        <ul>
            <li class="li_padding">
                Emergency generation has been removed. Now, when the electricity generation doesn't match the 
                consumption measures are taken to reduce consumption (pausing constructions, research and shipments, 
                stopping resource extraction and downgrading the industry)
            </li>
            <li class="li_padding">
                Construction and research projects can now be paused and cancelled. Parts of the initial investments 
                will be refunded if a project is cancelled (80% for immediate cancellation and proportionally less after 
                some time has elapsed)
            </li>
            <li class="li_padding">
                Introduction of construction and lab workers that can work on one project each. More construction and 
                lab workers can be unlocked with higher levels of 'building technology' and 'laboratory' respectively. 
                The construction and research projects can be reordered. A free worker will start with the first project 
                in the list.
            </li>
            <li class="li_padding">
                New home page with current weather conditions, constructions and research projects under way and order 
                of priority of facilites (see wiki for more details).
            </li>
            <li class="li_padding">
                Facilities (power, storage and extraction) now have lifetimes and will be decommissioned automatically 
                after this time has passed. The cost of decomissioning is 20% of the current price of this facility.
            </li>
            <li class="li_padding">
                All power, storage and extraction facilities now have operation and maintenance costs. Renewable and 
                storage facilites have a fixed O&M cost. Controllable and extraction facilites have 20% of their O&M 
                that is fixed and 80% that is variable (depending on the power or resource output). Nuclear facilities 
                have a fixed O&M fraction of 50%.
            </li>
            <li class="li_padding">
                Modeling of knowledge spillover for technology research. The price of research gets 8% cheaper and 
                faster to research for each other player that already researched it on the server.
            </li>
            <li class="li_padding">SCP (self consumption priority) has been removed in the networks.</li>
            <li class="li_padding">Implementation of notifications.</li>
            <li class="li_padding">Values have been adjusted across the board.</li>
        </ul>
    </div>
</div>

<div class="medium big_side_margins">
    <div class="padding-small">28 Feb. 2024</div>
    <div class="padding-large bone">
        <b>0.7.1</b>
        <ul>
            <li class="li_padding">
                updated wiki information
            </li>
            <li class="li_padding">
                removing prioritization list on home page for players in a network
            </li>
            <li class="li_padding">
                added catchphrase on login page
            </li>
            <li class="li_padding">
                added warning and link to discord on home and wiki page
            </li>
            <li class="li_padding">
                imports and dumping is now shown on top of the O&M costs
            </li>
            <li class="li_padding">
                corrected bug with the expanding of the community menu
            </li>
        </ul>
    </div>
</div>

<div class="medium big_side_margins">
    <div class="padding-small">29 Feb. 2024</div>
    <div class="padding-large bone">
        <b>0.7.2</b>
        <ul>
            <li class="li_padding">
                moved messages page in community menu
            </li>
            <li class="li_padding">
                fixed bug of graphs sometimes not showing
            </li>
            <li class="li_padding">
                fixed bug of +25% price not applied for chemistry technology
            </li>
        </ul>
    </div>
</div>

<div class="medium big_side_margins">
    <div class="padding-small">4 Mar. 2024</div>
    <div class="padding-large bone">
        <b>0.7.3</b>
        <ul>
            <li class="li_padding">
                All facility pages as well as technology have been slightly redesigned (there should be no buttons 
                outside the screen for smartphones now) and the missing information (lifetime, O&M costs) have been added
            </li>
            <li class="li_padding">
                Usernames are displayed instead of ids in Network graph
            </li>
            <li class="li_padding">
                Bug with ramping up of storage plants for filling has been fixed
            </li>
            <li class="li_padding">
                Capacities in the storage graph have been fixed
            </li>
        </ul>
    </div>
</div>

<div class="medium big_side_margins">
    <div class="padding-small">5 Mar. 2024</div>
    <div class="padding-large bone">
        <b>0.7.4</b>
        <ul>
            <li class="li_padding">
                reduction in research prices (division by 5)
            </li>
            <li class="li_padding">
                other value ajustments (minly reduction in power consumption for constructions and some price and capacity adjustments)
            </li>
        </ul>
    </div>
</div>

<div class="medium big_side_margins">
    <div class="padding-small">9 Mar. 2024</div>
    <div class="padding-large bone">
        <b>0.7.5</b>
        <ul>
            <li class="li_padding">
                removing industry downgrades. Instead : Industry revenues decrease with lower satisfaction
            </li>
            <li class="li_padding">
                backend bugs for chart data for some players fixed
            </li>
        </ul>
    </div>
</div>

<div class="medium big_side_margins">
    <div class="padding-small">16 Mar. 2024</div>
    <div class="padding-large bone">
        <b>0.7.6</b>
        <ul>
            <li class="li_padding">
                adjusted game values (mainly 20% reduction in energy for construction and reduction of prices for extraction facilities, renewable power facilities and batteries)
            </li>
        </ul>
    </div>
</div>

<div class="margin-large medium">
    <div class="padding-small">11 Apr. 2024</div>
    <div class="padding-large bone">
        <b>beta 0.8</b>
        <ul>
            <li class="li_padding">
                The game now has a tutorial guiding players through the main progression steps (in the notifications)
            </li>
            <li class="li_padding">
                Different pages of the game are now hidden behind a required upgrade or achievement for a better overview for novice players
            </li>
            <li class="li_padding">
                Players can win xp with achievements
            </li>
            <li class="li_padding">
                The game runs at twice the speed (this might be temporary)
            </li>
            <li class="li_padding">
                Steam engine produces 4 times more power and base industry generates 4 times more revenue and players start with 25000 to accelerate the early game
            </li>
            <li class="li_padding">
                Map generation has been changed : a small amount of resources are now available on almost every tile
            </li>
            <li class="li_padding">
                The system of available location for water dams has been changed to exponentially increasing prices depending on the players hydro potential
            </li>
            <li class="li_padding">
                Players have more detailed statistics on their profile page
            </li>
            <li class="li_padding">
                Scoreboard has new columns, better formatting and links to player profile pages
            </li>
            <li class="li_padding">
                Building events and shipments are now synchronized with the game clock (the construction time can be a few seconds longer than indicated)
            </li>
            <li class="li_padding">
                Parallelization of consecutive upgrades is now prevented
            </li>
            <li class="li_padding">
                Weather interpolation is fixed
            </li>
            <li class="li_padding">
                Carbon capture now works
            </li>
            <li class="li_padding">
                Location selection page should now work on Firefox
            </li>
            <li class="li_padding">
                Notifications are automatically deleted after 2 weeks
            </li>
        </ul>
    </div>
</div>

<div class="medium big_side_margins">
    <div class="padding-small">25 Apr. 2024</div>
    <div class="padding-large bone">
        <b>0.8.1</b>
        <ul>
            <li class="li_padding">
                Updated wiki information with 0.8 changes
            </li>
            <li class="li_padding">
                Created this changelog page
            </li>
            <li class="li_padding">
                Resources shipments now also have a progress bar
            </li>
            <li class="li_padding">
                Fixed map selection page for IOS users
            </li>
            <li class="li_padding">
                Specified the quantity of the passed mark in the text when unlocking an achievement (e.g. 150MW)
            </li>
            <li class="li_padding">
                Added description of what a network is on network pages of players that didn't join one yet
            </li>
            <li class="li_padding">
                Removed shipments and research from the demand priority until a warehouse and laboratory is built respectively
            </li>
            <li class="li_padding">
                Renamed "transport" to "shipments" and "lifetime" to "lifespan"
            </li>
            <li class="li_padding">
                Corrected market optimum calculation (bug with market quantity set to 0 sometimes)
            </li>
        </ul>
    </div>
</div>

<div class="margin-large medium">
    <div class="padding-small">13 Jun. 2024</div>
    <div class="padding-large bone">
        <b>beta 0.9</b>
        <br>[coming soon ...]
    </div>
</div>

<div class="medium big_side_margins">
    <div class="padding-small">14 Jun. 2024</div>
    <div class="padding-large bone">
        <b>0.9.1</b>
        <br>[coming soon ...]
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

{% endblock content %}

{% block additionnal_script %}
  <script>
    window.scrollTo(0, document.body.scrollHeight);
</script>
{% endblock additionnal_script %}