{% extends "base.jinja" %} {% block title %}Extraction plants{% endblock %} {% block content
%}

<div class="huge title">Extraction plants</div>

{% if user.under_construction %}
{% for facility in user.under_construction %}
{% if facility.family == "extraction_plants"%}
<div class="padding" id="progress_bar">
  The facility <b>{{data[facility.name]["name"]}}</b> is under construction <i class="time" data-name="{{facility.finish_time}}"></i>
</div>
{% endif %}
{% endfor %}
{% endif %}

{% set facility = data["coal_mine"] %}
<div class="bone margin facility small">
 <img class="img" src="{{ url_for('static', filename='images/extraction_plants/coal_mine.jpg') }}"\>
 <div class="infotext padding">
  <strong class="large"><a class="no_deco" href="https://en.wikipedia.org/wiki/Coal_mining" target="_blank">{{facility["name"]}}</a></strong><br>
  The coal mine produces coal.
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('coal_mine', 'extraction_plants'); location.reload();">
    Start construction
  </b>
  <div>
    <i class="fa fa-money"></i> <script>display_CHF({{facility["price"]}});</script><br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{facility["construction time"]}});</script><br>
    <i class="fa "></i> <script>display_Wh({{facility["construction energy"]}});</script><br>
    <i class="fa fa-cloud"></i> <script>display_kg({{facility["construction pollution"]}});</script>
  </div>
  <div class="margin tan_green padding">
    <i class="fa fa-bolt"></i> <script>display_W({{facility["power consumption"]}});</script><br>
    <i class="fa Example of truck fa-truck"></i> <script>display_kgh({{facility["amount produced"]}});</script> coal<br>
    <i class="fa fa-cloud"></i> {{facility["pollution"]}} kg/h
  </div>
 </div>
</div>

{% set facility = data["oil_field"] %}
<div class="bone margin facility small">
 <img class="img" src="{{ url_for('static', filename='images/extraction_plants/oil_extraction_plant.jpg') }}"\>
 <div class="infotext padding">
  <strong class="large"><a class="no_deco" href="https://en.wikipedia.org/wiki/Extraction_of_petroleum" target="_blank">{{facility["name"]}}</a></strong><br>
  The oil extraction plant produces oil.
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('oil_field', 'extraction_plants'); location.reload();">
    Start construction
  </b>
  <div>
    <i class="fa fa-money"></i> <script>display_CHF({{facility["price"]}});</script><br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{facility["construction time"]}});</script><br>
    <i class="fa "></i> <script>display_Wh({{facility["construction energy"]}});</script><br>
    <i class="fa fa-cloud"></i> <script>display_kg({{facility["construction pollution"]}});</script>
  </div>
  <div class="margin tan_green padding">
    <i class="fa fa-bolt"></i> <script>display_W({{facility["power consumption"]}});</script><br>
    <i class="fa Example of truck fa-truck"></i> <script>display_kgh({{facility["amount produced"]}});</script> coal<br>
    <i class="fa fa-cloud"></i> {{facility["pollution"]}} kg/h
  </div>
 </div>
</div>

{% set facility = data["gas_drilling_site"] %}
<div class="bone margin facility small">
 <img class="img" src="{{ url_for('static', filename='images/extraction_plants/gas_extraction_plant.jpg') }}"\>
 <div class="infotext padding">
  <strong class="large"><a class="no_deco" href="https://en.wikipedia.org/wiki/Natural_gas#Sources" target="_blank">{{facility["name"]}}</a></strong><br>
  The gas extraction plant produces natural gas.
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('gas_drilling_site', 'extraction_plants'); location.reload();">
    Start construction
  </b>
  <div>
    <i class="fa fa-money"></i> <script>display_CHF({{facility["price"]}});</script><br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{facility["construction time"]}});</script><br>
    <i class="fa "></i> <script>display_Wh({{facility["construction energy"]}});</script><br>
    <i class="fa fa-cloud"></i> <script>display_kg({{facility["construction pollution"]}});</script>
  </div>
  <div class="margin tan_green padding">
    <i class="fa fa-bolt"></i> <script>display_W({{facility["power consumption"]}});</script><br>
    <i class="fa Example of truck fa-truck"></i> <script>display_kgh({{facility["amount produced"]}});</script> coal<br>
    <i class="fa fa-cloud"></i> {{facility["pollution"]}} kg/h
  </div>
 </div>
</div>

{% set facility = data["uranium_mine"] %}
<div class="bone margin facility small">
 <img class="img" src="{{ url_for('static', filename='images/extraction_plants/uranium_mine.jpg') }}"\>
 <div class="infotext padding">
  <strong class="large"><a class="no_deco" href="https://en.wikipedia.org/wiki/Uranium_mining" target="_blank">{{facility["name"]}}</a></strong><br>
  The uranium mine produces uranium.
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('uranium_mine', 'extraction_plants'); location.reload();">
    Start construction
  </b>
  <div>
    <i class="fa fa-money"></i> <script>display_CHF({{facility["price"]}});</script><br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{facility["construction time"]}});</script><br>
    <i class="fa "></i> <script>display_Wh({{facility["construction energy"]}});</script><br>
    <i class="fa fa-cloud"></i> <script>display_kg({{facility["construction pollution"]}});</script>
  </div>
  <div class="margin tan_green padding">
    <i class="fa fa-bolt"></i> <script>display_W({{facility["power consumption"]}});</script><br>
    <i class="fa Example of truck fa-truck"></i> <script>display_kgh({{facility["amount produced"]}});</script> coal<br>
    <i class="fa fa-cloud"></i> {{facility["pollution"]}} kg/h
  </div>
 </div>
</div>

{% endblock %}

