{% extends "base.jinja" %}
{% block title %}
  Extraction facilities
{% endblock title %}
{% block content %}
  {% set facility_values = data %}
  <div class="flex-row huge title">
    Extraction facilities
    <div class="pine info_icon_container"
         onclick="document.getElementById('info_popup').classList.remove('hidden');">{{ wikiImage() }}</div>
  </div>
  <div id="info_popup" class="popup hidden green">
    <div class="flex-row margin-small align-items-center">
      <div class="large txt_center flex-grow-1">Help : Extraction facilities</div>
      <div onclick="document.getElementById('info_popup').classList.add('hidden');"
           class="cross pine margin-small"
           style="width:39px">×</div>
    </div>
    <div class="txt_center margin medium">
      <p>On this page you will find all the facilities that can extract natural resources from the ground.</p>
      <p>
        For more information about Extraction facilities, refer to the <a href="{{ url_for('views.wiki', _anchor='Extraction_Facilities') }}">Extraction
        facilities section in the wiki</a>.
      </p>
    </div>
  </div>
  <div id="under_construction">
    {# Facilites under construction will show here #}
  </div>
  {% for facility_data in constructions %}
    {% set facility = facility_data.name %}
    {% set resource = facility_data.resource_production.name %}
    <div id="{{ facility }}"
         class="bone margin facility small"
         onclick="show_construction('{{ facility }}');">

      <div class="flex-col flex-grow-1">

        <div style="width:100%" class="flex-row">

          <img class="img"
              src="{{ url_for('static', filename='images/extraction_facilities/'+facility+'.jpg') }}"
              width="250"
              height="167"
              alt="{{ facility_data.display_name }} power plant">

          <div class="infotext padding">

            <div class="flex-row align-items-center">

              {# Facility name #}
              <strong class="large">{{ facility_data.display_name }}</strong>

              {# Wikipedia icon #}
              <a class="white wikipedia_icon_container no_deco"
                href="{{ facility_data.wikipedia_link }}"
                target="_blank">
                <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
              </a>

              {# Construction Cost #}
              <span class="money_font">
                <script>display_money_long({{ facility_data.price }});</script>
              </span>

            </div>

            <div class="infobox">

              {# Description & indicators #}
              <div class="infotext">
                {{ facility_data.description }}
                <br class="smartphone_hide">
                {# Underground reserves #}
                <br>
                <em class="txt-blue">
                  <i class="fa fa-info-circle"></i> Underground reserves of {{ resource }} : 
                  <strong><script>display_kg({{ user.tile[resource] }});</script></strong>
                </em>
              </div>

              {# Requirements #}
              {% if facility_data.locked %}
                <div class="infobox requirements" id="requirements">
                  <div>
                    <strong>Unlock with :</strong>
                    <br>
                    <ul class="navbar-nav">
                      {% for requirement in facility_data["requirements"] %}
                        {% if requirement.fulfilled %}
                          <li class="padding-small req_fulfilled">- {{ requirement.display_name }} lvl {{ requirement.level }}</li>
                        {% else %}
                          <li class="padding-small requirement">- {{ requirement.display_name }} lvl {{ requirement.level }}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endif %}

            </div>

          </div>

        </div>

        {# Construction information for big screen #}
        <div id="constructionContent" class="hidden">
          <div class="flex-col construction_button_container hidden">
            {% if facility_data.locked %}
              <b class="padding medium margin txt_center white txt-red"
              onclick="start_construction('{{ facility }}', 'Extraction facilities');">
                  Locked
              </b>
            {% else %}
              <b class="padding medium button margin txt_center white"
                  onclick="start_construction('{{ facility }}', 'Extraction facilities');">
                  Start construction
              </b>
            {% endif %}
          </div>
          <div class="construction_info">
            <strong class="hover_info">
              <i class="fa fa-clock-o"></i>&ensp;
              <script>display_duration({{ facility_data.construction_time }});</script>
              <span class="popup_info small">Duration</span>
            </strong>
            <strong class="hover_info">
              <i class="fa fa-bolt"></i>&ensp;
              <script>display_W({{ facility_data.construction_power }});</script>
              <span class="popup_info small">Power consumption</span>
            </strong>
            <strong class="hover_info">
              <i class="fa fa-cloud"></i>&ensp;
              <script>display_kg({{ facility_data.construction_pollution }});</script> CO2
              <span class="popup_info small">CO2 emissions</span>
            </strong>
          </div>
        </div>

      </div>

      <div class="infobox information_container">

        {# Construction information for smartphone #}
        <div id="constructionContent_smartphone" class="hidden margin">
          <div class="flex-col">
            {% if facility_data.locked %}
              <b class="padding medium margin txt_center white txt-red"
              onclick="event.stopPropagation(); start_construction('{{ facility }}', 'Extraction facilities');">
                  Locked
              </b>
            {% else %}
              <b class="padding medium button margin txt_center white"
                  onclick="event.stopPropagation(); start_construction('{{ facility }}', 'Extraction facilities');">
                  Start construction
              </b>
            {% endif %}
          </div>
          <div class="construction_info">
            <strong class="hover_info">
              <i class="fa fa-clock-o"></i>&ensp;
              <script>display_duration({{ facility_data.construction_time }});</script>
              <span class="popup_info small">Duration</span>
            </strong>
            <strong class="hover_info">
              <i class="fa fa-bolt"></i>&ensp;
              <script>display_W({{ facility_data.construction_power }});</script>
              <span class="popup_info small">Power consumption</span>
            </strong>
            <strong class="hover_info">
              <i class="fa fa-cloud"></i>&ensp;
              <script>display_kg({{ facility_data.construction_pollution }});</script> CO2
              <span class="popup_info small">CO2 emissions</span>
            </strong>
          </div>
        </div>

        {# Power Facility Data #}
        <div id="infotable" class="minimized minimizable">
          <table class="table tan_green">
            {# Power consumption #}
            <tr>
              <td>Power consumption</td>
              <td class="txt_center">
                <strong><script>display_W({{ facility_data.power_consumption }});</script></strong>
              </td>
            </tr>
            {# Resource production #}
            <tr>
              <td>{{ resource[0]|upper + resource[1:] }} production</td>
              <td class="txt_center">
                <strong><script>display_kg({{ facility_data.resource_production.rate }});</script>/h</strong>
              </td>
            </tr>
            {# O&M Costs #}
            <tr>
              <td>Operation cost</td>
              <td class="txt_center">
                <strong><script>display_money({{ facility_data.operating_costs }});</script>/h</strong>
              </td>
            </tr>
            {# CO2 emissions #}
            <tr>
              <td>CO2 emissions</td>
              <td class="txt_center">
                <strong><script>display_kg({{ facility_data.pollution }});</script>/t</strong>
              </td>
            </tr>
            {# lifespan #}
            <tr>
              <td>Lifespan</td>
              <td class="txt_center">
                <strong><script>display_days({{ facility_data.lifespan }});</script> days</strong>
              </td>
            </tr>
          </table>
          <div class="overlay"></div>
        </div>
      </div>
    </div>

  {% endfor %}
{% endblock content %}
{% block additionnal_script %}
  <script src="{{ url_for('static', filename='click_construction.js') }}"></script>
  <script>refresh_progressBar()</script>
{% endblock additionnal_script %}
