{% extends "base.jinja" %}
{% block title %}
  Extraction facilities
{% endblock title %}
{% block content %}
  {% set data = all_data["assets"] %}
  <div class="flex-row huge title">
    Extraction facilities
    <div class="pine info_icon_container"
         onclick="document.getElementById('info_popup').classList.remove('hidden');">{{ wikiImage() }}</div>
  </div>
  <div id="info_popup" class="popup hidden green">
    <div class="flex-row margin-small align-items-center">
      <div class="large txt_center flex-grow-1">Help : Extraction facilities</div>
      <div onclick="document.getElementById('info_popup').classList.add('hidden');"
           class="cross pine margin-small"
           style="width:39px">×</div>
    </div>
    <div class="txt_center margin medium">
      <p>On this page you will find all the facilities that can extract natural resources from the ground.</p>
      <p>
        For more information about Extraction facilities, refer to the <a href="{{ url_for('views.wiki', _anchor='Extraction_Facilities') }}">Extraction
        facilities section in the wiki</a>.
      </p>
    </div>
  </div>
  <div id="under_construction">
    {% if user.under_construction %}
      {% for facility in user.under_construction %}
        {% if facility.family == "extraction_facilities" %}
          <div class="padding" id="progress_bar">
            The facility <b>{{ data[facility.name]["name"] }}</b> is under construction <i class="time" data-name="{{ facility.finish_time }}"></i>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  {% set facility = data["coal_mine"] %}
  <div id="{{ facility['name'] }}"
       class="bone margin facility small construction_tile"
       onclick="show_construction('{{ facility['name'] }}', '{{ facility['locked'] }}');">
    <img class="img"
         src="{{ url_for('static', filename='images/extraction_facilities/coal_mine.jpg') }}">
    <div class="infotext padding">
      <strong class="large"><a class="no_deco"
   href="https://en.wikipedia.org/wiki/Coal_mining"
   target="_blank">{{ facility["name"] }}</a></strong> &emsp; <span class="money_font">
        <script>display_money_long({{ facility["price"]}});</script>
      </span>
      <br>
      The coal mine extracts coal from the ground.
      <br>
      <br>
      <em class="txt-blue"><i class="fa fa-info-circle"></i> Underground reserves of coal : <strong>
        <script>display_kg({{ user.tile.coal }});</script>
      </strong></em>
    </div>
    <div class="infobox" id="requirements">
      {% if facility["locked"] %}
        <div>
          <strong>Unlock with :</strong>
          <br>
          <ul style="padding:0; margin:0;">
            {% for req in facility["requirements"] %}
              <li class="margin-small{% if req[2] %} req_fullfilled {% else %} requirement {% endif %}">
                -
                {{ data[req[0]]["name"] }} lvl {{ req[1] }}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
    <div class="infobox" id="infotable">
      <table class="table tan_green">
        <tr>
          <td>Power consumption</td>
          <td class="txt_center">
            <strong>
              <script>display_W({{ facility["power consumption"]}});</script>
            </strong>
          </td>
        </tr>
        <tr>
          <td>Coal production</td>
          <td class="txt_center">
            <strong>
              <script>display_kg({{ facility["amount produced"]* 60 }});</script>/h
            </strong>
          </td>
        </tr>
        <tr>
          <td>CO2 emissions</td>
          <td class="txt_center">
            <strong>
              <script>display_kg({{ facility["pollution"]*1000}});</script>/t
            </strong>
          </td>
        </tr>
      </table>
    </div>
    <div id="constructionContent" class="infobox hidden constructionContent">
      <div class="flex-col">
        <div class="txt_center margin-small" style="width:180px">
          Duration : <strong>
          <script>display_duration({{ facility["construction time"]}});</script>
        </strong>
        <br>
        Energy need : <strong>
        <script>display_W({{ facility["construction power"]}});</script>
      </strong>
      <br>
      Emmissions : <strong>
      <script>display_kg({{ facility["construction pollution"]}});</script> CO2
    </strong>
  </div>
  <b class="padding medium white button margin-small txt_center"
     onclick="start_construction('coal_mine', 'extraction_facilities');"
     style="width:160px">
    Start construction
  </b>
</div>
</div>
</div>
{% set facility = data["oil_field"] %}
<div id="{{ facility['name'] }}"
     class="bone margin facility small construction_tile"
     onclick="show_construction('{{ facility['name'] }}', '{{ facility['locked'] }}');">
  <img class="img"
       src="{{ url_for('static', filename='images/extraction_facilities/oil_field.jpg') }}">
  <div class="infotext padding">
    <strong class="large"><a class="no_deco"
   href="https://en.wikipedia.org/wiki/Extraction_of_petroleum"
   target="_blank">{{ facility["name"] }}</a></strong> &emsp; <span class="money_font">
      <script>display_money_long({{ facility["price"]}});</script>
    </span>
    <br>
    The oil field extracts oil from the ground.
    <br>
    <br>
    <em class="txt-blue"><i class="fa fa-info-circle"></i> Underground reserves of oil : <strong>
      <script>display_kg({{ user.tile.oil }});</script>
    </strong></em>
  </div>
  <div class="infobox" id="requirements">
    {% if facility["locked"] %}
      <div>
        <strong>Unlock with :</strong>
        <br>
        <ul style="padding:0; margin:0;">
          {% for req in facility["requirements"] %}
            <li class="margin-small{% if req[2] %} req_fullfilled {% else %} requirement {% endif %}">
              -
              {{ data[req[0]]["name"] }} lvl {{ req[1] }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="infobox" id="infotable">
    <table class="table tan_green">
      <tr>
        <td>Power consumption</td>
        <td class="txt_center">
          <strong>
            <script>display_W({{ facility["power consumption"]}});</script>
          </strong>
        </td>
      </tr>
      <tr>
        <td>Oil production</td>
        <td class="txt_center">
          <strong>
            <script>display_kg({{ facility["amount produced"]* 60 }});</script>/h
          </strong>
        </td>
      </tr>
      <tr>
        <td>CO2 emissions</td>
        <td class="txt_center">
          <strong>
            <script>display_kg({{ facility["pollution"]*1000}});</script>/t
          </strong>
        </td>
      </tr>
    </table>
  </div>
  <div id="constructionContent" class="infobox hidden constructionContent">
    <div class="flex-col">
      <div class="txt_center margin-small" style="width:180px">
        Duration : <strong>
        <script>display_duration({{ facility["construction time"]}});</script>
      </strong>
      <br>
      Energy need : <strong>
      <script>display_W({{ facility["construction power"]}});</script>
    </strong>
    <br>
    Emmissions : <strong>
    <script>display_kg({{ facility["construction pollution"]}});</script> CO2
  </strong>
</div>
<b class="padding medium white button margin-small txt_center"
   onclick="start_construction('oil_field', 'extraction_facilities');"
   style="width:160px">
  Start construction
</b>
</div>
</div>
</div>
{% set facility = data["gas_drilling_site"] %}
<div id="{{ facility['name'] }}"
     class="bone margin facility small construction_tile"
     onclick="show_construction('{{ facility['name'] }}', '{{ facility['locked'] }}');">
  <img class="img"
       src="{{ url_for('static', filename='images/extraction_facilities/gas_drilling_site.jpg') }}">
  <div class="infotext padding">
    <strong class="large"><a class="no_deco"
   href="https://en.wikipedia.org/wiki/Natural_gas"
   target="_blank">{{ facility["name"] }}</a></strong> &emsp; <span class="money_font">
      <script>display_money_long({{ facility["price"]}});</script>
    </span>
    <br>
    The gas drilling site extracts gas from the ground.
    <br>
    <br>
    <em class="txt-blue"><i class="fa fa-info-circle"></i> Underground reserves of gas : <strong>
      <script>display_kg({{ user.tile.gas }});</script>
    </strong></em>
  </div>
  <div class="infobox" id="requirements">
    {% if facility["locked"] %}
      <div>
        <strong>Unlock with :</strong>
        <br>
        <ul style="padding:0; margin:0;">
          {% for req in facility["requirements"] %}
            <li class="margin-small{% if req[2] %} req_fullfilled {% else %} requirement {% endif %}">
              -
              {{ data[req[0]]["name"] }} lvl {{ req[1] }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="infobox" id="infotable">
    <table class="table tan_green">
      <tr>
        <td>Power consumption</td>
        <td class="txt_center">
          <strong>
            <script>display_W({{ facility["power consumption"]}});</script>
          </strong>
        </td>
      </tr>
      <tr>
        <td>Gas production</td>
        <td class="txt_center">
          <strong>
            <script>display_kg({{ facility["amount produced"]* 60 }});</script>/h
          </strong>
        </td>
      </tr>
      <tr>
        <td>CO2 emissions</td>
        <td class="txt_center">
          <strong>
            <script>display_kg({{ facility["pollution"]*1000}});</script>/t
          </strong>
        </td>
      </tr>
    </table>
  </div>
  <div id="constructionContent" class="infobox hidden constructionContent">
    <div class="flex-col">
      <div class="txt_center margin-small" style="width:180px">
        Duration : <strong>
        <script>display_duration({{ facility["construction time"]}});</script>
      </strong>
      <br>
      Energy need : <strong>
      <script>display_W({{ facility["construction power"]}});</script>
    </strong>
    <br>
    Emmissions : <strong>
    <script>display_kg({{ facility["construction pollution"]}});</script> CO2
  </strong>
</div>
<b class="padding medium white button margin-small txt_center"
   onclick="start_construction('gas_drilling_site', 'extraction_facilities');"
   style="width:160px">
  Start construction
</b>
</div>
</div>
</div>
{% set facility = data["uranium_mine"] %}
<div id="{{ facility['name'] }}"
     class="bone margin facility small construction_tile"
     onclick="show_construction('{{ facility['name'] }}', '{{ facility['locked'] }}');">
  <img class="img"
       src="{{ url_for('static', filename='images/extraction_facilities/uranium_mine.jpg') }}">
  <div class="infotext padding">
    <strong class="large"><a class="no_deco"
   href="https://en.wikipedia.org/wiki/Uranium_mining"
   target="_blank">{{ facility["name"] }}</a></strong> &emsp; <span class="money_font">
      <script>display_money_long({{ facility["price"]}});</script>
    </span>
    <br>
    The uranium mine extracts uranium from the ground.
    <br>
    <br>
    <em class="txt-blue"><i class="fa fa-info-circle"></i> Underground reserves of uranium : <strong>
      <script>display_kg({{ user.tile.uranium }});</script>
    </strong></em>
  </div>
  <div class="infobox" id="requirements">
    {% if facility["locked"] %}
      <div>
        <strong>Unlock with :</strong>
        <br>
        <ul style="padding:0; margin:0;">
          {% for req in facility["requirements"] %}
            <li class="margin-small{% if req[2] %} req_fullfilled {% else %} requirement {% endif %}">
              -
              {{ data[req[0]]["name"] }} lvl {{ req[1] }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="infobox" id="infotable">
    <table class="table tan_green">
      <tr>
        <td>Power consumption</td>
        <td class="txt_center">
          <strong>
            <script>display_W({{ facility["power consumption"]}});</script>
          </strong>
        </td>
      </tr>
      <tr>
        <td>Uranium production</td>
        <td class="txt_center">
          <strong>
            <script>display_kg({{ facility["amount produced"]* 60 }});</script>/h
          </strong>
        </td>
      </tr>
      <tr>
        <td>CO2 emissions</td>
        <td class="txt_center">
          <strong>
            <script>display_kg({{ facility["pollution"]*1000}});</script>/t
          </strong>
        </td>
      </tr>
    </table>
  </div>
  <div id="constructionContent" class="infobox hidden constructionContent">
    <div class="flex-col">
      <div class="txt_center margin-small" style="width:180px">
        Duration : <strong>
        <script>display_duration({{ facility["construction time"]}});</script>
      </strong>
      <br>
      Energy need : <strong>
      <script>display_W({{ facility["construction power"]}});</script>
    </strong>
    <br>
    Emmissions : <strong>
    <script>display_kg({{ facility["construction pollution"]}});</script> CO2
  </strong>
</div>
<b class="padding medium white button margin-small txt_center"
   onclick="start_construction('uranium_mine', 'extraction_facilities');"
   style="width:160px">
  Start construction
</b>
</div>
</div>
</div>
{% endblock content %}
{% block additionnal_script %}
  <script src="{{ url_for('static', filename='click_construction.js') }}"></script>
{% endblock additionnal_script %}
