{% extends "base.jinja" %}
{% block title %}
  Functional facilities
{% endblock title %}
{% block content
  %}
  {% set facility_values = data %}
  <div class="flex-row huge title">
    Functional facilities
    <div class="pine info_icon_container"
         onclick="document.getElementById('info_popup').classList.remove('hidden');">{{ wikiImage() }}</div>
  </div>
  <div id="info_popup" class="popup hidden green">
    <div class="flex-row margin-small align-items-center">
      <div class="large txt_center flex-grow-1">Help : Functional facilities</div>
      <div onclick="document.getElementById('info_popup').classList.add('hidden');"
           class="cross pine margin-small"
           style="width:39px">×</div>
    </div>
    <div class="txt_center margin medium">
      <p>On this page you will find 4 facilities with unique abilites.</p>
      <p>
        For more information about Functional facilities, refer to the <a href="{{ url_for('views.wiki', _anchor='Functional_Facilities') }}">Functional
        facilities section in the wiki</a>.
      </p>
    </div>
  </div>
  <div id="under_construction">
    {# Facilites under construction will show here #}
  </div>
  {% if "GHG_effect" in user.advancements %}
    {% set functional_facilities = ["industry", "laboratory", "warehouse", "carbon_capture"] %}
  {% else %}
    {% set functional_facilities = ["industry", "laboratory", "warehouse"] %}
  {% endif %}
  {% for facility in functional_facilities %}
    {% set const_data = engine.const_config["assets"][facility] %}
    <div id="{{ const_data.name }}"
         class="bone margin facility small"
         onclick="show_construction('{{ const_data.name }}');">

      <div class="flex-col flex-grow-1">

        <div style="width:100%" class="flex-row">

          <img class="img"
              src="{{ url_for('static', filename='images/functional_facilities/'+facility+'.jpg') }}"
              width="250"
              height="167"
              alt="{{ const_data.name }} power plant">

          <div class="infotext padding">

            <div class="flex-row align-items-center">

              {# Facility name #}
              <strong class="large">{{ const_data.name }}</strong>
              &ensp; lvl.&thinsp;<em id="lvl" class="large">{{ user[facility] }}</em>
              &emsp;&ensp;

              {# Construction Cost #}
              <span class="money_font">
                <script>display_money_long({{ const_data["base_price"] * facility_values[facility]["price_multiplier"] }});</script>
              </span>

            </div>

            <div class="infobox">

              {# Description #}
              <div class="infotext">
                {% if facility == "laboratory" and "technology" in user.advancements %}
                  The laboratory is needed to research <strong><a class="txt-blue" id="technology-link" href="/technology">Technologies</a></strong>.
                {% elif facility == "warehouse" and "warehouse" in user.advancements %}
                  The warehouse stores physical <strong><a class="txt-blue" id="resources-link" href="/extraction_facilities">resources</a></strong>.
                {% else %}
                  {{ const_data.description }}
                {% endif %}
              </div>

              {# Requirements #}
              {% if facility_values[facility]["locked"] %}
                <div class="infobox requirements" id="requirements">
                  <div>
                    <strong>Unlock with :</strong>
                    <br>
                    <ul class="navbar-nav">
                      {% for req in facility_values[facility]["requirements"] %}
                        {% if req[0] == "mechanical_engineering" %}
                          {% set tech_name = "Mech. engineering" %}
                        {% else %}
                          {% set tech_name = engine.const_config["assets"][req[0]]["name"] %}
                        {% endif %}
                        {% if req[2] %}
                          <li class="padding-small req_fulfilled">- {{ tech_name }} lvl {{ req[1] }}</li>
                        {% else %}
                          <li class="padding-small requirement">- {{ tech_name }} lvl {{ req[1] }}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endif %}

            </div>

          </div>

        </div>

        {# Construction information for big screen #}
        <div id="constructionContent" class="hidden">
          <div class="flex-col construction_button_container hidden">
            {% if facility_values[facility].locked %}
              <b class="padding medium margin txt_center white txt-red"
              onclick="start_construction('{{ facility }}', 'Functional facilities');">
                  Locked
              </b>
            {% else %}
              <b class="padding medium button margin txt_center white"
                  onclick="start_construction('{{ facility }}', 'Functional facilities');">
                  Start construction
              </b>
            {% endif %}
          </div>
          <div class="construction_info">
            <strong class="hover_info">
              <i class="fa fa-clock-o"></i>&ensp;
              <script>display_duration({{facility_values[facility]["construction_time"]}});</script>
              <span class="popup_info small">Duration</span>
            </strong>
            <strong class="hover_info">
              <i class="fa fa-bolt"></i>&ensp;
              <script>display_W({{facility_values[facility]["construction_power"]}});</script>
              <span class="popup_info small">Power consumption</span>
            </strong>
            <strong class="hover_info">
              <i class="fa fa-cloud"></i>&ensp;
              <script>display_kg({{facility_values[facility]["construction_pollution"]}});</script> CO2
              <span class="popup_info small">CO2 emissions</span>
            </strong>
          </div>
        </div>

      </div>

      <div class="infobox information_container">

        {# Construction information for smarphone #}
        <div id="constructionContent_smartphone" class="hidden margin">
          <div class="flex-col">
            {% if facility_values[facility].locked %}
              <b class="padding medium margin txt_center white txt-red"
              onclick="event.stopPropagation(); start_construction('{{ facility }}', 'Functional facilities');">
                  Locked
              </b>
            {% else %}
              <b class="padding medium button margin txt_center white"
                  onclick="event.stopPropagation(); start_construction('{{ facility }}', 'Functional facilities');">
                  Start construction
              </b>
            {% endif %}
          </div>
          <div class="construction_info">
            <strong class="hover_info">
              <i class="fa fa-clock-o"></i>&ensp;
              <script>display_duration({{facility_values[facility]["construction_time"]}});</script>
              <span class="popup_info small">Duration</span>
            </strong>
            <strong class="hover_info">
              <i class="fa fa-bolt"></i>&ensp;
              <script>display_W({{facility_values[facility]["construction_power"]}});</script>
              <span class="popup_info small">Power consumption</span>
            </strong>
            <strong class="hover_info">
              <i class="fa fa-cloud"></i>&ensp;
              <script>display_kg({{facility_values[facility]["construction_pollution"]}});</script> CO2
              <span class="popup_info small">CO2 emissions</span>
            </strong>
          </div>
        </div>
        
        
        {# Upgrade information #}
        <div id="infotable" class="{% if facility == 'warehouse' %}minimized minimizable{% endif %}">
          <table class="table tan_green" {% if facility in ['industry', 'carbon_capture'] %}style="width:350px"{% endif %}>
            <tr>
              <th>Effects :</th>
              <th id="upgrade" class="txt_center">
                lvl {{ user[facility] }} -> lvl {{ user[facility]+1 }}
              </th>
            </tr>
            {% if facility == "industry" %}
              <tr>
                <td>Average consumption</td>
                <td class="txt_center">
                  <script>display_W({{ const_data["base_power_consumption"] * const_data["power factor"] ** user.industry }});</script> ->
                  <script>display_W({{ const_data["base_power_consumption"] * const_data["power factor"] ** (user.industry+1) }});</script>
                </td>
              </tr>
              <tr>
                <td>Revenue generation</td>
                <td class="txt_center">
                  <script>display_upgrade_money({{ const_data["base_income"] * const_data["income factor"] ** user.industry * 3600 / engine.clock_time}}, {{ const_data["income factor"] }}, {{ const_data["universal_income"] * 3600 / engine.clock_time }});</script>
                </td>
              </tr>
            {% elif facility == "laboratory" %}
              <tr>
                <td>Research speed</td>
                <td class="txt_center">+{{ (100-const_data["time factor"]*100) | int }}%</td>
              </tr>
              <tr>
                <td>Lab workers</td>
                <td class="txt_center">{{ (user.laboratory + 2) // 3 }} -> {{ (user.laboratory + 3) // 3 }}</td>
              </tr>
            {% elif facility == "warehouse" %}
              {% if user.warehouse == 0 %}
                <tr>
                  <td>Coal capacity</td>
                  <td class="txt_center">0 -> 3'000 t</td>
                </tr>
                <tr>
                  <td>Oil capacity</td>
                  <td class="txt_center">0 -> 300 t</td>
                </tr>
                <tr>
                  <td>Gas capacity</td>
                  <td class="txt_center">0 -> 1'000 t</td>
                </tr>
                <tr>
                  <td>Uranium cap.</td>
                  <td class="txt_center">0 -> 5'000 kg</td>
                </tr>
              {% else %}
                {% set warehouse_cap = engine.const_config.warehouse_capacities %}
                {% set warehouse_mult = engine.const_config.assets.warehouse["capacity factor"] ** user.warehouse %}
                <tr>
                  <td>Coal capacity</td>
                  <td class="txt_center">
                    <script>display_upgrade_kg({{ warehouse_cap.coal * warehouse_mult }}, {{ const_data["capacity factor"]}});</script>
                  </td>
                </tr>
                <tr>
                  <td>Oil capacity</td>
                  <td class="txt_center">
                    <script>display_upgrade_kg({{ warehouse_cap.oil * warehouse_mult }}, {{ const_data["capacity factor"]}});</script>
                  </td>
                </tr>
                <tr>
                  <td>Gas capacity</td>
                  <td class="txt_center">
                    <script>display_upgrade_kg({{ warehouse_cap.gas * warehouse_mult }}, {{ const_data["capacity factor"]}});</script>
                  </td>
                </tr>
                <tr>
                  <td>Uranium cap.</td>
                  <td class="txt_center">
                    <script>display_upgrade_kg({{ warehouse_cap.uranium * warehouse_mult }}, {{ const_data["capacity factor"]}});</script>
                  </td>
                </tr>
              {% endif %}
            {% else %}
              {% if user.warehouse == 0 %}
                <tr>
                  <td>Power consumption</td>
                  <td class="txt_center">0 -> 15MW</td>
                </tr>
                <tr>
                  <td>CO2 absorbed</td>
                  <td class="txt_center">0 -> ??? kg/h</td>
                </tr>
              {% else %}
                <tr>
                  <td>Power consumption</td>
                  <td class="txt_center">
                    <script>display_upgrade_W({{ const_data["base_power_consumption"] * const_data["power factor"] ** user.carbon_capture }}, {{ const_data["power factor"]}});</script>
                  </td>
                </tr>
                <tr>
                  <td>CO2 absorbed</td>
                  <td class="txt_center">
                    <script>display_upgrade_kg({{ const_data["base_absorbtion"] * (const_data["absorbtion factor"] ** user.carbon_capture) * engine.data["emissions"]["CO2"] * 60 }}, {{ const_data["absorbtion factor"]}});</script>/h
                  </td>
                </tr>
              {% endif %}
            {% endif %}
          </table>
          <div class="overlay {% if facility != 'warehouse' %}hidden{% endif %}"></div>
        </div>
      </div>

    </div>
  {% endfor %}
{% endblock content %}
{% block additionnal_script %}
  <script src="{{ url_for('static', filename='click_construction.js') }}"></script>
  <script src="{{ url_for('static', filename='lvlup_display.js') }}"></script>
  <script>refresh_progressBar();</script>
{% endblock additionnal_script %}
