{% extends "base.jinja" %} {% block title %}Functional buildings{% endblock %} {% block content
%}

<div class="huge title">Functional buildings</div>

{% if user.under_construction %}
{% for building in user.under_construction %}
{% if building.family == "functional_buildings"%}
<div class="padding" id="progress_bar">
  The building <b>{{data[building.name]["name"]}}</b> is under construction <i class="time" data-name="{{building.finish_time}}"></i>
</div>
{% endif %}
{% endfor %}
{% endif %}

{% set building = data["laboratory"] %}
<div class="bone margin building small">
 <img class="img" src="{{ url_for('static', filename='images/functional_buildings/laboratory.jpg') }}"\>
 <div class="infotext padding">
  <strong class="large">{{building["name"]}}</strong><br>
  The laboratory is needed to do research in different domains. 
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('laboratory', 'functional_buildings'); location.reload();">
    Start construction
  </b>
  <div class="margin">
    <i class="fa fa-money"></i> <script>display_CHF({{building["price"]}});</script> <br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{building["construction time"]}});</script> <br>
    <i class="fa "></i> <script>display_Wh({{building["construction energy"]}});</script> <br>
    <i class="fa fa-cloud"></i> <script>display_kg({{building["construction pollution"]}});</script>
  </div>
 </div>
</div>

{% set building = data["warehouse"] %}
<div class="bone margin building small">
 <img class="img" src="{{ url_for('static', filename='images/functional_buildings/warehouse.jpg') }}"\>
 <div class="infotext padding">
  <strong class="large">{{building["name"]}}</strong><br>
  The warehouse can store physical ressources. 
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('warehouse', 'functional_buildings'); location.reload();">
    Start construction
  </b>
  <div class="margin">
    <i class="fa fa-money"></i> <script>display_CHF({{building["price"]}});</script> <br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{building["construction time"]}});</script> <br>
    <i class="fa "></i> <script>display_Wh({{building["construction energy"]}});</script> <br>
    <i class="fa fa-cloud"></i> <script>display_kg({{building["construction pollution"]}});</script>
  </div>
 </div>
</div>

{% set building = data["industry"] %}
<div class="bone margin building small">
 <img class="img" src="{{ url_for('static', filename='images/functional_buildings/industry.jpg') }}"\>
 <div class="infotext padding">
  <strong class="large">{{building["name"]}}</strong><br>
  The industry generates revenue from energy. 
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('industry', 'functional_buildings'); location.reload();">
    Start construction
  </b>
  <div class="margin">
    <i class="fa fa-money"></i> <script>display_CHF({{building["price"]}});</script> <br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{building["construction time"]}});</script> <br>
    <i class="fa "></i> <script>display_Wh({{building["construction energy"]}});</script> <br>
    <i class="fa fa-cloud"></i> <script>display_kg({{building["construction pollution"]}});</script>
  </div>
 </div>
</div>

{% endblock %}

