{% set month_number = ((engine.data["total_t"] % 73440) // 6120) %}
{% set month_names = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %}
{% set month = month_names[month_number] %}
{% set irradiance = engine.data["weather"]["irradiance"] %}
{% set windspeed = engine.data["weather"]["windspeed"] %}
{% set discharge = engine.data["weather"]["river_discharge"] %}
{% extends "base.jinja" %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    <div class="flex-row huge title">
        Home
        <div class="pine info_icon_container"
             onclick="document.getElementById('info_popup').classList.remove('hidden');">{{ wikiImage() }}</div>
    </div>
    <div id="info_popup" class="popup hidden green">
        <div class="flex-row margin-small align-items-center">
            <div class="large txt_center flex-grow-1">Help : Map</div>
            <div onclick="document.getElementById('info_popup').classList.add('hidden');"
                 class="cross pine margin-small"
                 style="width:39px">×</div>
        </div>
        <div class="txt_center margin medium">
            <p>
                This is the home page of your account. Here you will find the current weather information and the 
                in-game time of the year. Ongoing or planned construction and research projects aswell as ongoing 
                shipments will also show on the home page{% if "network" in user.advancements %} and,
                if you are not part of a Network, you will find a priorritization list for generation and consumption{% endif %}.
            </p>
        </div>
    </div>

    <div class="info_message medium margin padding">
        <i class="fa fa-info-circle info-circle"></i>
        <div class="padding-small">
            🚧 This game is still under development! 🚧 Join the <a href="https://discord.gg/6xQsfqe2Nd">Energetica 
            Discord server</a> to stay updated with the latest news, report bugs, and engage with the community. 
            You can also contact me directly if you have questions (vsfelix@ethz.ch)
        </div>
    </div>

    <div class="bone padding margin">
        <h1>Current weather conditions</h1>
        <div class="flex-row flex-space-around margin medium">
            <div class="flex-col flex-grow-1 padding weather_info_container">
                <div>Month: <b>{{ month }}</b></div>
                <div class="year-background margin-small">
                    <div class="current-date-dot" style="left: calc({{ (engine.data['total_t'] % 73440)/73440 }} * 100%);"></div>
                </div>
            </div>
            <div class="flex-col flex-grow-1 padding weather_info_container">
                <div>Irradiance: <b>{{ irradiance | round | int }} W/m²</b></div>
                <div class="year-background margin-small">
                    <div class="weather_level solar" style="width: calc({{ irradiance/875 }} * 100%);"></div>
                </div>
            </div>
            <div class="flex-col flex-grow-1 padding weather_info_container">
                <div>Wind speed: <b>{{ windspeed | round | int }} km/h</b></div>
                <div class="year-background margin-small">
                    <div class="weather_level wind" style="width: calc({{ windspeed/100 }} * 100%);"></div>
                </div>
            </div>
            <div class="flex-col flex-grow-1 padding weather_info_container">
                <div>River discharge: <b>{{ (discharge * 150) | round | int }} m³/s</b></div>
                <div class="year-background margin-small">
                    <div class="weather_level water" style="width: calc({{ discharge }} * 100%);"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="under_construction">
      {# Facilites under construction will show here #}
    </div>
    <div id="under_research">
      {# Technologies under research will show here #}
    </div>
    <div id="shipments">
      {# Shipments on their way will show here #}
    </div>
    {% if "network" in user.advancements %}
    {% if not user.network %}
    <div class="flex-row huge title">Prioritization of facilities</div>
    <div class="txt_center medium txt_pine">Drag and drop facilities in the list</div>
    <div class="flex-row flex-center align-items-center">
        <span class="medium priority_list_txt left">Consumption priority</span>
        <img src="{{ url_for('static', filename='images/others/arrow_red.png') }}" alt="arrow-up" class="priority_arrow_img up">
        <ul class="priority_list flex-col"></ul>
        <img src="{{ url_for('static', filename='images/others/arrow_blue.png') }}" alt="arrow-up" class="priority_arrow_img">
        <span class="medium priority_list_txt right">Generation priority</span>
    </div>
    <p class="txt_center medium">To have a better understanding how this priority list works, please refer to <a href="{{ url_for('views.wiki', _anchor='Prioritization_of_Facilities') }}">this sction of the wiki</a>.</p>
    <br><br>
    {% else %}
    <div class="txt_center medium margin-large">
        (Prioritization of facilities are managed on the <a href="{{ url_for('views.network') }}">Network page</a>)
    </div>
    {% endif %}
    {% else %}
    <div class="padding margin">
        <h1>Beginners guide</h1>
        <p class="medium">Welcome to Energetica!<br>
            You begin your journey with <b>1 steam engine</b> and a small <b>industry</b>, generating revenues. You can monitor their 
            <a href='/production_overview/electricity'>power generation and consumption</a> aswell as your 
            <a href='/production_overview/revenues'>revenues</a> under the <i>Production overview</i> tab in the 
            <span class="smartphone_hide">left</span><span class="display_hide">top</span> menu.<br>
            The first thing you will probably want to do is to <b>expand your production</b> by investing in 
            <a href='/power_facilities'>Power facilites</a> and upgrading your industry on the <a href='/functional_facilities'>Functional facilites</a> page.
            You have also acess to <a href='/storage_facilities'>Storage facilites</a> to store energy.<br>
            Engage with other players via the <i>Community</i> tab. <br>
            If your are lost, click on the
            <img style="width: 0.8em; height: auto; padding:0 4px;" src="{{ url_for('static', filename='images/icons/wiki.png') }}" width="91" height="96" alt="Help page" />
            icon on the right side of the title, you will find explanations about the 
            content of the page. For detailed explanations on any game mechanics, consult the <a href='/wiki'>wiki</a>.<br>
            Best of luck in your energy adventure!
        </p>
        <p class="medium">Tip : Keep in mind, every construction project <b>consumes electricity</b> during its construction phase. 
        While you might have enough money for a build, inadequate power generation can halt the construction process. 
        Don't build a watermill or windmill until you have enough power generation capacity.</p>
    </div>
    {% endif %}
{% endblock content %}
{% block additionnal_script %}
  <script>refresh_progressBar()</script>
  <script src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock additionnal_script %}