{% extends "base.jinja" %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    <div class="flex-row huge title">
        Home
        <div class="pine info_icon_container"
             onclick="document.getElementById('info_popup').classList.remove('hidden');">{{ wikiImage() }}</div>
    </div>
    <div id="info_popup" class="popup hidden green">
        <div class="flex-row margin-small align-items-center">
            <div class="large txt_center flex-grow-1">Help : Map</div>
            <div onclick="document.getElementById('info_popup').classList.add('hidden');"
                 class="cross pine margin-small"
                 style="width:39px">×</div>
        </div>
        <div class="txt_center margin medium">
            <p>This page is an overview of your profile.</p>
        </div>
    </div>
    <div id="under_construction">
      {# Facilites under construction will show here #}
    </div>
    <div id="under_research">
      {# Facilites under research will show here #}
    </div>
{% endblock content %}
{% block additionnal_script %}
  <script>retrieve_constructions()</script>
  <script>refresh_progressBar()</script>
{% endblock additionnal_script %}