{% extends "head.jinja" %} 
{% block base%}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='sockets.js') }}" ></script>
<script src="{{ url_for('static', filename='progress_bar.js') }}" ></script>
<script src="{{ url_for('static', filename='map_selection.js') }}"></script>
{% endblock %}