{% extends "head.jinja" %} 
{% block base%}

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='sockets.js') }}" ></script>
<script src="{{ url_for('static', filename='progress_bar.js') }}" ></script>
<script src="{{ url_for('static', filename='map_selection.js') }}"></script>
{% endblock %}