{% extends "base.jinja" %} {% block title %}Messages{% endblock %} 

{% block content%}

<div class="huge title">Messages</div>

<div class="medium flex-row">
    <div class="chat_sidebar bone padding">
        CHATS
        
    </div>
    <div class="chat_container padding">
        MESSAGES
    </div>
</div>

{% endblock %}

