{% extends "base.jinja" %} {% block title %}Network{% endblock %} {% block content%}

<div class="huge title">Network</div>

<div class="medium padding">
<i>I want to give the players the possiblity to join their electricity grids in a network to facilitate grid stabilisation. On this page the players could comunicate, trade rerssources and organize their network.</i>
</div>

{% endblock %}

