{% extends "base.jinja" %} {% block title %}Network{% endblock %} {% block content%}
{% set assets = engine.config[user.id]["assets"] %}
{% set SCP = user.self_consumption_priority.split(' ') %}

<div class="huge title margin-large" style="margin-top:30px">Network{% if user.network %} : <b>{{user.network.name}}</b>{% endif %} </div>

{% if user.network == None %}
<div class="medium padding txt_center">
You a currently not part of a Network. Join or create one :
</div>
<div class="flex-row" style="justify-content:center;">
<b class="margin button2" onclick="document.getElementById('join_network').classList.remove('hidden');">Join Network</b>
<b class="margin button2" onclick="document.getElementById('create_network').classList.remove('hidden');">Create Network</b>
</div>
{% else %}
<div class="flex-col medium">
    <table class="table bone margin">
    <tr>
    <th>Members</th>
    </tr>
    {% for member in user.network.members %}
        <tr>
        <td>{{member.username}}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endif %}
<div id="market_graph" class="bone" style="padding-top:30px"></div>


<div class="huge title">Prices</div>

<div class="flex-col medium">
<b class="margin large" style="margin-top:24px">Production capacity prices</b>
<table class="table bone">
  <tr>
  <th>Power facility</th>
  <th>Installed capacity</th>
  <th>Min selling price</th>
  <th><div class="hover_info">SCP<span class="popup_info small">Self-consumption priority</span></div></th>
  </tr>
  <tr>
  <td>Steam engine</td>
  <td class="txt_center"><script>display_W({{user.steam_engine*assets["steam_engine"]["power generation"]}});</script></td>
  <td><input type="number" class="small_input medium txt_center" value="{{user.price_steam_engine}}" id="price_steam_engine" name="price_steam_engine"/> CHF/MWh</td>
  <td><input type="checkbox" id="SCP_steam_engine" name="SCP_steam_engine" {% if "steam_engine" in SCP %} checked {% endif %}></td>
  </tr>
  <tr>
  <td>Coal burner</td>
  <td class="txt_center"><script>display_W({{user.coal_burner*assets["coal_burner"]["power generation"]}});</script></td>
  <td><input type="number" class="small_input medium txt_center" value="{{user.price_coal_burner}}" id="price_coal_burner" name="price_coal_burner"/> CHF/MWh</td>
  <td><input type="checkbox" id="SCP_coal_burner" name="SCP_coal_burner" {% if "coal_burner" in SCP %} checked {% endif %}></td>
  </tr>
  <tr>
  <td>Oil burner</td>
  <td class="txt_center"><script>display_W({{user.oil_burner*assets["oil_burner"]["power generation"]}});</script></td>
  <td><input type="number" class="small_input medium txt_center" value="{{user.price_oil_burner}}" id="price_oil_burner" name="price_oil_burner"/> CHF/MWh</td>
  <td><input type="checkbox" id="SCP_oil_burner" name="SCP_oil_burner" {% if "oil_burner" in SCP %} checked {% endif %}></td>
  </tr>
  <tr>
  <td>Gas burner</td>
  <td class="txt_center"><script>display_W({{user.gas_burner*assets["gas_burner"]["power generation"]}});</script></td>
  <td><input type="number" class="small_input medium txt_center" value="{{user.price_gas_burner}}" id="price_gas_burner" name="price_gas_burner"/> CHF/MWh</td>
  <td><input type="checkbox" id="SCP_gas_burner" name="SCP_gas_burner" {% if "gas_burner" in SCP %} checked {% endif %}></td>
  </tr>
  <tr>
  <td>Combined cycle</td>
  <td class="txt_center"><script>display_W({{user.combined_cycle*assets["combined_cycle"]["power generation"]}});</script></td>
  <td><input type="number" class="small_input medium txt_center" value="{{user.price_combined_cycle}}" id="price_combined_cycle" name="price_combined_cycle"/> CHF/MWh</td>
  <td><input type="checkbox" id="SCP_combined_cycle" name="SCP_combined_cycle" {% if "combined_cycle" in SCP %} checked {% endif %}></td>
  </tr>
  <tr>
  <td>Nuclear reactor</td>
  <td class="txt_center"><script>display_W({{user.nuclear_reactor*assets["nuclear_reactor"]["power generation"]}});</script></td>
  <td><input type="number" class="small_input medium txt_center" value="{{user.price_nuclear_reactor}}" id="price_nuclear_reactor" name="price_nuclear_reactor"/> CHF/MWh</td>
  <td><input type="checkbox" id="SCP_nuclear_reactor" name="SCP_nuclear_reactor" {% if "nuclear_reactor" in SCP %} checked {% endif %}></td>
  </tr>
  <tr>
  <td>4th generation nuclear</td>
  <td class="txt_center"><script>display_W({{user.nuclear_reactor_gen4*assets["nuclear_reactor_gen4"]["power generation"]}});</script></td>
  <td><input type="number" class="small_input medium txt_center" value="{{user.price_nuclear_reactor_gen4}}" id="price_nuclear_reactor_gen4" name="price_nuclear_reactor_gen4"/> CHF/MWh</td>
  <td><input type="checkbox" id="SCP_nuclear_reactor_gen4" name="SCP_nuclear_reactor_gen4" {% if "nuclear_reactor_gen4" in SCP %} checked {% endif %}></td>
  </tr>
</table>

<b class="margin large" style="margin-top:24px">Storage capacity prices</b>
<table class="table bone">
  <tr>
  <th>Storage facility</th>
  <th>Installed capacity</th>
  <th>Min selling price</th>
  <th>Max buying price</th>
  </tr>
  <tr>
  <td>Small pumped hydro</td>
  <td class="txt_center"><script>display_Wh({{user.small_pumped_hydro*assets["small_pumped_hydro"]["storage capacity"]}});</script></td>
  <td><input type="number" class="small_input medium txt_center" value="{{user.price_sell_small_pumped_hydro}}" id="price_sell_small_pumped_hydro" name="price_sell_small_pumped_hydro"/> CHF/MWh</td>
  <td></div><input type="number" class="small_input medium txt_center" value="{{user.price_buy_small_pumped_hydro}}" id="price_buy_small_pumped_hydro" name="price_buy_small_pumped_hydro"/> CHF/MWh</td>
  </tr>
  <tr>
  <td>Compressed air</td>
  <td class="txt_center"><script>display_Wh({{user.compressed_air*assets["compressed_air"]["storage capacity"]}});</script></td>
  <td><input type="number" class="small_input medium txt_center" value="{{user.price_sell_compressed_air}}" id="price_sell_compressed_air" name="price_sell_compressed_air"/> CHF/MWh</td>
  <td><input type="number" class="small_input medium txt_center" value="{{user.price_buy_compressed_air}}" id="price_buy_compressed_air" name="price_buy_compressed_air"/> CHF/MWh</td>
  </tr>
  <tr>
  <td>Molten salt</td>
  <td class="txt_center"><script>display_Wh({{user.molten_salt*assets["molten_salt"]["storage capacity"]}});</script></td>
  <td><input type="number" class="small_input medium txt_center" value="{{user.price_sell_molten_salt}}" id="price_sell_molten_salt" name="price_sell_molten_salt"/> CHF/MWh</td>
  <td><input type="number" class="small_input medium txt_center" value="{{user.price_buy_molten_salt}}" id="price_buy_molten_salt" name="price_buy_molten_salt"/> CHF/MWh</td>
  </tr>
  <tr>
  <td>Large pumped hydro</td>
  <td class="txt_center"><script>display_Wh({{user.large_pumped_hydro*assets["large_pumped_hydro"]["storage capacity"]}});</script></td>
  <td><input type="number" class="small_input medium txt_center" value="{{user.price_sell_large_pumped_hydro}}" id="price_sell_large_pumped_hydro" name="price_sell_large_pumped_hydro"/> CHF/MWh</td>
  <td><input type="number" class="small_input medium txt_center" value="{{user.price_buy_large_pumped_hydro}}" id="price_buy_large_pumped_hydro" name="price_buy_large_pumped_hydro"/> CHF/MWh</td>
  </tr>
  <tr>
  <td>Hydrogen storage</td>
  <td class="txt_center"><script>display_Wh({{user.hydrogen_storage*assets["hydrogen_storage"]["storage capacity"]}});</script></td>
  <td><input type="number" class="small_input medium txt_center" value="{{user.price_sell_hydrogen_storage}}" id="price_sell_hydrogen_storage" name="price_sell_hydrogen_storage"/> CHF/MWh</td>
  <td><input type="number" class="small_input medium txt_center" value="{{user.price_buy_hydrogen_storage}}" id="price_buy_hydrogen_storage" name="price_buy_hydrogen_storage"/> CHF/MWh</td>
  </tr>
  <tr>
  <td>Lithium ion batteries</td>
  <td class="txt_center"><script>display_Wh({{user.lithium_ion_batteries*assets["lithium_ion_batteries"]["storage capacity"]}});</script></td>
  <td><input type="number" class="small_input medium txt_center" value="{{user.price_sell_lithium_ion_batteries}}" id="price_sell_lithium_ion_batteries" name="price_sell_lithium_ion_batteries"/> CHF/MWh</td>
  <td><input type="number" class="small_input medium txt_center" value="{{user.price_buy_lithium_ion_batteries}}" id="price_buy_lithium_ion_batteries" name="price_buy_lithium_ion_batteries"/> CHF/MWh</td>
  </tr>
  <tr>
  <td>Solid state batteries</td>
  <td class="txt_center"><script>display_Wh({{user.solid_state_batteries*assets["solid_state_batteries"]["storage capacity"]}});</script></td>
  <td><input type="number" class="small_input medium txt_center" value="{{user.price_sell_solid_state_batteries}}" id="price_sell_solid_state_batteries" name="price_sell_solid_state_batteries"/> CHF/MWh</td>
  <td><input type="number" class="small_input medium txt_center" value="{{user.price_buy_solid_state_batteries}}" id="price_buy_solid_state_batteries" name="price_buy_solid_state_batteries"/> CHF/MWh</td>
  </tr>
</table>
</div>
<br>
<br>
<br>

<!--JOIN NETWORK-->
<div id="join_network" class="popup hidden green">
    <div class="flex-row margin-small" style="align-items:center;">
        <div class="large txt_center" style="flex-grow:1">Join Network</div>
        <div onclick="document.getElementById('join_network').classList.add('hidden');" class="cross pine margin-small" style="width:39px">
            &times;
        </div>
    </div>
    <form method="POST" autocomplete="off" class="flex-col margin-large" style="margin-top:5px">
        <div class="flex-col" style="width:100%;">
            <div id="warning" style="width:260px;"></div>
            <label for="choose_network">Network</label>
            <select id="choose_network" name="choose_network" class="create_chat_input medium" required>
              <option value="" disabled selected>select network</option>
            </select>
        </div>
        <button type="submit" class="bone padding medium login-button" style="margin-top:20px">Join Network</button>
    </form>
</div>

<!--CREATE NETWORK-->
<div id="create_network" class="popup hidden green">
    <div class="flex-row margin-small" style="align-items:center;">
        <div class="large txt_center" style="flex-grow:1">Create Network</div>
        <div onclick="document.getElementById('create_network').classList.add('hidden');" class="cross pine margin-small" style="width:39px">
            &times;
        </div>
    </div>
    <div class="flex-col margin-large">
        <div style="padding-bottom:32px">
            <label for="network_name">Network name</label>
            <input type="text" class="create_chat_input medium" id="network_name" name="network_name" placeholder="Name" required>
        </div>
        Invited players : <br>
        (click to remove)
        <div class="invited_players"></div>
        <div>
            <label for="invite_player">Invite players</label>
            <div class="flex-row">
                <div>
                    <input type="text" class="create_chat_input medium" id="invite_player" name="invite_player" placeholder="Player">
                    <div class="suggestions"></div>
                </div>
                <div onclick="addPlayer()" class="plus bone">+</div>
            </div>
        </div>
        <div onclick="createNetwork()" class="bone padding medium login-button" style="margin-top:16px">Create Network</div>
    </div>
</div>

{% endblock %}

{% block additionnal_script %}
<script src="{{ url_for('static', filename='network/price_change.js') }}"></script>
<script src="{{ url_for('static', filename='network/network_logic.js') }}"></script>
<script src="{{ url_for('static', filename='network/market_graph.js') }}"></script>
{% endblock %}