{% extends "base.jinja" %}
{% block title %}
    Network
{% endblock title %}
{% block content %}
    {% set assets = engine.config[user.id]["assets"] %}
    {% set SCP = user.self_consumption_priority.split(' ') %}
    <div class="flex-row huge title">
        Network
        {% if user.network %}: <b>{{ user.network.name }}</b>{% endif %}
        <div class="pine info_icon_container"
             onclick="document.getElementById('info_popup').classList.remove('hidden');">{{ wikiImage() }}</div>
    </div>
    <div id="info_popup" class="popup hidden green">
        <div class="flex-row margin-small align-items-center">
            <div class="large txt_center flex-grow-1">Help : Network</div>
            <div onclick="document.getElementById('info_popup').classList.add('hidden');"
                 class="cross pine margin-small"
                 style="width:39px">×</div>
        </div>
        <div class="txt_center margin medium">
            {% if user.network == None %}
                <p>
                    Here you can join or create a network. You will also find tables where you can set the prices for the demand
                    and the power and storage facilites. These prices will define the priority lists of facilites for the power
                    generation logic.
                </p>
            {% else %}
                <p>
                    On this page you will find informations about your network and tables where you can set the prices for the
                    demand and the power and storage facilites.
                </p>
                <p>
                    The top graph shows the market price and quantity over time and the lower graph shows the current market
                    state with the colored rectangles being the supply and the red saircase curve being the demand. You can
                    click on past timepoints in the top plot to show the market state at this time.
                </p>
            {% endif %}
            <p>
                For more detailed information about the Network and the prices refer to the <a href="{{ url_for('views.wiki',_anchor='Network') }}">Network
                section in the wiki</a>.
            </p>
        </div>
    </div>
    {% if user.network == None %}
        <div class="medium padding txt_center">You a currently not part of a Network. Join or create one :</div>
        <div class="flex-row" style="justify-content:center;">
            <b class="margin button2"
               onclick="document.getElementById('join_network').classList.remove('hidden');">Join
            Network</b>
            <b class="margin button2"
               onclick="document.getElementById('create_network').classList.remove('hidden');">Create
            Network</b>
        </div>
    {% else %}
        <div id="market_graph" class="bone" style="padding:30px 0; margin:30px 0;"></div>
        <form action="/leave_network"
              method="post"
              class="flex-row"
              style="justify-content:center">
            <button type="submit" class="bone padding medium login-button">Leave Network</button>
        </form>
        <div class="flex-col medium">
            <table class="table bone margin">
                <tr>
                    <th>Members</th>
                </tr>
                {% for member in user.network.members %}
                    <tr>
                        <td>{{ member.username }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    <div class="flex-row huge title">Prices</div>
    <div class="flex-col medium">
        <b class="margin large" style="margin-top:24px">Demand prices</b>
        <table class="table bone">
            <tr>
                <th>Demand</th>
                <th>Max buying price</th>
            </tr>
            <tr>
                <td>Industry</td>
                <td>
                    <input type="number"
                           class="small_input medium txt_center"
                           value="{{ user.price_buy_industry }}"
                           id="price_buy_industry"
                           name="price_buy_industry" />
                    <img src='/static/images/icons/coin.svg' class='coin' alt='coin'>
                    /MWh
                </td>
            </tr>
            <tr>
                <td>Constructions</td>
                <td>
                    <input type="number"
                           class="small_input medium txt_center"
                           value="{{ user.price_buy_construction }}"
                           id="price_buy_construction"
                           name="price_buy_construction" />
                    <img src='/static/images/icons/coin.svg' class='coin' alt='coin'>
                    /MWh
                </td>
            </tr>
            <tr>
                <td>Research</td>
                <td>
                    <input type="number"
                           class="small_input medium txt_center"
                           value="{{ user.price_buy_research }}"
                           id="price_buy_research"
                           name="price_buy_research" />
                    <img src='/static/images/icons/coin.svg' class='coin' alt='coin'>
                    /MWh
                </td>
            </tr>
            <tr>
                <td>Shipments</td>
                <td>
                    <input type="number"
                           class="small_input medium txt_center"
                           value="{{ user.price_buy_transport }}"
                           id="price_buy_transport"
                           name="price_buy_transport" />
                    <img src='/static/images/icons/coin.svg' class='coin' alt='coin'>
                    /MWh
                </td>
            </tr>
            {% macro extraction_facility_display_name(extraction_facility) -%}
                {{ {"coal_mine": "Coal mines", "oil_field": "Oil fields", "gas_drilling_site": "Gas extraction", "uranium_mine": "Uranium mines"}[extraction_facility] }}
            {%- endmacro %}
            {% macro extraction_facility_price_buy(extraction_facility) -%}
                {{ 'price_buy_'+extraction_facility }}
            {%- endmacro %}
            {% macro extraction_facility_price_buy_value(extraction_facility) -%}
                {{ user[extraction_facility_price_buy(extraction_facility) ] }}
            {%- endmacro %}
            {% for extraction_facility in ["coal_mine", "oil_field", "gas_drilling_site", "uranium_mine"] %}
                {% if user[extraction_facility] > 0 %}
                    <tr>
                        <td>{{ extraction_facility_display_name(extraction_facility) }}</td>
                        <td>
                            <input type="number"
                                   class="small_input medium txt_center"
                                   value="{{ extraction_facility_price_buy_value(extraction_facility) }}"
                                   id="{{ extraction_facility_price_buy(extraction_facility) }}"
                                   name="{{ extraction_facility_price_buy(extraction_facility) }}" />
                            <img src='/static/images/icons/coin.svg' class='coin' alt='coin'>
                            /MWh
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            {% if user.carbon_capture > 0 %}
                <tr>
                    <td>Carbon capture</td>
                    <td>
                        <input type="number"
                               class="small_input medium txt_center"
                               value="{{ user.price_buy_carbon_capture }}"
                               id="price_buy_carbon_capture"
                               name="price_buy_carbon_capture" />
                        <img src='/static/images/icons/coin.svg' class='coin' alt='coin'>
                        /MWh
                    </td>
                </tr>
            {% endif %}
        </table>
        <div class="flex-row" style="justify-content:center;">
            <b class="margin white button padding" onclick="change_prices();">Save changes</b>
        </div>
        <b class="margin large" style="margin-top:24px">Production capacity prices</b>
        <table class="table bone">
            <tr>
                <th>Power facility</th>
                <th>Installed capacity</th>
                <th>Min selling price</th>
                <th>
                    <div class="hover_info">
                        SCP<span class="popup_info small">Self-consumption priority</span>
                    </div>
                </th>
            </tr>
            {% macro power_facility_display_name(power_facility) -%}
                {{ {"steam_engine": "Steam engine", "coal_burner": "Coal burner", "oil_burner": "Oil burner", "gas_burner": "Gas burner", "combined_cycle": "Combined cycle", "nuclear_reactor": "Nuclear reactor", "nuclear_reactor_gen4": "4th generation nuclear"}[power_facility] }}
            {%- endmacro %}
            {% macro power_facility_price(power_facility) -%}
                {{ 'price_'+power_facility }}
            {%- endmacro %}
            {% macro power_facility_price_value(power_facility) -%}
                {{ user[power_facility_price(power_facility) ] }}
            {%- endmacro %}
            {% macro power_facility_SCP(power_facility) -%}
                {{ 'SCP_'+power_facility }}
            {%- endmacro %}
            {% for power_facility in ["steam_engine", "coal_burner", "oil_burner", "gas_burner", "combined_cycle", "nuclear_reactor", "nuclear_reactor_gen4"] %}
                {% if user[power_facility] %}
                    <tr>
                        <td>{{ power_facility_display_name(power_facility) }}</td>
                        <td class="txt_center">
                            <script>display_W({{ user[power_facility] * assets[power_facility]["power generation"] }});</script>
                        </td>
                        <td>
                            <input type="number"
                                   class="small_input medium txt_center"
                                   value="{{ power_facility_price_value(power_facility) }}"
                                   id="{{ power_facility_price(power_facility) }}"
                                   name="{{ power_facility_price(power_facility) }}" />
                            <img src='/static/images/icons/coin.svg' class='coin' alt='coin'>
                            /MWh
                        </td>
                        <td>
                            <input type="checkbox" id="{{ power_facility_SCP(power_facility) }}" name="{{ power_facility_SCP(power_facility) }}" {{ 'checked' if power_facility in SCP else '' }}>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <div class="flex-row" style="justify-content:center;">
            <b class="margin white button padding" onclick="change_prices();">Save changes</b>
        </div>
        <b class="margin large" style="margin-top:24px">Storage capacity prices</b>
        <table class="table bone">
            <tr>
                <th>Storage facility</th>
                <th>Installed capacity</th>
                <th>Min selling price</th>
                <th>Max buying price</th>
                <th>
                    <div class="hover_info">
                        SCP<span class="popup_info small">Self-consumption priority</span>
                    </div>
                </th>
            </tr>
            {% macro storage_facility_display_name(storage_facility) -%}
                {{ {"small_pumped_hydro": "Small pumped hydro", "compressed_air": "Compressed air", "molten_salt": "Molten salt", "large_pumped_hydro": "Large pumped hydro", "hydrogen_storage": "Hydrogen storage", "lithium_ion_batteries": "Lithium ion batteries", "solid_state_batteries": "Solid state batteries"}[storage_facility] }}
            {%- endmacro %}
            {% macro storage_facility_price(storage_facility) -%}
                {{ 'price_'+storage_facility }}
            {%- endmacro %}
            {% macro storage_facility_price_buy(storage_facility) -%}
                {{ 'price_buy_'+storage_facility }}
            {%- endmacro %}
            {% macro storage_facility_SCP(storage_facility) -%}
                {{ 'SCP_'+storage_facility }}
            {%- endmacro %}
            {% for storage_facility in ["small_pumped_hydro", "compressed_air", "molten_salt", "large_pumped_hydro", "hydrogen_storage", "lithium_ion_batteries", "solid_state_batteries"] %}
                {% if user[storage_facility] > 0 %}
                    <tr>
                        <td>{{ storage_facility_display_name(storage_facility) }}</td>
                        <td class="txt_center">
                            <script>display_Wh({{ user[storage_facility] * assets[storage_facility]["storage capacity"] }});</script>
                        </td>
                        <td>
                            <input type="number"
                                class="small_input medium txt_center"
                                value="{{ user[storage_facility_price(storage_facility)] }}"
                                id="{{ storage_facility_price(storage_facility) }}"
                                name="{{ storage_facility_price(storage_facility) }}" />
                            <img src='/static/images/icons/coin.svg' class='coin' alt='coin'>
                            /MWh
                        </td>
                        <td>
                            <input type="number"
                                class="small_input medium txt_center"
                                value="{{ user[storage_facility_price_buy(storage_facility)] }}"
                                id="{{ storage_facility_price_buy(storage_facility) }}"
                                name="{{ storage_facility_price_buy(storage_facility) }}" />
                            <img src='/static/images/icons/coin.svg' class='coin' alt='coin'>
                            /MWh
                        </td>
                        <td>
                            <input type="checkbox" id="{{ storage_facility_SCP(storage_facility) }}" name="{{ storage_facility_SCP(storage_facility) }}" {{ 'checked' if storage_facility in SCP else '' }}>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <div class="flex-row" style="justify-content:center;">
            <b class="margin white button padding" onclick="change_prices();">Save changes</b>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!--JOIN NETWORK-->
    <div id="join_network" class="popup hidden green">
        <div class="flex-row margin-small align-items-center">
            <div class="large txt_center flex-grow-1">Join Network</div>
            <div onclick="document.getElementById('join_network').classList.add('hidden');"
                 class="cross pine margin-small"
                 style="width:39px">×</div>
        </div>
        <div id="warning" style="width:260px;" class="margin-large"></div>
        <form action="/join_network"
              id="join_network_form"
              method="post"
              autocomplete="off"
              class="flex-col margin-large"
              style="margin-top:5px">
            <div class="flex-col" style="width:100%;">
                <label for="choose_network">Network</label>
                <select id="choose_network"
                        name="choose_network"
                        class="create_chat_input medium"
                        required>
                    <option value="" disabled selected>select network</option>
                </select>
            </div>
            <button type="submit"
                    class="bone padding medium login-button"
                    style="margin-top:20px">Join Network</button>
        </form>
    </div>
    <!--CREATE NETWORK-->
    <div id="create_network" class="popup hidden green">
        <div class="flex-row margin-small align-items-center">
            <div class="large txt_center flex-grow-1">Create Network</div>
            <div onclick="document.getElementById('create_network').classList.add('hidden');"
                 class="cross pine margin-small"
                 style="width:39px">×</div>
        </div>
        <form action="/create_network"
              method="post"
              autocomplete="off"
              class="flex-col margin-large">
            <div style="padding-bottom:32px">
                <label for="network_name">Network name</label>
                <input type="text"
                       class="create_chat_input medium"
                       id="network_name"
                       name="network_name"
                       placeholder="Name"
                       required>
            </div>
            {# Invited players : <br>
        (click to remove) #}
            {# <div class="invited_players"></div> #}
            {# <div>
            <label for="invite_player">Invite players</label>
            <div class="flex-row">
                <div>
                    <input type="text" class="create_chat_input medium" id="invite_player" name="invite_player"
                        placeholder="Player">
                    <div class="suggestions"></div>
                </div>
                <div onclick="addPlayer()" class="plus bone">+</div>
            </div>
        </div> #}
            <button type="submit"
                    class="bone padding medium login-button"
                    style="margin-top:16px">Create Network</button>
        </form>
    </div>
{% endblock content %}
{% block additionnal_script %}
    <script src="{{ url_for('static', filename='network/price_change.js') }}"></script>
    <script src="{{ url_for('static', filename='network/network_logic.js') }}"></script>
    <script src="{{ url_for('static', filename='network/market_graph.js') }}"></script>
{% endblock additionnal_script %}
