{% extends "base.jinja" %} {% block title %}Power buildings{% endblock %} {% block content
%}

<div class="huge title">Power buildings</div>

{% if user.under_construction %}
{% for building in user.under_construction %}
<div id="progress_bar">
  The building <b>{{data[building.name]["name"]}}</b> is under construction <i class="time" data-name="{{building.finish_time}}"></i>
</div>
{% endfor %}
{% endif %}

{% set building = data["steam_engine"] %}
<div class="bone margin building small">
 <img class="img" src="{{ url_for('static', filename='images/power_buildings/steam_engine.png') }}"\>
 <div class="infotext padding">
  <strong class="large"><a class="no_deco" href="https://en.wikipedia.org/wiki/Steam_engine" target="_blank">{{building["name"]}}</a></strong><br>
  The steam engine burns wood to produce electricity. 
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('steam_engine'); location.reload();">
    Start construction
  </b>
  <div>
    <i class="fa fa-money"></i> <script>display_CHF({{building["price"]}});</script> <br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{building["construction time"]}});</script> <br>
    <i class="fa "></i> <script>display_Wh({{building["construction energy"]}});</script> <br>
    <i class="fa fa-cloud"></i> <script>display_kg({{building["construction pollution"]}});</script>
  </div>
  <div class="margin tan_green padding">
    <i class="fa fa-bolt"></i> <script>display_W({{building["power production"]}});</script> <br>
    <i class="fa Example of truck fa-truck"></i> <script>display_CHF({{building["amount consumed"]}});</script>/h <br>
    <i class="fa fa-cloud"></i> {{building["pollution"]}} g/kWh
  </div>
 </div>
</div>

{% set building = data["windmill"] %}
<div class="bone margin building small">
 <img class="img" src="{{ url_for('static', filename='images/power_buildings/windmill.jpg') }}"\>
 <div class="infotext padding">
  <strong class="large"><a class="no_deco" href="https://en.wikipedia.org/wiki/Windmill" target="_blank">{{building["name"]}}</a></strong><br>
  The windmill uses the force of the wind to produce electricity. 
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('windmill'); location.reload();">
    Start construction
  </b>
  <div>
    <i class="fa fa-money"></i> <script>display_CHF({{building["price"]}});</script> <br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{building["construction time"]}});</script> <br>
    <i class="fa "></i> <script>display_Wh({{building["construction energy"]}});</script> <br>
    <i class="fa fa-cloud"></i> <script>display_kg({{building["construction pollution"]}});</script>
  </div>
  <div class="margin tan_green padding">
    <i class="fa fa-bolt"></i> <script>display_W({{building["power production"]}});</script> <br>
    <i class="fa fa-cloud"></i> {{building["pollution"]}} g/kWh
  </div>
 </div>
</div>

{% set building = data["watermill"] %}
<div class="bone margin building small">
 <img class="img" src="{{ url_for('static', filename='images/power_buildings/watermill.jpg') }}"\>
 <div class="infotext padding">
  <strong class="large"><a class="no_deco" href="https://en.wikipedia.org/wiki/Watermill" target="_blank">{{building["name"]}}</a></strong><br>
  The watermill uses the energy of flowing water to produce electricity. 
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('watermill'); location.reload();">
    Start construction
  </b>
  <div>
    <i class="fa fa-money"></i> <script>display_CHF({{building["price"]}});</script> <br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{building["construction time"]}});</script> <br>
    <i class="fa "></i> <script>display_Wh({{building["construction energy"]}});</script> <br>
    <i class="fa fa-cloud"></i> <script>display_kg({{building["construction pollution"]}});</script>
  </div>
  <div class="margin tan_green padding">
    <i class="fa fa-bolt"></i> <script>display_W({{building["power production"]}});</script> <br>
    <i class="fa fa-cloud"></i> {{building["pollution"]}} g/kWh
  </div>
 </div>
</div>

{% set building = data["coal_burner"] %}
<div class="bone margin building small">
 <img class="img" src="{{ url_for('static', filename='images/power_buildings/coal_burner.jpg') }}"\>
 <div class="infotext padding">
  <strong class="large"><a class="no_deco" href="https://en.wikipedia.org/wiki/Coal-fired_power_station" target="_blank">{{building["name"]}}</a></strong><br>
  The coal burner burns coal to produce electricity. 
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('windcoal_burnermill'); location.reload();">
    Start construction
  </b>
  <div>
    <i class="fa fa-money"></i> <script>display_CHF({{building["price"]}});</script> <br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{building["construction time"]}});</script> <br>
    <i class="fa "></i> <script>display_Wh({{building["construction energy"]}});</script> <br>
    <i class="fa fa-cloud"></i> <script>display_kg({{building["construction pollution"]}});</script>
  </div>
  <div class="margin tan_green padding">
    <i class="fa fa-bolt"></i> <script>display_W({{building["power production"]}});</script> <br>
    <i class="fa Example of truck fa-truck"></i> <script>display_kgh({{building["amount consumed"]}});</script> coal <br>
    <i class="fa fa-cloud"></i> {{building["pollution"]}} g/kWh
  </div>
 </div>
</div>

{% set building = data["oil_burner"] %}
<div class="bone margin building small">
 <img class="img" src="{{ url_for('static', filename='images/power_buildings/oil_burner.jpg') }}"\>
 <div class="infotext padding">
  <strong class="large"><a class="no_deco" href="https://en.wikipedia.org/wiki/Fossil_fuel_power_station" target="_blank">{{building["name"]}}</a></strong><br>
  The oil burner burns oil to produce electricity. 
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('oil_burner'); location.reload();">
    Start construction
  </b>
  <div>
    <i class="fa fa-money"></i> <script>display_CHF({{building["price"]}});</script> <br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{building["construction time"]}});</script> <br>
    <i class="fa "></i> <script>display_Wh({{building["construction energy"]}});</script> <br>
    <i class="fa fa-cloud"></i> <script>display_kg({{building["construction pollution"]}});</script>
  </div>
  <div class="margin tan_green padding">
    <i class="fa fa-bolt"></i> <script>display_W({{building["power production"]}});</script> <br>
    <i class="fa Example of truck fa-truck"></i> <script>display_kgh({{building["amount consumed"]}});</script> oil <br>
    <i class="fa fa-cloud"></i> {{building["pollution"]}} g/kWh
  </div>
 </div>
</div>

{% set building = data["gas_burner"] %}
<div class="bone margin building small">
 <img class="img" src="{{ url_for('static', filename='images/power_buildings/gas_burner.jpg') }}"\>
 <div class="infotext padding">
  <strong class="large"><a class="no_deco" href="https://en.wikipedia.org/wiki/Gas-fired_power_plant" target="_blank">{{building["name"]}}</a></strong><br>
  The gas burner burns gas to produce electricity. 
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('gas_burner'); location.reload();">
    Start construction
  </b>
  <div>
    <i class="fa fa-money"></i> <script>display_CHF({{building["price"]}});</script> <br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{building["construction time"]}});</script> <br>
    <i class="fa "></i> <script>display_Wh({{building["construction energy"]}});</script> <br>
    <i class="fa fa-cloud"></i> <script>display_kg({{building["construction pollution"]}});</script>
  </div>
  <div class="margin tan_green padding">
    <i class="fa fa-bolt"></i> <script>display_W({{building["power production"]}});</script> <br>
    <i class="fa Example of truck fa-truck"></i> <script>display_kgh({{building["amount consumed"]}});</script> gas <br>
    <i class="fa fa-cloud"></i> {{building["pollution"]}} g/kWh
  </div>
 </div>
</div>

{% set building = data["shallow_geothermal_plant"] %}
<div class="bone margin building small">
 <img class="img" src="{{ url_for('static', filename='images/power_buildings/shallow_geothermal_plant.jpg') }}"\>
 <div class="infotext padding">
  <strong class="large"><a class="no_deco" href="https://en.wikipedia.org/wiki/Geothermal_energy" target="_blank">{{building["name"]}}</a></strong><br>
  The shallow geothermal plant uses shallow geothermal heat to produce electricity. 
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('shallow_geothermal_plant'); location.reload();">
    Start construction
  </b>
  <div>
    <i class="fa fa-money"></i> <script>display_CHF({{building["price"]}});</script> <br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{building["construction time"]}});</script> <br>
    <i class="fa "></i> <script>display_Wh({{building["construction energy"]}});</script> <br>
    <i class="fa fa-cloud"></i> <script>display_kg({{building["construction pollution"]}});</script>
  </div>
  <div class="margin tan_green padding">
    <i class="fa fa-bolt"></i> <script>display_W({{building["power production"]}});</script> <br>
    <i class="fa fa-cloud"></i> {{building["pollution"]}} g/kWh
  </div>
 </div>
</div>

{% set building = data["small_water_dam"] %}
<div class="bone margin building small">
 <img class="img" src="{{ url_for('static', filename='images/power_buildings/small_water_dam.jpg') }}"\>
 <div class="infotext padding">
  <strong class="large"><a class="no_deco" href="https://en.wikipedia.org/wiki/Hydroelectricity" target="_blank">{{building["name"]}}</a></strong><br>
  The small water dam uses the potential energy of the water to produce electricity. 
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('small_water_dam'); location.reload();">
    Start construction
  </b>
  <div>
    <i class="fa fa-money"></i> <script>display_CHF({{building["price"]}});</script> <br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{building["construction time"]}});</script> <br>
    <i class="fa "></i> <script>display_Wh({{building["construction energy"]}});</script> <br>
    <i class="fa fa-cloud"></i> <script>display_kg({{building["construction pollution"]}});</script>
  </div>
  <div class="margin tan_green padding">
    <i class="fa fa-bolt"></i> <script>display_W({{building["power production"]}});</script> <br>
    <i class="fa fa-cloud"></i> {{building["pollution"]}} g/kWh
  </div>
 </div>
</div>

{% set building = data["wind_turbine"] %}
<div class="bone margin building small">
 <img class="img" src="{{ url_for('static', filename='images/power_buildings/wind_turbine.jpg') }}"\>
 <div class="infotext padding">
  <strong class="large"><a class="no_deco" href="https://en.wikipedia.org/wiki/Wind_turbine" target="_blank">{{building["name"]}}</a></strong><br>
  The wind turbine uses the energy of the wind to produce electricity. 
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('wind_turbine'); location.reload();">
    Start construction
  </b>
  <div>
    <i class="fa fa-money"></i> <script>display_CHF({{building["price"]}});</script> <br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{building["construction time"]}});</script> <br>
    <i class="fa "></i> <script>display_Wh({{building["construction energy"]}});</script> <br>
    <i class="fa fa-cloud"></i> <script>display_kg({{building["construction pollution"]}});</script>
  </div>
  <div class="margin tan_green padding">
    <i class="fa fa-bolt"></i> <script>display_W({{building["power production"]}});</script> <br>
    <i class="fa fa-cloud"></i> {{building["pollution"]}} g/kWh
  </div>
 </div>
</div>

{% set building = data["combined_cycle"] %}
<div class="bone margin building small">
 <img class="img" src="{{ url_for('static', filename='images/power_buildings/combined_cycle.png') }}"\>
 <div class="infotext padding">
  <strong class="large"><a class="no_deco" href="https://en.wikipedia.org/wiki/Combined_cycle_power_plant" target="_blank">{{building["name"]}}</a></strong><br>
  The combined cycle power plant burns coal and gas to produce electricity. 
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('combined_cycle'); location.reload();">
    Start construction
  </b>
  <div>
    <i class="fa fa-money"></i> <script>display_CHF({{building["price"]}});</script> <br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{building["construction time"]}});</script> <br>
    <i class="fa "></i> <script>display_Wh({{building["construction energy"]}});</script> <br>
    <i class="fa fa-cloud"></i> <script>display_kg({{building["construction pollution"]}});</script>
  </div>
  <div class="margin tan_green padding">
    <i class="fa fa-bolt"></i> <script>display_W({{building["power production"]}});</script> <br>
    <i class="fa Example of truck fa-truck"></i> <script>display_kgh({{building["amount consumed"][0]}});</script> gas <br>
    <i class="fa Example of truck fa-truck"></i> <script>display_kgh({{building["amount consumed"][1]}});</script> coal <br>
    <i class="fa fa-cloud"></i> {{building["pollution"]}} g/kWh
  </div>
 </div>
</div>

{% set building = data["deep_geothermal_plant"] %}
<div class="bone margin building small">
 <img class="img" src="{{ url_for('static', filename='images/power_buildings/deep_geothermal_plant.jpg') }}"\>
 <div class="infotext padding">
  <strong class="large"><a class="no_deco" href="https://en.wikipedia.org/wiki/Geothermal_energy" target="_blank">{{building["name"]}}</a></strong><br>
  The deep geothermal plant uses eath heat to produce electricity. 
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('deep_geothermal_plant'); location.reload();">
    Start construction
  </b>
  <div>
    <i class="fa fa-money"></i> <script>display_CHF({{building["price"]}});</script> <br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{building["construction time"]}});</script> <br>
    <i class="fa "></i> <script>display_Wh({{building["construction energy"]}});</script> <br>
    <i class="fa fa-cloud"></i> <script>display_kg({{building["construction pollution"]}});</script>
  </div>
  <div class="margin tan_green padding">
    <i class="fa fa-bolt"></i> <script>display_W({{building["power production"]}});</script> <br>
    <i class="fa fa-cloud"></i> {{building["pollution"]}} g/kWh
  </div>
 </div>
</div>

{% set building = data["nuclear_reactor"] %}
<div class="bone margin building small">
 <img class="img" src="{{ url_for('static', filename='images/power_buildings/nuclear_reactor.jpg') }}"\>
 <div class="infotext padding">
  <strong class="large"><a class="no_deco" href="https://en.wikipedia.org/wiki/Nuclear_power_plant" target="_blank">{{building["name"]}}</a></strong><br>
  The nuclear power plant uses controlled nuclear fission to produce a large amount of electricity. 
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('nuclear_reactor'); location.reload();">
    Start construction
  </b>
  <div>
    <i class="fa fa-money"></i> <script>display_CHF({{building["price"]}});</script> <br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{building["construction time"]}});</script> <br>
    <i class="fa "></i> <script>display_Wh({{building["construction energy"]}});</script> <br>
    <i class="fa fa-cloud"></i> <script>display_kg({{building["construction pollution"]}});</script>
  </div>
  <div class="margin tan_green padding">
    <i class="fa fa-bolt"></i> <script>display_W({{building["power production"]}});</script> <br>
    <i class="fa Example of truck fa-truck"></i> <script>display_kgh({{building["amount consumed"]}});</script> uranium <br>
    <i class="fa fa-cloud"></i> {{building["pollution"]}} g/kWh
  </div>
 </div>
</div>

{% set building = data["large_water_dam"] %}
<div class="bone margin building small">
 <img class="img" src="{{ url_for('static', filename='images/power_buildings/large_water_dam.jpg') }}"\>
 <div class="infotext padding">
  <strong class="large"><a class="no_deco" href="https://en.wikipedia.org/wiki/Hydroelectricity" target="_blank">{{building["name"]}}</a></strong><br>
  The large water dam uses the potential energy of water to produce a large amount of electricity. 
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('large_water_dam'); location.reload();">
    Start construction
  </b>
  <div>
    <i class="fa fa-money"></i> <script>display_CHF({{building["price"]}});</script> <br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{building["construction time"]}});</script> <br>
    <i class="fa "></i> <script>display_Wh({{building["construction energy"]}});</script> <br>
    <i class="fa fa-cloud"></i> <script>display_kg({{building["construction pollution"]}});</script>
  </div>
  <div class="margin tan_green padding">
    <i class="fa fa-bolt"></i> <script>display_W({{building["power production"]}});</script> <br>
    <i class="fa fa-cloud"></i> {{building["pollution"]}} g/kWh
  </div>
 </div>
</div>

{% set building = data["CSP_solar"] %}
<div class="bone margin building small">
 <img class="img" src="{{ url_for('static', filename='images/power_buildings/CSP_solar.jpg') }}"\>
 <div class="infotext padding">
  <strong class="large"><a class="no_deco" href="https://en.wikipedia.org/wiki/Concentrated_solar_power" target="_blank">{{building["name"]}}</a></strong><br>
  The concentrated solar power plant acumulates heat from the irradiation energy of the sun to produce electricity. 
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('CSP_solar'); location.reload();">
    Start construction
  </b>
  <div>
    <i class="fa fa-money"></i> <script>display_CHF({{building["price"]}});</script> <br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{building["construction time"]}});</script> <br>
    <i class="fa "></i> <script>display_Wh({{building["construction energy"]}});</script> <br>
    <i class="fa fa-cloud"></i> <script>display_kg({{building["construction pollution"]}});</script>
  </div>
  <div class="margin tan_green padding">
    <i class="fa fa-bolt"></i> <script>display_W({{building["power production"]}});</script> <br>
    <i class="fa fa-cloud"></i> {{building["pollution"]}} g/kWh
  </div>
 </div>
</div>

{% set building = data["PV_solar"] %}
<div class="bone margin building small">
 <img class="img" src="{{ url_for('static', filename='images/power_buildings/PV_solar.jpg') }}"\>
 <div class="infotext padding">
  <strong class="large"><a class="no_deco" href="https://en.wikipedia.org/wiki/Photovoltaics" target="_blank">{{building["name"]}}</a></strong><br>
  The photovoltaic pannels transform the irradiation energy of the sun into electricity. 
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('PV_solar'); location.reload();">
    Start construction
  </b>
  <div>
    <i class="fa fa-money"></i> <script>display_CHF({{building["price"]}});</script> <br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{building["construction time"]}});</script> <br>
    <i class="fa "></i> <script>display_Wh({{building["construction energy"]}});</script> <br>
    <i class="fa fa-cloud"></i> <script>display_kg({{building["construction pollution"]}});</script>
  </div>
  <div class="margin tan_green padding">
    <i class="fa fa-bolt"></i> <script>display_W({{building["power production"]}});</script> <br>
    <i class="fa fa-cloud"></i> {{building["pollution"]}} g/kWh
  </div>
 </div>
</div>

{% set building = data["large_wind_turbine"] %}
<div class="bone margin building small">
 <img class="img" src="{{ url_for('static', filename='images/power_buildings/large_wind_turbine.jpg') }}"\>
 <div class="infotext padding">
  <strong class="large"><a class="no_deco" href="https://en.wikipedia.org/wiki/Wind_turbine" target="_blank">{{building["name"]}}</a></strong><br>
  The large wind turbine uses the energy of the wind to produce electricity. 
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('large_wind_turbine'); location.reload();">
    Start construction
  </b>
  <div>
    <i class="fa fa-money"></i> <script>display_CHF({{building["price"]}});</script> <br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{building["construction time"]}});</script> <br>
    <i class="fa "></i> <script>display_Wh({{building["construction energy"]}});</script> <br>
    <i class="fa fa-cloud"></i> <script>display_kg({{building["construction pollution"]}});</script>
  </div>
  <div class="margin tan_green padding">
    <i class="fa fa-bolt"></i> <script>display_W({{building["power production"]}});</script> <br>
    <i class="fa fa-cloud"></i> {{building["pollution"]}} g/kWh
  </div>
 </div>
</div>

{% set building = data["nuclear_reactor_gen4"] %}
<div class="bone margin building small">
 <img class="img" src="{{ url_for('static', filename='images/power_buildings/nuclear_reactor_gen4.png') }}"\>
 <div class="infotext padding">
  <strong class="large"><a class="no_deco" href="https://en.wikipedia.org/wiki/Generation_IV_reactor" target="_blank">{{building["name"]}}</a></strong><br>
  The nuclear power plant of the 4th generation uses controlled nuclear fission to produce a large amount of electricity fom a litle quantity of fuel. 
 </div>
 <div class="infobox">
 <b class="margin medium white padding button" onclick="start_construction('nuclear_reactor_gen4'); location.reload();">
    Start construction
  </b>
  <div>
    <i class="fa fa-money"></i> <script>display_CHF({{building["price"]}});</script> <br>
    <i class="fa fa-hourglass-half"></i> <script>display_duration({{building["construction time"]}});</script> <br>
    <i class="fa "></i> <script>display_Wh({{building["construction energy"]}});</script> <br>
    <i class="fa fa-cloud"></i> <script>display_kg({{building["construction pollution"]}});</script>
  </div>
  <div class="margin tan_green padding">
    <i class="fa fa-bolt"></i> <script>display_W({{building["power production"]}});</script> <br>
    <i class="fa Example of truck fa-truck"></i> <script>display_kgh({{building["amount consumed"]}});</script> uranium <br>
    <i class="fa fa-cloud"></i> {{building["pollution"]}} g/kWh
  </div>
 </div>
</div>

{% endblock %}

