{% extends "base.jinja" %}
{% block title %}
  Power facilities
{% endblock title %}
{% block content
  %}
  {% set data = all_data["assets"] %}
  <div class="flex-row huge title">
    Power facilities
    <div class="pine info_icon_container"
         onclick="document.getElementById('info_popup').classList.remove('hidden');">{{ wikiImage() }}</div>
  </div>
  <div id="info_popup" class="popup hidden green">
    <div class="flex-row margin-small align-items-center">
      <div class="large txt_center flex-grow-1">Help : Power facilities</div>
      <div onclick="document.getElementById('info_popup').classList.add('hidden');"
           class="cross pine margin-small"
           style="width:39px">×</div>
    </div>
    <div class="txt_center margin medium">
      <p>On this page you will find all the facilities that generate electricity.</p>
      <p>
        For more information about how power facilites generate electricity, refer to the <a href="{{ url_for('views.wiki', _anchor='Power_Facilities') }}">Power facilities section in the wiki</a>.
      </p>
    </div>
  </div>
  <div id="under_construction">
    {% if user.under_construction %}
      {% for construction in user.under_construction %}
        {% if construction.family == "power_facilities" %}
          <div class="progressbar-container">
            <div class="progressbar-arrowcontainer">
              <button class="progressbar-arrow progressbar-button"><i class="fa fa-caret-up"></i></button>
              <button class="progressbar-arrow progressbar-button"><i class="fa fa-caret-down"></i></button>
            </div>
            <div class="progressbar-name medium margin-small">{{ data[construction.name]['name'] }}</div>
            <div class="progressbar-background">
              <div id="{{construction.id}}" class="progressbar-bar pine"></div>
            </div>
            <button class="progressbar-icon progressbar-button">
              {% if construction.suspension_time %}
                <i class="fa fa-play"></i>
              {% else %}
                <i class="fa fa-pause"></i>
              {% endif %}
            </button>
            <button class="progressbar-icon progressbar-button" onclick="cancel_construction('{{ construction.id }}')"><i class="fa fa-times"></i></button>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  {% for facility in ["steam_engine", "windmill", "watermill", "coal_burner", "oil_burner", "gas_burner", "small_water_dam", "onshore_wind_turbine", "combined_cycle", "nuclear_reactor", "large_water_dam", "CSP_solar", "PV_solar", "offshore_wind_turbine", "nuclear_reactor_gen4"] %}
    <div id="{{ facility }}"
         class="bone margin facility small construction_tile"
         onclick="show_construction('{{ facility }}', '{{ data[facility]['locked'] }}');">
      <img class="img"
           src="{{ url_for('static', filename='images/power_facilities/'+facility+'.'+data[facility].image_extension) }}"
           width="250"
           height="167"
           alt="{{ data[facility]['name'] }} power plant">
      <div class="infotext padding">
        <strong class="large">{{ data[facility]["name"] }}</strong>
        &ensp;
        <a class="white wikipedia_icon_container no_deco"
           href="{{ data[facility].wikipedia_link }}"
           target="_blank">
          <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
        </a>
        &emsp;
        {# Construction Cost #}
        <span class="money_font">
          <script>display_money_long({{ data[facility]["price"] }});</script>
        </span>
        <div class="infobox">
          <div class="infotext">
            {{ data[facility].description }}
            {# O&M Text Description #}
            {% if "O&M_description" in data[facility] %}
              <br>
              {{ data[facility]["O&M_description"] }}
            {% endif %}
            {# Wind Indicator #}
            <br>
            {% if facility in ["windmill", "onshore_wind_turbine", "offshore_wind_turbine"] %}
              <br>
              <em class="txt-blue">
                <i class="fa fa-info-circle"></i> Wind potential : <strong>{{ (user.tile.wind*100)|int }}%</strong>
              </em>
            {% endif %}
            {# Solar Indicator #}
            {% if facility in ["CSP_solar", "PV_solar"] %}
              <br>
              <em class="txt-blue">
                <i class="fa fa-info-circle"></i> Solar potential : <strong>{{ (user.tile.solar*100)|int }}%</strong>
              </em>
            {% endif %}
            {# Hydro Location Availability Indicator #}
            {% if facility in ["watermill", "small_water_dam", "large_water_dam"] %}
              <br>
              <em class="txt-blue">
                <i class="fa fa-info-circle"></i> Remaining suitable locations : <strong>{{ user.tile.hydro - user.watermill }}</strong>
              </em>
            {% endif %}
            {# Resource Indicator #}
            {% for resource in ["gas", "coal", "oil", "uranium"] %}
              {% if facility in {"gas": ["gas_burner", "combined_cycle"], "coal": ["coal_burner", "combined_cycle"], "oil": ["oil_burner"], "uranium": ["nuclear_reactor", "nuclear_reactor_gen4"]}[resource] %}
                <br>
                <em class="txt-blue">
                  <i class="fa fa-info-circle"></i> Current stock of {{ resource }} :
                  <strong><script>display_kg({{user.gas}});</script></strong>
                </em>
              {% endif %}
            {% endfor %}
          </div>
          {# Requirements #}
          {% if data[facility]["locked"] %}
            <div class="infobox requirements" id="requirements">
              <div>
                <strong>Unlock with :</strong>
                <br>
                <ul class="navbar-nav">
                  {% for req in data[facility]["requirements"] %}
                    {% if req[2] %}
                      <li class="padding-small req_fullfilled">- {{ data[req[0]]["name"] }} lvl {{ req[1] }}</li>
                    {% else %}
                      <li class="padding-small requirement">- {{ data[req[0]]["name"] }} lvl {{ req[1] }}</li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      {# Power Facility Data #}
      <div class="infobox" id="infotable">
        <table class="table tan_green">
          {# Max Generation #}
          <tr>
            <td>Max generation</td>
            <td class="txt_center">
              <strong><script>display_W({{data[facility]["power generation"]}});</script></strong>
            </td>
          </tr>
          {# O&M Costs #}
          {% if "O&M cost" in data[facility] %}
            <tr>
              <td>Operation cost</td>
              <td class="txt_center">
                <strong><script>display_money({{data[facility]["O&M cost"]}});</script>/h</strong>
              </td>
            </tr>
          {% endif %}
          {# Resource Consumption #}
          {% for resource in ["gas", "coal", "oil", "uranium"] %}
            {% if resource in data[facility]["consumed resource"] %}
              <tr>
                <td>{{ resource[0]|upper|upper + resource[1:] }} consumption</td>
                <td class="txt_center">
                  <strong>
                    {% if resource == "uranium" %}
                      {% if facility == "nuclear_reactor" %}
                        {{ (data[facility]["consumed resource"][resource]*1000)|int }} g/MWh
                      {% else %}
                        {{ (data[facility]["consumed resource"]["uranium"]*1000)|round(2) }} g/MWh
                      {% endif %}
                    {% else %}
                      <script>display_kg({{ data[facility]["consumed resource"][resource] }});</script>/MWh
                    {% endif %}
                  </strong>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
          {# Ramping Speed #}
          <tr>
            <td>Ramping speed</td>
            <td class="txt_center">
              <strong>
                {% if data[facility]["ramping speed"] == 0 %}
                  -
                {% else %}
                  <script>display_W({{data[facility]["ramping speed"]}});</script>/min
                {% endif %}
              </strong>
            </td>
          </tr>
          {# CO2 Emssions #}
          <tr>
            <td>CO2 emissions</td>
            <td class="txt_center">
              <strong><script>display_kg({{data[facility]["pollution"]}});</script>/MWh</strong>
            </td>
          </tr>
        </table>
      </div>
      <div id="constructionContent" class="infobox hidden constructionContent">
        <div class="flex-col">
          <div class="txt_center margin-small" style="width:180px">
            Duration : <strong><script>display_duration({{data[facility]["construction time"]}});</script></strong>
            <br>
            Energy need : <strong><script>display_W({{data[facility]["construction power"]}});</script></strong>
            <br>
            Emmissions : <strong><script>display_kg({{data[facility]["construction pollution"]}});</script> CO2</strong>
          </div>
          <b class="padding medium button margin-small txt_center white"
             onclick="start_construction('{{facility}}', 'power_facilities');"
             style="width:160px">
            Start construction
          </b>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock content %}
{% block additionnal_script %}
  <script src="{{ url_for('static', filename='click_construction.js') }}"></script>
{% endblock additionnal_script %}
