{% extends "base.jinja" %} {% block title %}Production overview{% endblock %} {% block content%}

<div class="huge title">Production overview</div>
<div class="medium padding">
<i>Here I want to integrate some graphs that show the time dependent energy production and consumption aswell as the energy storage management.</i>
</div>
{% endblock %}

