{% extends "base.jinja" %} {% block title %}Production overview{% endblock %} {% block content%}

<div class="huge title">Production overview</div>
<div class="medium padding">
<i>Here I want to integrate some graphs that show the time dependent energy generation and consumption aswell as the energy storage management.</i>
</div>

<div class="bone padding">
<h1>Energy generation :</h1>
<div id="generation graph"></div>
</div>

<div class="bone padding">
<h1>Energy demand :</h1>

</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='sockets.js') }}" ></script>
<script src="{{ url_for('static', filename='charts.js') }}"></script>
{% endblock %}

