{% extends "base.jinja" %}
{% block title %}
  Home
{% endblock title %}
{% block content %}

  <div id="profile_headder" class="flex-row huge title">
      Profile
      <div class="pine info_icon_container"
            onclick="document.getElementById('info_popup').classList.remove('hidden');">{{ wikiImage() }}</div>
  </div>
  <div id="info_popup" class="popup hidden green">
      <div class="flex-row margin-small align-items-center">
          <div class="large txt_center flex-grow-1">Help : Profile</div>
          <div onclick="document.getElementById('info_popup').classList.add('hidden');"
                class="cross pine margin-small"
                style="width:39px">×</div>
      </div>
      <div class="txt_center margin medium">
          <p>
              This is your profile page. Here you will find all the information about your account.
              ...
          </p>
      </div>
  </div>

  <div class="flex-space-evenly">
    <div class="player_username">{{ profile.username }}</div>
  </div>

  <div class="flex-col medium">
      <table id="power_facilities_table" class="table bone margin txt_center">
          <tr>
              <th id="facility" onclick="sortTable('facility')">Facility</th>
              <th id="installed_cap" onclick="sortTable('installed_cap')">Max power</th>
              <th id="op_cost" onclick="sortTable('op_cost')">O&M cost</th>
              <th id="remaining_lifespan" onclick="sortTable('remaining_lifespan')">Lifespan left</th>
              <th id="upgrade">Upgrade</th>
              <th id="dismantle">Dismantle</th>
          </tr>
      </table>
  </div>

  <div class="medium flex-space-evenly">
    <div class="flex-col">
      <b>Functional facilities</b>
      <table class="table bone">
        <tr>
          <td>Industry</td>
          <td>lvl <b>{{ profile.industry }}</b></td>
        </tr>
        <tr>
          <td>Laboratory</td>
          <td>lvl <b>{{ profile.laboratory }}</b></td>
        </tr>
        <tr>
          <td>Warehouse</td>
          <td>lvl <b>{{ profile.warehouse }}</b></td>
        </tr>
        <tr>
          <td>Carbon capture</td>
          <td>lvl <b>{{ profile.carbon_capture }}</b></td>
        </tr>
      </table>
    </div>
    <div class="flex-col">
      <b>Technologies</b>
      <table class="table bone">
        <tr>
          <td>Mathematics</td>
          <td>lvl <b>{{ profile.mathematics }}</b></td>
        </tr>
        <tr>
          <td>Mechanical engineering</td>
          <td>lvl <b>{{ profile.mechanical_engineering }}</b></td>
        </tr>
        <tr>
          <td>Thermodynamics</td>
          <td>lvl <b>{{ profile.thermodynamics }}</b></td>
        </tr>
        <tr>
          <td>Physics</td>
          <td>lvl <b>{{ profile.physics }}</b></td>
        </tr>
        <tr>
          <td>Building Technology</td>
          <td>lvl <b>{{ profile.building_technology }}</b></td>
        </tr>
        <tr>
          <td>Mineral extraction</td>
          <td>lvl <b>{{ profile.mineral_extraction }}</b></td>
        </tr>
        <tr>
          <td>Transport technology</td>
          <td>lvl <b>{{ profile.transport_technology }}</b></td>
        </tr>
        <tr>
          <td>Materials</td>
          <td>lvl <b>{{ profile.materials }}</b></td>
        </tr>
        <tr>
          <td>Civil engineering</td>
          <td>lvl <b>{{ profile.civil_engineering }}</b></td>
        </tr>
        <tr>
          <td>Aerodynamics</td>
          <td>lvl <b>{{ profile.aerodynamics }}</b></td>
        </tr>
        <tr>
          <td>Chemistry</td>
          <td>lvl <b>{{ profile.chemistry }}</b></td>
        </tr>
        <tr>
          <td>Nuclear engineering</td>
          <td>lvl <b>{{ profile.nuclear_engineering }}</b></td>
        </tr>
      </table>
    </div>
    <div class="flex-col medium">
      <b>Other informations</b>
      <table class="table bone">
        <tr>
          <td>Network</td>
          <td class="txt_center">{% if profile.network %}{{ profile.network.name }}{% else %}-{% endif %}</td>
        </tr>
        <tr>
          <td>Revenues</td>
          <td class="txt_center"><script>display_money({{ profile.average_revenues }})</script>/h</td>
        </tr>
        <tr>
          <td>Max power</td>
          <td class="txt_center"><script>display_W({{ profile.max_power_consumption }})</script></td>
        </tr>
        <tr>
          <td>Max storage</td>
          <td class="txt_center"><script>display_Wh({{ profile.max_energy_stored }})</script></td>
        </tr>
        <tr>
          <td>Imported energy</td>
          <td class="txt_center"><script>display_Wh({{ profile.imported_energy }})</script></td>
        </tr>
        <tr>
          <td>Exported energy</td>
          <td class="txt_center"><script>display_Wh({{ profile.exported_energy }})</script></td>
        </tr>
        <tr>
          <td>Extracted resources</td>
          <td class="txt_center"><script>display_kg({{ profile.extracted_resources }})</script></td>
        </tr>
        <tr>
          <td>Bought resources</td>
          <td class="txt_center"><script>display_kg({{ profile.bought_resources }})</script></td>
        </tr>
        <tr>
          <td>Sold resources</td>
          <td class="txt_center"><script>display_kg({{ profile.sold_resources }})</script></td>
        </tr>
        <tr>
          <td>Technology</td>
          <td class="txt_center">{{ profile.total_technologies }}</td>
        </tr>
        <tr>
          <td>xp</td>
          <td class="txt_center">{{ profile.xp }}</td>
        </tr>
        <tr>
          <td>Emissions</td>
          <td class="txt_center"><script>display_kg({{ profile.emissions }})</script></td>
        </tr>
        <tr>
          <td>Captured CO2</td>
          <td class="txt_center"><script>display_kg({{ profile.captured_CO2 }})</script></td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <br>
  <br>
{% endblock content %}
{% block additionnal_script %}
  <script src="{{ url_for('static', filename='profile.js') }}"></script>
{% endblock additionnal_script %}
