{% extends "base.jinja" %}
{% block title %}
  Profile
{% endblock title %}
{% block content %}

  <div id="profile_headder" class="flex-row huge title">
      Profile
      <div class="pine info_icon_container"
            onclick="document.getElementById('info_popup').classList.remove('hidden');">{{ wikiImage() }}</div>
  </div>
  <div id="info_popup" class="popup hidden green">
      <div class="flex-row margin-small align-items-center">
          <div class="large txt_center flex-grow-1">Help : Profile</div>
          <div onclick="document.getElementById('info_popup').classList.add('hidden');"
                class="cross pine margin-small"
                style="width:39px">×</div>
      </div>
      <div class="margin medium">
          <p>
              This is your profile page with an overview of all your assets.
          </p><p>
              You will find 3 tables with all the instances of power, storage and extraction facilities you own with their respective information.
              You also have the possibily to upgrade (after a researched a technology that affects this facility) or dismantle each instance.
          </p><p>
              At the bootom of the page you will find 3 other tables with your levels of functional facilities, technologies and other informations.
          </p>
      </div>
  </div>

  <div class="flex-space-evenly">
    <div class="player_username">{{ profile.username }}</div>
  </div>

  <div id="facilities_list" class="flex-col medium margin">
    {% set caps = engine.data["player_capacities"][user.id] %}
    {% if caps["steam_engine"] or caps["windmill"] or caps["watermill"] or caps["coal_burner"] or caps["gas_burner"] or caps["small_water_dam"] or caps["onshore_wind_turbine"] or caps["combined_cycle"] or caps["nuclear_reactor"] or caps["large_water_dam"] or caps["CSP_solar"] or caps["PV_solar"] or caps["offshore_wind_turbine"] or caps["nuclear_reactor_gen4"] %}
      <b class="large">Power facilities</b>
      <div class="table_container">
        <table id="power_facilities_table" class="table bone txt_center margin-small">
            <tr>
                <th class="facility" onclick="sortTable('power_facilities_table', 'facility')">Name</th>
                <th class="installed_cap" onclick="sortTable('power_facilities_table', 'installed_cap')">Max power</th>
                <th class="used_capacity" onclick="sortTable('power_facilities_table', 'used_capacity')">Used Capacity</th>
                <th class="op_cost" onclick="sortTable('power_facilities_table', 'op_cost')">O&M cost</th>
                <th class="remaining_lifespan" onclick="sortTable('power_facilities_table', 'remaining_lifespan')">Lifespan left</th>
                <th class="upgrade" onclick="sortTable('power_facilities_table', 'upgrade')">Upgrade</th>
                <th class="dismantle" onclick="sortTable('power_facilities_table', 'dismantle')">Dismantle</th>
            </tr>
        </table>
      </div>
    {% endif %}
    {% if caps["small_pumped_hydro"] or caps["molten_salt"] or caps["large_pumped_hydro"] or caps["hydrogen_storage"] or caps["lithium_ion_batteries"] or caps["solid_state_batteries"] %}
      <b class="large margin-top">Storage facilities</b>
      <div class="table_container">
        <table id="storage_facilities_table" class="table bone txt_center margin-small">
            <tr>
                <th class="facility" onclick="sortTable('storage_facilities_table', 'facility')">Name</th>
                <th class="installed_cap" onclick="sortTable('storage_facilities_table', 'installed_cap')">Max Storage</th>
                <th class="used_capacity" onclick="sortTable('storage_facilities_table', 'used_capacity')">State of Charge</th>
                <th class="op_cost" onclick="sortTable('storage_facilities_table', 'op_cost')">O&M cost</th>
                <th class="efficiency" onclick="sortTable('storage_facilities_table', 'efficiency')">Efficiency</th>
                <th class="remaining_lifespan" onclick="sortTable('storage_facilities_table', 'remaining_lifespan')">Lifespan left</th>
                <th class="upgrade" onclick="sortTable('storage_facilities_table', 'upgrade')">Upgrade</th>
                <th class="dismantle" onclick="sortTable('storage_facilities_table', 'dismantle')">Dismantle</th>
            </tr>
        </table>
      </div>
    {% endif %}
    {% if caps["coal_mine"] or caps["gas_drilling_site"] or caps["uranium_mine"] %}
      <b class="large margin-top">Extraction facilities</b>
      <div class="table_container">
        <table id="extraction_facilities_table" class="table bone txt_center margin-small">
            <tr>
                <th class="facility" onclick="sortTable('extraction_facilities_table', 'facility')">Name</th>
                <th class="extraction_rate" onclick="sortTable('extraction_facilities_table', 'extraction_rate')">Extra. rate</th>
                <th class="used_capacity" onclick="sortTable('extraction_facilities_table', 'used_capacity')">Used Capacity</th>
                <th class="op_cost" onclick="sortTable('extraction_facilities_table', 'op_cost')">O&M cost</th>
                <th class="energy_use" onclick="sortTable('extraction_facilities_table', 'energy_use')">Energy cons.</th>
                <th class="remaining_lifespan" onclick="sortTable('extraction_facilities_table', 'remaining_lifespan')">Lifespan left</th>
                <th class="upgrade" onclick="sortTable('extraction_facilities_table', 'upgrade')">Upgrade</th>
                <th class="dismantle" onclick="sortTable('extraction_facilities_table', 'dismantle')">Dismantle</th>
            </tr>
        </table>
      </div>
    {% endif %}
  </div>

  <div class="medium flex-space-evenly" style="overflow-x: auto;">
    <div class="flex-col">
      <b>Functional facilities</b>
      <table class="table bone margin-small">
        <tr>
          <td>Industry</td>
          <td>lvl <b>{{ profile.industry }}</b></td>
        </tr>
        <tr>
          <td>Laboratory</td>
          <td>lvl <b>{{ profile.laboratory }}</b></td>
        </tr>
        <tr>
          <td>Warehouse</td>
          <td>lvl <b>{{ profile.warehouse }}</b></td>
        </tr>
        <tr>
          <td>Carbon Capture</td>
          <td>lvl <b>{{ profile.carbon_capture }}</b></td>
        </tr>
      </table>
    </div>
    <div class="flex-col">
      <b>Technologies</b>
      <table class="table bone margin-small">
        <tr>
          <td>Mathematics</td>
          <td>lvl <b>{{ profile.mathematics }}</b></td>
        </tr>
        <tr>
          <td>Mechanical Engineering</td>
          <td>lvl <b>{{ profile.mechanical_engineering }}</b></td>
        </tr>
        <tr>
          <td>Thermodynamics</td>
          <td>lvl <b>{{ profile.thermodynamics }}</b></td>
        </tr>
        <tr>
          <td>Physics</td>
          <td>lvl <b>{{ profile.physics }}</b></td>
        </tr>
        <tr>
          <td>Building Technology</td>
          <td>lvl <b>{{ profile.building_technology }}</b></td>
        </tr>
        <tr>
          <td>Mineral Extraction</td>
          <td>lvl <b>{{ profile.mineral_extraction }}</b></td>
        </tr>
        <tr>
          <td>Transport Technology</td>
          <td>lvl <b>{{ profile.transport_technology }}</b></td>
        </tr>
        <tr>
          <td>Materials</td>
          <td>lvl <b>{{ profile.materials }}</b></td>
        </tr>
        <tr>
          <td>Civil Engineering</td>
          <td>lvl <b>{{ profile.civil_engineering }}</b></td>
        </tr>
        <tr>
          <td>Aerodynamics</td>
          <td>lvl <b>{{ profile.aerodynamics }}</b></td>
        </tr>
        <tr>
          <td>Chemistry</td>
          <td>lvl <b>{{ profile.chemistry }}</b></td>
        </tr>
        <tr>
          <td>Nuclear Engineering</td>
          <td>lvl <b>{{ profile.nuclear_engineering }}</b></td>
        </tr>
      </table>
    </div>
    <div class="flex-col medium">
      <b>Other informations</b>
      <table class="table bone margin-small">
        <tr>
          <td>Network</td>
          <td class="txt_center">{% if profile.network %}{{ profile.network.name }}{% else %}-{% endif %}</td>
        </tr>
        <tr>
          <td>Revenues</td>
          <td class="txt_center"></td>
          <script>document.currentScript.previousElementSibling.innerHTML = format_money({{ profile.average_revenues }}) + "/h";</script>
        </tr>
        <tr>
          <td>Max Power</td>
          <td class="txt_center"></td>
          <script>document.currentScript.previousElementSibling.innerHTML = format_power({{ profile.max_power_consumption }});</script>
        </tr>
        <tr>
          <td>Max Storage</td>
          <td class="txt_center"></td>
          <script>document.currentScript.previousElementSibling.innerHTML = format_energy({{ profile.max_energy_stored }});</script>
        </tr>
        <tr>
          <td>Imported Energy</td>
          <td class="txt_center"></td>
          <script>document.currentScript.previousElementSibling.innerHTML = format_energy({{ profile.imported_energy }});</script>
        </tr>
        <tr>
          <td>Exported Energy</td>
          <td class="txt_center"></td>
          <script>document.currentScript.previousElementSibling.innerHTML = format_energy({{ profile.exported_energy }});</script>
        </tr>
        <tr>
          <td>Extracted Resources</td>
          <td class="txt_center"></td>
          <script>document.currentScript.previousElementSibling.innerHTML = format_mass({{ profile.extracted_resources }});</script>
        </tr>
        <tr>
          <td>Bought Resources</td>
          <td class="txt_center"></td>
          <script>document.currentScript.previousElementSibling.innerHTML = format_mass({{ profile.bought_resources }});</script>
        </tr>
        <tr>
          <td>Sold Resources</td>
          <td class="txt_center"></td>
          <script>document.currentScript.previousElementSibling.innerHTML = format_mass({{ profile.sold_resources }});</script>
        </tr>
        <tr>
          <td>Technology</td>
          <td class="txt_center">{{ profile.total_technologies }}</td>
        </tr>
        <tr>
          <td>XP</td>
          <td class="txt_center">{{ profile.xp }}</td>
        </tr>
        <tr>
          <td>Emissions</td>
          <td class="txt_center"></td>
          <script>document.currentScript.previousElementSibling.innerHTML = format_mass({{ profile.calculate_net_emissions() }});</script>
        </tr>
        <tr>
          <td>Captured CO<sub>2</sub></td>
          <td class="txt_center"></td>
          <script>document.currentScript.previousElementSibling.innerHTML = format_mass({{ profile.captured_CO2 }});</script>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <br>
  <br>
{% endblock content %}
{% block additionnal_script %}
  <script src="{{ url_for('static', filename='profile.js') }}"></script>
{% endblock additionnal_script %}
