{% extends "base.jinja" %}
{% block title %}
    Scoreboard
{% endblock title %}
{% block content
    %}
    <div class="flex-row huge title">
        Scoreboard
        <div class="pine info_icon_container"
             onclick="document.getElementById('info_popup').classList.remove('hidden');">{{ wikiImage() }}</div>
    </div>
    <div id="info_popup" class="popup hidden green">
        <div class="flex-row margin-small align-items-center">
            <div class="large txt_center flex-grow-1">Help : Scoreboard</div>
            <div onclick="document.getElementById('info_popup').classList.add('hidden');"
                 class="cross pine margin-small"
                 style="width:39px">×</div>
        </div>
        <div class="txt_center margin medium">
            <p>This is a scoreboard of all players on the server.</p>
        </div>
    </div>
    <div class="flex-col medium">
        <table id="scoreboard" class="table bone margin txt_center">
            <tr>
                <th id="username" onclick="sortTable('username')">Usernames</th>
                <th id="average_hourly_revenues" onclick="sortTable('average_hourly_revenues')">Revenues</th>
                <th id="max_power_consumption" onclick="sortTable('max_power_consumption')">Max power</th>
                <th id="total_technology_levels" onclick="sortTable('total_technology_levels')">Technology</th>
                <th id="xp" onclick="sortTable('xp')">xp</th>
                <th id="co2_emissions" onclick="sortTable('co2_emissions')">Emissions</th>
            </tr>
        </table>
    </div>
{% endblock content %}
{% block additionnal_script %}
    <script src="{{ url_for('static', filename='scoreboard.js') }}"></script>
    <script>expand_menu('community')</script>
{% endblock additionnal_script %}
