{% extends "base.jinja" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <div class="huge" style="text-align:center">Sign up</div>
  <div>
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      placeholder="Enter username"
    />
  </div>
  <div>
    <label for="password1">Password</label>
    <input
      type="password"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div>
    <label for="password2">Password (Confirm)</label>
    <input
      type="password"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
