{% extends "base.jinja" %}
{% block title %}
  Technologies
{% endblock title %}
{% block content %}
  {% set data = all_data["assets"] %}
  <div class="flex-row huge title">
    Technologies
    <div class="pine info_icon_container"
         onclick="document.getElementById('info_popup').classList.remove('hidden');">{{ wikiImage() }}</div>
  </div>
  <div id="info_popup" class="popup hidden green">
    <div class="flex-row margin-small" style="align-items:center;">
      <div class="large txt_center" style="flex-grow:1">Help : Technologies</div>
      <div onclick="document.getElementById('info_popup').classList.add('hidden');"
           class="cross pine margin-small"
           style="width:39px">&times;</div>
    </div>
    <div class="txt_center margin medium">
      <p>
        When you have build a <a href="/functional_facilities#Laboratory">laboratory</a>, you will be able to research
        technologies here. Each technology has a unique effect on a given set of facilities.
      </p>
      <p>
        For more information about Technologies, refer to the <a href="/wiki#Technology">Technology section in the
        wiki</a>.
      </p>
    </div>
  </div>
  <div id="under_construction">
    {% if user.under_construction %}
      {% for facility in user.under_construction %}
        {% if facility.family == "technologies" %}
          <div class="padding" id="progress_bar">
            The research on the technology <b>{{ data[facility.name]["name"] }}</b> is currently underway. <i class="time" data-name="{{ facility.finish_time }}"></i>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  {% set facility = data["mathematics"] %}
  <div id="{{ facility['name'] }}"
       class="bone margin facility small construction_tile"
       onclick="show_construction('{{ facility['name'] }}', '{{ facility['locked'] }}');">
    <img class="img"
         src="{{ url_for('static', filename='images/technologies/mathematics.jpg') }}">
    <div class="infotext padding">
      <strong class="large">{{ facility["name"] }}</strong>lvl <em id="lvl" class="large">{{ user.mathematics }}</em>&emsp;
      <span id="price" class="money_font">
        <script>display_money_long({{ facility["price"]}});</script>
      </span>
      <br>
      Mathematics is the fundamental tool of science.
      <br>
    </div>
    <div class="infobox" id="reqirements" style="margin-right:200px">
      {% if facility["locked"] %}
        <div>
          <strong>Upgrade with :</strong>
          <br>
          <ul style="padding:0; margin:0;">
            {% for req in facility["requirements"] %}
              <li class="margin-small{% if req[2] %} req_fullfilled {% else %} requirement {% endif %}">
                -
                {{ data[req[0]]["name"] }} lvl {{ req[1]+user.mathematics }}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
    <div id="constructionContent" class="infobox hidden constructionContent">
      <div class="flex-col">
        <div class="txt_center margin-small" style="width:180px">
          Duration : <strong>
          <script>display_duration({{ facility["construction time"]}});</script>
        </strong>
        <br>
        Energy need : <strong>
        <script>display_W({{ facility["construction power"]}});</script>
      </strong>
      <br>
    </div>
    <b class="padding medium white button margin-small txt_center"
       onclick="start_construction('mathematics', 'technologies');"
       style="width:160px">
      Start construction
    </b>
  </div>
</div>
</div>
{% set facility = data["mechanical_engineering"] %}
<div id="{{ facility['name'] }}"
     class="bone margin facility small construction_tile"
     onclick="show_construction('{{ facility['name'] }}', '{{ facility['locked'] }}');">
  <img class="img"
       src="{{ url_for('static', filename='images/technologies/mechanical_engineering.jpg') }}">
  <div class="infotext padding">
    <strong class="large">{{ facility["name"] }}</strong>lvl <em id="lvl" class="large">{{ user.mechanical_engineering }}</em>&emsp; <span id="price" class="money_font">
      <script>display_money_long({{ facility["price"]}});</script>
    </span>
    <br>
    Mechanical engineering is the science of machines.
    <br>
    Affects the facilities :
    {% for facility in ["steam_engine", "watermill", "coal_burner", "oil_burner", "gas_burner", "combined_cycle",
      "compressed_air"] %}
      <em class="txt-blue">{{ data[facility].name }}</em> ,
    {% endfor %}
    <em class="txt-blue">{{ data["molten_salt"].name }}</em>
  </div>
  <div class="infobox" id="reqirements">
    {% if facility["locked"] %}
      <div>
        <strong>Upgrade with :</strong>
        <br>
        <ul style="padding:0; margin:0;">
          {% for req in facility["requirements"] %}
            <li class="margin-small{% if req[2] %} req_fullfilled {% else %} requirement {% endif %}">
              -
              {{ data[req[0]]["name"] }} lvl {{ req[1]+user.mechanical_engineering }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="infobox" id="infotable">
    <table class="table tan_green">
      <tr>
        <th>Effects :</th>
        <th id="upgrade" class="txt_center">
          lvl {{ user.mechanical_engineering }} -> lvl {{ user.mechanical_engineering+1 }}
        </th>
      </tr>
      <tr>
        <td>Power generation</td>
        <td class="txt_center">+{{(facility["prod factor"]*100-100)|int}}%</td>
      </tr>
      <tr>
        <td>Price</td>
        <td class="txt_center">+{{(facility["price factor"]*100-100)|int}}%</td>
      </tr>
    </table>
  </div>
  <div id="constructionContent" class="infobox hidden constructionContent">
    <div class="flex-col">
      <div class="txt_center margin-small" style="width:180px">
        Duration : <strong>
        <script>display_duration({{ facility["construction time"]}});</script>
      </strong>
      <br>
      Energy need : <strong>
      <script>display_W({{ facility["construction power"]}});</script>
    </strong>
    <br>
  </div>
  <b class="padding medium white button margin-small txt_center"
     onclick="start_construction('mechanical_engineering', 'technologies');"
     style="width:160px">
    Start construction
  </b>
</div>
</div>
</div>
{% set facility = data["thermodynamics"] %}
<div id="{{ facility['name'] }}"
     class="bone margin facility small construction_tile"
     onclick="show_construction('{{ facility['name'] }}', '{{ facility['locked'] }}');">
  <img class="img"
       src="{{ url_for('static', filename='images/technologies/thermodynamics.jpg') }}">
  <div class="infotext padding">
    <strong class="large">{{ facility["name"] }}</strong>lvl <em id="lvl" class="large">{{ user.thermodynamics }}</em>&emsp; <span id="price" class="money_font">
      <script>display_money_long({{ facility["price"]}});</script>
    </span>
    <br>
    Thermodynamics is very boring.
    <br>
    Affects the facilities :
    {% for facility in ["steam_engine", "coal_burner", "oil_burner", "gas_burner", "combined_cycle", "nuclear_reactor",
      "nuclear_reactor_gen4", "compressed_air"] %}
      <em class="txt-blue">{{ data[facility].name }}</em> ,
    {% endfor %}
    <em class="txt-blue">{{ data["molten_salt"].name }}</em>
  </div>
  <div class="infobox" id="reqirements">
    {% if facility["locked"] %}
      <div>
        <strong>Upgrade with :</strong>
        <br>
        <ul style="padding:0; margin:0;">
          {% for req in facility["requirements"] %}
            <li class="margin-small{% if req[2] %} req_fullfilled {% else %} requirement {% endif %}">
              -
              {{ data[req[0]]["name"] }} lvl {{ req[1]+user.thermodynamics }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="infobox" id="infotable">
    <table class="table tan_green">
      <tr>
        <th>Effects :</th>
        <th id="upgrade" class="txt_center">lvl {{ user.thermodynamics }} -> lvl {{ user.thermodynamics+1 }}</th>
      </tr>
      <tr>
        <td>Fuel use</td>
        <td id="fuel_use" class="txt_center">
          -{{ (facility["efficiency
          factor"]/(1+user.thermodynamics*facility["efficiency factor"])*100)|round(1) }}%
        </td>
      </tr>
      <tr>
        <td>Pollution</td>
        <td id="pollution" class="txt_center">
          -{{ (facility["efficiency
          factor"]/(1+user.thermodynamics*facility["efficiency factor"])*100)|round(1) }}%
        </td>
      </tr>
      <tr>
        <td>Effic. comp. air</td>
        <td class="txt_center">+2.6%</td>
      </tr>
      <tr>
        <td>Effic. molten salt</td>
        <td id="Efficiency_MS" class="txt_center">+{{ (10/data["molten_salt"]["efficiency"]-10)|round(1) }}%</td>
      </tr>
    </table>
  </div>
  <div id="constructionContent" class="infobox hidden constructionContent">
    <div class="flex-col">
      <div class="txt_center margin-small" style="width:180px">
        Duration : <strong>
        <script>display_duration({{ facility["construction time"]}});</script>
      </strong>
      <br>
      Energy need : <strong>
      <script>display_W({{ facility["construction power"]}});</script>
    </strong>
    <br>
  </div>
  <b class="padding medium white button margin-small txt_center"
     onclick="start_construction('thermodynamics', 'technologies');"
     style="width:160px">
    Start construction
  </b>
</div>
</div>
</div>
{% set facility = data["physics"] %}
<div id="{{ facility['name'] }}"
     class="bone margin facility small construction_tile"
     onclick="show_construction('{{ facility['name'] }}', '{{ facility['locked'] }}');">
  <img class="img"
       src="{{ url_for('static', filename='images/technologies/physics.jpg') }}">
  <div class="infotext padding">
    <strong class="large">{{ facility["name"] }}</strong>lvl <em id="lvl" class="large">{{ user.physics }}</em>&emsp; <span id="price" class="money_font">
      <script>display_money_long({{ facility["price"]}});</script>
    </span>
    <br>
    Physics is the science of experimentation.
    <br>
    Affects the facilities :
    {% for facility in ["PV_solar", "CSP_solar", "hydrogen_storage", "lithium_ion_batteries"] %}
      <em class="txt-blue">{{ data[facility].name }}</em> ,
    {% endfor %}
    <em class="txt-blue">{{ data["solid_state_batteries"].name }}</em>
  </div>
  <div class="infobox" id="reqirements">
    {% if facility["locked"] %}
      <div>
        <strong>Upgrade with :</strong>
        <br>
        <ul style="padding:0; margin:0;">
          {% for req in facility["requirements"] %}
            <li class="margin-small{% if req[2] %} req_fullfilled {% else %} requirement {% endif %}">
              -
              {{ data[req[0]]["name"] }} lvl {{ req[1]+user.physics }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="infobox" id="infotable">
    <table class="table tan_green">
      <tr>
        <th>Effects :</th>
        <th id="upgrade" class="txt_center">lvl {{ user.physics }} -> lvl {{ user.physics+1 }}</th>
      </tr>
      <tr>
        <td>Power generation</td>
        <td class="txt_center">+{{(facility["prod factor"]*100-100)|int}}%</td>
      </tr>
      <tr>
        <td>Price</td>
        <td class="txt_center">+{{(facility["price factor"]*100-100)|int}}%</td>
      </tr>
    </table>
  </div>
  <div id="constructionContent" class="infobox hidden constructionContent">
    <div class="flex-col">
      <div class="txt_center margin-small" style="width:180px">
        Duration : <strong>
        <script>display_duration({{ facility["construction time"]}});</script>
      </strong>
      <br>
      Energy need : <strong>
      <script>display_W({{ facility["construction power"]}});</script>
    </strong>
    <br>
  </div>
  <b class="padding medium white button margin-small txt_center"
     onclick="start_construction('physics', 'technologies');"
     style="width:160px">
    Start construction
  </b>
</div>
</div>
</div>
{% set facility = data["building_technology"] %}
<div id="{{ facility['name'] }}"
     class="bone margin facility small construction_tile"
     onclick="show_construction('{{ facility['name'] }}', '{{ facility['locked'] }}');">
  <img class="img"
       src="{{ url_for('static', filename='images/technologies/building_technology.jpg') }}">
  <div class="infotext padding">
    <strong class="large">{{ facility["name"] }}</strong>lvl <em id="lvl" class="large">{{ user.building_technology }}</em>&emsp; <span id="price" class="money_font">
      <script>display_money_long({{ facility["price"]}});</script>
    </span>
    <br>
    Building technology enables more efficient construction of facilities.
    <br>
    Affects <em class="txt-blue">all power and storage facilities</em>.
  </div>
  <div class="infobox" id="reqirements">
    {% if facility["locked"] %}
      <div>
        <strong>Upgrade with :</strong>
        <br>
        <ul style="padding:0; margin:0;">
          {% for req in facility["requirements"] %}
            <li class="margin-small{% if req[2] %} req_fullfilled {% else %} requirement {% endif %}">
              -
              {{ data[req[0]]["name"] }} lvl {{ req[1]+user.building_technology }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="infobox" id="infotable">
    <table class="table tan_green">
      <tr>
        <th>Effects :</th>
        <th id="upgrade" class="txt_center">lvl {{ user.building_technology }} -> lvl {{ user.building_technology+1 }}</th>
      </tr>
      <tr>
        <td>Construction time</td>
        <td class="txt_center">-{{(100-facility["time factor"]*100)|int}}%</td>
      </tr>
    </table>
  </div>
  <div id="constructionContent" class="infobox hidden constructionContent">
    <div class="flex-col">
      <div class="txt_center margin-small" style="width:180px">
        Duration : <strong>
        <script>display_duration({{ facility["construction time"]}});</script>
      </strong>
      <br>
      Energy need : <strong>
      <script>display_W({{ facility["construction power"]}});</script>
    </strong>
    <br>
  </div>
  <b class="padding medium white button margin-small txt_center"
     onclick="start_construction('building_technology', 'technologies');"
     style="width:160px">
    Start construction
  </b>
</div>
</div>
</div>
{% set facility = data["mineral_extraction"] %}
<div id="{{ facility['name'] }}"
     class="bone margin facility small construction_tile"
     onclick="show_construction('{{ facility['name'] }}', '{{ facility['locked'] }}');">
  <img class="img"
       src="{{ url_for('static', filename='images/technologies/mineral_extraction.jpg') }}">
  <div class="infotext padding">
    <strong class="large">{{ facility["name"] }}</strong>lvl <em id="lvl" class="large">{{ user.mineral_extraction }}</em>&emsp; <span id="price" class="money_font">
      <script>display_money_long({{ facility["price"]}});</script>
    </span>
    <br>
    Mineral extraction improves the extraction of natural resources.
    <br>
    Affects the facilities :
    {% for facility in ["coal_mine", "oil_field", "gas_drilling_site"] %}
      <em class="txt-blue">{{ data[facility].name }}</em> ,
    {% endfor %}
    <em class="txt-blue">{{ data["uranium_mine"].name }}</em>
  </div>
  <div class="infobox" id="reqirements">
    {% if facility["locked"] %}
      <div>
        <strong>Upgrade with :</strong>
        <br>
        <ul style="padding:0; margin:0;">
          {% for req in facility["requirements"] %}
            <li class="margin-small{% if req[2] %} req_fullfilled {% else %} requirement {% endif %}">
              -
              {{ data[req[0]]["name"] }} lvl {{ req[1]+user.mineral_extraction }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="infobox" id="infotable">
    <table class="table tan_green">
      <tr>
        <th>Effects :</th>
        <th id="upgrade" class="txt_center">lvl {{ user.mineral_extraction }} -> lvl {{ user.mineral_extraction+1 }}</th>
      </tr>
      <tr>
        <td>Extraction speed</td>
        <td class="txt_center">+{{(facility["prod factor"]*100-100)|int}}%</td>
      </tr>
      <tr>
        <td>Price</td>
        <td class="txt_center">+{{(facility["price factor"]*100-100)|int}}%</td>
      </tr>
      <tr>
        <td>Power consumption</td>
        <td class="txt_center">+{{(facility["energy factor"]*100-100)|int}}%</td>
      </tr>
      <tr>
        <td>Emissions</td>
        <td class="txt_center">-{{(100-facility["pollution factor"]*100)|int}}%</td>
      </tr>
    </table>
  </div>
  <div id="constructionContent" class="infobox hidden constructionContent">
    <div class="flex-col">
      <div class="txt_center margin-small" style="width:180px">
        Duration : <strong>
        <script>display_duration({{ facility["construction time"]}});</script>
      </strong>
      <br>
      Energy need : <strong>
      <script>display_W({{ facility["construction power"]}});</script>
    </strong>
    <br>
  </div>
  <b class="padding medium white button margin-small txt_center"
     onclick="start_construction('mineral_extraction', 'technologies');"
     style="width:160px">
    Start construction
  </b>
</div>
</div>
</div>
{% set facility = data["transport_technology"] %}
<div id="{{ facility['name'] }}"
     class="bone margin facility small construction_tile"
     onclick="show_construction('{{ facility['name'] }}', '{{ facility['locked'] }}');">
  <img class="img"
       src="{{ url_for('static', filename='images/technologies/transport_technology.jpg') }}">
  <div class="infotext padding">
    <strong class="large">{{ facility["name"] }}</strong>lvl <em id="lvl" class="large">{{ user.transport_technology }}</em>&emsp; <span id="price" class="money_font">
      <script>display_money_long({{ facility["price"]}});</script>
    </span>
    <br>
    Transport technology enables efficient transport of natural resources.
    <br>
    Affects the <em class="txt-blue">transport of natural resources</em>.
  </div>
  <div class="infobox" id="reqirements">
    {% if facility["locked"] %}
      <div>
        <strong>Upgrade with :</strong>
        <br>
        <ul style="padding:0; margin:0;">
          {% for req in facility["requirements"] %}
            <li class="margin-small{% if req[2] %} req_fullfilled {% else %} requirement {% endif %}">
              -
              {{ data[req[0]]["name"] }} lvl {{ req[1]+user.transport_technology }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="infobox" id="infotable">
    <table class="table tan_green">
      <tr>
        <th>Effects :</th>
        <th id="upgrade" class="txt_center">lvl {{ user.transport_technology }} -> lvl {{ user.transport_technology+1 }}</th>
      </tr>
      <tr>
        <td>Transport speed</td>
        <td class="txt_center">+{{(100-facility["time factor"]*100)|int}}%</td>
      </tr>
      <tr>
        <td>Power consumption</td>
        <td class="txt_center">-{{(100-facility["energy factor"]*100)|int}}%</td>
      </tr>
    </table>
  </div>
  <div id="constructionContent" class="infobox hidden constructionContent">
    <div class="flex-col">
      <div class="txt_center margin-small" style="width:180px">
        Duration : <strong>
        <script>display_duration({{ facility["construction time"]}});</script>
      </strong>
      <br>
      Energy need : <strong>
      <script>display_W({{ facility["construction power"]}});</script>
    </strong>
    <br>
  </div>
  <b class="padding medium white button margin-small txt_center"
     onclick="start_construction('transport_technology', 'technologies');"
     style="width:160px">
    Start construction
  </b>
</div>
</div>
</div>
{% set facility = data["materials"] %}
<div id="{{ facility['name'] }}"
     class="bone margin facility small construction_tile"
     onclick="show_construction('{{ facility['name'] }}', '{{ facility['locked'] }}');">
  <img class="img"
       src="{{ url_for('static', filename='images/technologies/materials.jpg') }}">
  <div class="infotext padding">
    <strong class="large">{{ facility["name"] }}</strong>lvl <em id="lvl" class="large">{{ user.materials }}</em>&emsp;
    <span id="price" class="money_font">
      <script>display_money_long({{ facility["price"]}});</script>
    </span>
    <br>
    Material sciences are essential to find improved materials.
    <br>
    Affects the facilities :
    {% for facility in ["PV_solar", "onshore_wind_turbine", "offshore_wind_turbine", "lithium_ion_batteries"] %}
      <em class="txt-blue">{{ data[facility].name }}</em> ,
    {% endfor %}
    <em class="txt-blue">{{ data["solid_state_batteries"].name }}</em>
  </div>
  <div class="infobox" id="reqirements">
    {% if facility["locked"] %}
      <div>
        <strong>Upgrade with :</strong>
        <br>
        <ul style="padding:0; margin:0;">
          {% for req in facility["requirements"] %}
            <li class="margin-small{% if req[2] %} req_fullfilled {% else %} requirement {% endif %}">
              -
              {{ data[req[0]]["name"] }} lvl {{ req[1]+user.materials }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="infobox" id="infotable">
    <table class="table tan_green">
      <tr>
        <th>Effects :</th>
        <th id="upgrade" class="txt_center">lvl {{ user.materials }} -> lvl {{ user.materials+1 }}</th>
      </tr>
      <tr>
        <td>Price</td>
        <td class="txt_center">-{{(100-facility["price factor"]*100)|int}}%</td>
      </tr>
      <tr>
        <td>Construction power</td>
        <td class="txt_center">-{{(100-facility["construction energy factor"]*100)|int}}%</td>
      </tr>
    </table>
  </div>
  <div id="constructionContent" class="infobox hidden constructionContent">
    <div class="flex-col">
      <div class="txt_center margin-small" style="width:180px">
        Duration : <strong>
        <script>display_duration({{ facility["construction time"]}});</script>
      </strong>
      <br>
      Energy need : <strong>
      <script>display_W({{ facility["construction power"]}});</script>
    </strong>
    <br>
  </div>
  <b class="padding medium white button margin-small txt_center"
     onclick="start_construction('materials', 'technologies');"
     style="width:160px">
    Start construction
  </b>
</div>
</div>
</div>
{% set facility = data["civil_engineering"] %}
<div id="{{ facility['name'] }}"
     class="bone margin facility small construction_tile"
     onclick="show_construction('{{ facility['name'] }}', '{{ facility['locked'] }}');">
  <img class="img"
       src="{{ url_for('static', filename='images/technologies/civil_engineering.jpg') }}">
  <div class="infotext padding">
    <strong class="large">{{ facility["name"] }}</strong>lvl <em id="lvl" class="large">{{ user.civil_engineering }}</em>&emsp; <span id="price" class="money_font">
      <script>display_money_long({{ facility["price"]}});</script>
    </span>
    <br>
    Civil engineers can build bridges.
    <br>
    Affects the facilities :
    {% for facility in ["small_water_dam", "large_water_dam", "small_pumped_hydro"] %}
      <em class="txt-blue">{{ data[facility].name }}</em> ,
    {% endfor %}
    <em class="txt-blue">{{ data["large_pumped_hydro"].name }}</em>
  </div>
  <div class="infobox" id="reqirements">
    {% if facility["locked"] %}
      <div>
        <strong>Upgrade with :</strong>
        <br>
        <ul style="padding:0; margin:0;">
          {% for req in facility["requirements"] %}
            <li class="margin-small{% if req[2] %} req_fullfilled {% else %} requirement {% endif %}">
              -
              {{ data[req[0]]["name"] }} lvl {{ req[1]+user.civil_engineering }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="infobox" id="infotable">
    <table class="table tan_green">
      <tr>
        <th>Effects :</th>
        <th id="upgrade" class="txt_center">lvl {{ user.civil_engineering }} -> lvl {{ user.civil_engineering+1 }}</th>
      </tr>
      <tr>
        <td>Power generation</td>
        <td class="txt_center">+{{(facility["prod factor"]*100-100)|int}}%</td>
      </tr>
      <tr>
        <td>Storage capacity</td>
        <td class="txt_center">+{{(facility["capacity factor"]*100-100)|int}}%</td>
      </tr>
      <tr>
        <td>Price</td>
        <td class="txt_center">+{{(facility["price factor"]*100-100)|int}}%</td>
      </tr>
    </table>
  </div>
  <div id="constructionContent" class="infobox hidden constructionContent">
    <div class="flex-col">
      <div class="txt_center margin-small" style="width:180px">
        Duration : <strong>
        <script>display_duration({{ facility["construction time"]}});</script>
      </strong>
      <br>
      Energy need : <strong>
      <script>display_W({{ facility["construction power"]}});</script>
    </strong>
    <br>
  </div>
  <b class="padding medium white button margin-small txt_center"
     onclick="start_construction('civil_engineering', 'technologies');"
     style="width:160px">
    Start construction
  </b>
</div>
</div>
</div>
{% set facility = data["aerodynamics"] %}
<div id="{{ facility['name'] }}"
     class="bone margin facility small construction_tile"
     onclick="show_construction('{{ facility['name'] }}', '{{ facility['locked'] }}');">
  <img class="img"
       src="{{ url_for('static', filename='images/technologies/aerodynamics.jpg') }}">
  <div class="infotext padding">
    <strong class="large">{{ facility["name"] }}</strong>lvl <em id="lvl" class="large">{{ user.aerodynamics }}</em>&emsp;
    <span id="price" class="money_font">
      <script>display_money_long({{ facility["price"]}});</script>
    </span>
    <br>
    Aerodynamics is the science of airflow.
    <br>
    Affects the facilities :
    {% for facility in ["windmill", "onshore_wind_turbine"] %}
      <em class="txt-blue">{{ data[facility].name }}</em> ,
    {% endfor %}
    <em class="txt-blue">{{ data["offshore_wind_turbine"].name }}</em>
  </div>
  <div class="infobox" id="reqirements">
    {% if facility["locked"] %}
      <div>
        <strong>Upgrade with :</strong>
        <br>
        <ul style="padding:0; margin:0;">
          {% for req in facility["requirements"] %}
            <li class="margin-small{% if req[2] %} req_fullfilled {% else %} requirement {% endif %}">
              -
              {{ data[req[0]]["name"] }} lvl {{ req[1]+user.aerodynamics }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="infobox" id="infotable">
    <table class="table tan_green">
      <tr>
        <th>Effects :</th>
        <th id="upgrade" class="txt_center">lvl {{ user.aerodynamics }} -> lvl {{ user.aerodynamics+1 }}</th>
      </tr>
      <tr>
        <td>Power generation</td>
        <td class="txt_center">+{{(facility["prod factor"]*100-100)|int}}%</td>
      </tr>
      <tr>
        <td>Price</td>
        <td class="txt_center">+{{(facility["price factor"]*100-100)|int}}%</td>
      </tr>
    </table>
  </div>
  <div id="constructionContent" class="infobox hidden constructionContent">
    <div class="flex-col">
      <div class="txt_center margin-small" style="width:180px">
        Duration : <strong>
        <script>display_duration({{ facility["construction time"]}});</script>
      </strong>
      <br>
      Energy need : <strong>
      <script>display_W({{ facility["construction power"]}});</script>
    </strong>
    <br>
  </div>
  <b class="padding medium white button margin-small txt_center"
     onclick="start_construction('aerodynamics', 'technologies');"
     style="width:160px">
    Start construction
  </b>
</div>
</div>
</div>
{% set facility = data["chemistry"] %}
<div id="{{ facility['name'] }}"
     class="bone margin facility small construction_tile"
     onclick="show_construction('{{ facility['name'] }}', '{{ facility['locked'] }}');">
  <img class="img"
       src="{{ url_for('static', filename='images/technologies/chemistry.jpg') }}">
  <div class="infotext padding">
    <strong class="large">{{ facility["name"] }}</strong>lvl <em id="lvl" class="large">{{ user.chemistry }}</em>&emsp;
    <span id="price" class="money_font">
      <script>display_money_long({{ facility["price"]}});</script>
    </span>
    <br>
    Chemistry is also very boring.
    <br>
    Affects the facilities :
    {% for facility in ["hydrogen_storage", "lithium_ion_batteries"] %}
      <em class="txt-blue">{{ data[facility].name }}</em> ,
    {% endfor %}
    <em class="txt-blue">{{ data["solid_state_batteries"].name }}</em>
  </div>
  <div class="infobox" id="reqirements">
    {% if facility["locked"] %}
      <div>
        <strong>Upgrade with :</strong>
        <br>
        <ul style="padding:0; margin:0;">
          {% for req in facility["requirements"] %}
            <li class="margin-small{% if req[2] %} req_fullfilled {% else %} requirement {% endif %}">
              -
              {{ data[req[0]]["name"] }} lvl {{ req[1]+user.chemistry }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="infobox" id="infotable">
    <table class="table tan_green">
      <tr>
        <th>Effects :</th>
        <th id="upgrade" class="txt_center">lvl {{ user.chemistry }} -> lvl {{ user.chemistry+1 }}</th>
      </tr>
      <tr>
        <td>Efficiency hydrogen</td>
        <td class="txt_center">+1.65%</td>
      </tr>
      <tr>
        <td>Efficiency Li-ion</td>
        <td id="E_Li_ion" class="txt_center">+{{ (10/data["lithium_ion_batteries"]["efficiency"]-10)| round(2) }}%</td>
      </tr>
      <tr>
        <td>Efficiency solid state</td>
        <td id="E_SS" class="txt_center">+{{ (10/data["solid_state_batteries"]["efficiency"]-10)| round(2) }}%</td>
      </tr>
      <tr>
        <td>Price</td>
        <td class="txt_center">+{{(facility["price factor"]*100-100)|int}}%</td>
      </tr>
    </table>
  </div>
  <div id="constructionContent" class="infobox hidden constructionContent">
    <div class="flex-col">
      <div class="txt_center margin-small" style="width:180px">
        Duration : <strong>
        <script>display_duration({{ facility["construction time"]}});</script>
      </strong>
      <br>
      Energy need : <strong>
      <script>display_W({{ facility["construction power"]}});</script>
    </strong>
    <br>
  </div>
  <b class="padding medium white button margin-small txt_center"
     onclick="start_construction('chemistry', 'technologies');"
     style="width:160px">
    Start construction
  </b>
</div>
</div>
</div>
{% set facility = data["nuclear_engineering"] %}
<div id="{{ facility['name'] }}"
     class="bone margin facility small construction_tile"
     onclick="show_construction('{{ facility['name'] }}', '{{ facility['locked'] }}');">
  <img class="img"
       src="{{ url_for('static', filename='images/technologies/nuclear_engineering.jpg') }}">
  <div class="infotext padding">
    <strong class="large">{{ facility["name"] }}</strong>lvl <em id="lvl" class="large">{{ user.nuclear_engineering }}</em>&emsp; <span id="price" class="money_font">
      <script>display_money_long({{ facility["price"]}});</script>
    </span>
    <br>
    Nuclear engineers are used to improve nuclear power facilities.
    <br>
    Affects the facilities :
    <em class="txt-blue">{{ data["nuclear_reactor"].name }}</em> ,
    <em class="txt-blue">{{ data["nuclear_reactor_gen4"].name }}</em>
  </div>
  <div class="infobox" id="reqirements">
    {% if facility["locked"] %}
      <div>
        <strong>Upgrade with :</strong>
        <br>
        <ul style="padding:0; margin:0;">
          {% for req in facility["requirements"] %}
            <li class="margin-small{% if req[2] %} req_fullfilled {% else %} requirement {% endif %}">
              -
              {{ data[req[0]]["name"] }} lvl {{ req[1]+user.nuclear_engineering }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="infobox" id="infotable">
    <table class="table tan_green">
      <tr>
        <th>Effects :</th>
        <th id="upgrade" class="txt_center">lvl {{ user.nuclear_engineering }} -> lvl {{ user.nuclear_engineering+1 }}</th>
      </tr>
      <tr>
        <td>Power generation</td>
        <td class="txt_center">+{{(facility["prod factor"]*100-100)|int}}%</td>
      </tr>
      <tr>
        <td>Price</td>
        <td class="txt_center">+{{(facility["price factor"]*100-100)|int}}%</td>
      </tr>
    </table>
  </div>
  <div id="constructionContent" class="infobox hidden constructionContent">
    <div class="flex-col">
      <div class="txt_center margin-small" style="width:180px">
        Duration : <strong>
        <script>display_duration({{ facility["construction time"]}});</script>
      </strong>
      <br>
      Energy need : <strong>
      <script>display_W({{ facility["construction power"]}});</script>
    </strong>
    <br>
  </div>
  <b class="padding medium white button margin-small txt_center"
     onclick="start_construction('nuclear_engineering', 'technologies');"
     style="width:160px">
    Start construction
  </b>
</div>
</div>
</div>
{% endblock content %}
{% block additionnal_script %}
  <script src="{{ url_for('static', filename='click_construction.js') }}"></script>
  <script src="{{ url_for('static', filename='lvlup_display.js') }}"></script>
{% endblock additionnal_script %}
