{% extends "base.jinja" %} {% block title %}Energetica wiki{% endblock %} {% block content %}

{% set const_data = engine.const_config["assets"] %}

<div class="flex-row huge title">Energetica wiki</div>

<div class="info_message medium margin padding">
    <i class="fa fa-info-circle info-circle"></i>
    <div class="padding-small">
        🚧 This game is still under development! 🚧 Join the <a href="https://discord.gg/6xQsfqe2Nd">Energetica 
        Discord server</a> to stay updated with the latest news, report bugs, and engage with the community. 
        You can also contact me directly if you have questions (vsfelix@ethz.ch)
    </div>
</div>

<div class="medium margin-large">

  <h2>Welcome to Energetica</h2>
  <p>
    As a player, you take on the role of managing the electricity generation of your city or country. 
    Starting with basic technology like a rudimentary steam engine, you'll progress towards more advanced options such 
    as photovoltaics and nuclear reactors.
  </p>
  <p>
    Your continuous vigilance over production is essential to ensure a consistent and adequate supply of electricity to 
    support various energy needs. Collaborating with other players to establish a network for trading electricity 
    and advancing technological developments is crucial.
  </p>
  <p>
    Effective management of fossil fuels and careful monitoring of emissions are imperative, as consequences may arise 
    from negligence in these areas.
  </p>
  <p>
    Energetica is a long-term game lasting multiple months. Remember to log in regularly to check progress and make 
    new decisions to shape the energy landscape of your community!
  </p>
  <p>
    This wiki serves as a comprehensive documentation of all the mechanics within the game. While not a prerequisite 
    before gameplay, referencing specific chapters within this wiki can aid in making informed decisions during 
    gameplay.
  </p>

  <h2>Table of Contents</h2>
  <ul>
    <li>
      <a href="#Map">The Map</a>
      <ul>
        <li><a href="#Renewable_resources">Renewable Resources</a></li>
        <li><a href="#Fossil_fuels">Fossil Fuels</a></li>
      </ul>
    </li>
    <li>
      <a href="#Power_Facilities">Power Facilities</a>
      <ul>
        <li><a href="#Power_Generation_of_Renewable_Facilities">Power Generation of Renewable Facilities</a></li>
        <li><a href="#Power_Generation_of_Controllable_Plants">Power Generation of Controllable Facilities</a></li>
        <li><a href="#O&M_costs">Operation and Maintenance Cost</a></li>
        <li><a href="#Construction_of_a_Plant">Construction of a Facility</a></li>
      </ul>
    </li>
    <li><a href="#Storage_Facilities">Storage Facilities</a></li>
    <li><a href="#Extraction_Facilities">Extraction Facilities</a></li>
    <li><a href="#Functional_Facilities">Functional Facilities</a></li>
    <li><a href="#Technology">Technology</a></li>
    <li><a href="#Prioritization_of_Facilities">Prioritazation of Facilities</a></li>
    <li>
      <a href="#Network">Network</a>
      <ul>
        <li><a href="#Obligatory_Generation">Obligatory Electricity Generation</a></li>
        <li><a href="#Market_Logic">Market Logic</a></li>
      </ul>
    </li>
    <li><a href="#Resource_Market">Resource Market</a></li>
    <li><a href="#climate_change_impacts">Climate Change Impacts</a></li>
  </ul>

  <h2 id="Game_Time">Game Time</h2>
  <p>
    The game operates on a clock that updates every {{ engine.clock_time }} seconds, referred to as a "tick". This means 
    the game values are updated every {{ engine.clock_time }} seconds.
  </p>
  <p>
    To enhance the gaming experience, game time is significantly faster than real-time. 1 in-game day corresponds to 3 
    real-time hours and an in-game year has only 72 in-game days. The following table shows the conversion between ticks, 
    in-game time, and real-time:
  </p>
  <div class="flex-center align-items-center">
    <table class="table bone txt_center">
        <tr>
          <th>Game Ticks</th>
          <th>In-game Time</th>
          <th>Real Time</th>
        </tr>
        <tr>
          <td>1</td>
          <td>4 min</td>
          <td>{{ engine.clock_time }} sec</td>
        </tr>
        <tr>
          <td>15</td>
          <td>1 hour</td>
          <td>{{(0.25 * engine.clock_time) | round() | int }} min</td>
        </tr>
        <tr>
          <td>360</td>
          <td>1 day / 24h</td>
          <td>{{(0.1 * engine.clock_time) | round() | int }} hours</td>
        </tr>
        <tr>
          <td>2160</td>
          <td>1 month / 6d</td>
          <td>{{(0.6 * engine.clock_time) | round() | int }} hours</td>
        </tr>
        <tr>
          <td>25920</td>
          <td>1 year / 12m</td>
          <td>{{(0.3 * engine.clock_time) | round() | int }} days</td>
        </tr>
        <tr>
          <td>259200</td>
          <td>10 years</td>
          <td>{{(0.1 * engine.clock_time) | round() | int }} months</td>
        </tr>
    </table>
  </div>

  <h2 id="Map">The Map</h2>
  <p>
    Upon creating an account, your initial task is to select a location on the map. It's crucial to note that this 
    choice is <strong>permanent</strong>; there won't be any opportunity to expand or alter your chosen tile. Choose 
    wisely.
  </p>
  <p>
    The map consists of a hexagonal grid comprising 331 tiles, visualized on community > <a href="/map">Map</a>.
  </p>
  <p>
    The distance between your location and another player's tile directly impacts resource shipment times when engaging 
    in trade. For more insights, refer to the <a href="#Resource_Market">resource market</a> section.
  </p>
  <p>
    Each tile offers a specific assortment of resources—seven distinct resources categorized into renewable and fossil 
    fuel types:
  </p>

  <h3 id="Renewable_resources">Renewable Resources</h3>
  <p>
    <i>Note:</i> In the following subsections, the concept of "locations" is used to explain how potential works. 
    Players do not see the specific locations of the facilities.
  </p>

  <h4 id="wind_potential">Solar Potential</h4>
  <p>
    The solar potential is expressed in watts per square meter (W/m²), indicating the maximum irradiance achievable at 
    this latitude. The higher this maximum irradiance, the greater the power production of photovoltaic (PV) and 
    concentrated solar power (CSP) plants. See <a href="#Solar_Power_Generation">solar power generation</a> for more 
    information.
  </p>

  <h4 id="wind_potential">Wind Potential</h4>
  <p>
    Wind potential is a percentage value that represents the suitability of each tile for installing wind facilities 
    (windmills, onshore, and offshore wind turbines). The initial wind facility is always placed in the most optimal 
    location, which has a wind speed multiplier close to 1. However, as players build more wind facilities, the wind 
    potential in new locations decreases, resulting in a lower wind speed multiplier for each subsequent facility. 
    This decrease happens more rapidly for tiles with lower wind potential.
  </p>
  <p>
    The following table illustrates the <b>wind speed multipliers</b> applied to facilities based on different wind potentials 
    (columns) and the number of facilities built (rows):
  </p>
  <div class="flex-center align-items-center">
    <div class="table_legend_left">
      <b style="transform: translate(-50%, -70%); position: absolute;">Existing facilities</b>
    </div>
    <table class="table bone txt_center">
      <thead>
        <tr>
          <th></th>
          <th class="padding" colspan="6">Wind potential</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th></th>
          <th style="width:50px">0%</th>
          <th style="width:50px">20%</th>
          <th style="width:50px">40%</th>
          <th style="width:50px">60%</th>
          <th style="width:50px">80%</th>
          <th style="width:50px">100%</th>
        </tr>
        <tr>
          <th>0</th>
          <td class="txt-green">76%</td>
          <td class="txt-green">96%</td>
          <td class="txt-green">98%</td>
          <td class="txt-green">99%</td>
          <td class="txt-green">99%</td>
          <td class="txt-green">100%</td>
        </tr>
        <tr>
          <th>1</th>
          <td>52%</td>
          <td class="txt-green">85%</td>
          <td class="txt-green">94%</td>
          <td class="txt-green">97%</td>
          <td class="txt-green">98%</td>
          <td class="txt-green">99%</td>
        </tr>
        <tr>
          <th>2</th>
          <td class="txt-red">41%</td>
          <td>74%</td>
          <td class="txt-green">87%</td>
          <td class="txt-green">93%</td>
          <td class="txt-green">95%</td>
          <td class="txt-green">97%</td>
        </tr>
        <tr>
          <th>3</th>
          <td class="txt-red">34%</td>
          <td>64%</td>
          <td class="txt-green">80%</td>
          <td class="txt-green">88%</td>
          <td class="txt-green">92%</td>
          <td class="txt-green">95%</td>
        </tr>
        <tr>
          <th>4</th>
          <td class="txt-red">30%</td>
          <td>56%</td>
          <td>73%</td>
          <td class="txt-green">83%</td>
          <td class="txt-green">89%</td>
          <td class="txt-green">92%</td>
        </tr>
        <tr>
          <th>5</th>
          <td class="txt-red">27%</td>
          <td>50%</td>
          <td>67%</td>
          <td class="txt-green">78%</td>
          <td class="txt-green">85%</td>
          <td class="txt-green">89%</td>
        </tr>
        <tr>
          <th>6</th>
          <td class="txt-red">25%</td>
          <td class="txt-red">46%</td>
          <td>62%</td>
          <td>73%</td>
          <td class="txt-green">81%</td>
          <td class="txt-green">86%</td>
        </tr>
        <tr>
          <th>7</th>
          <td class="txt-red">24%</td>
          <td class="txt-red">42%</td>
          <td>57%</td>
          <td>69%</td>
          <td class="txt-green">77%</td>
          <td class="txt-green">83%</td>
        </tr>
        <tr>
          <th>8</th>
          <td class="txt-red">23%</td>
          <td class="txt-red">39%</td>
          <td>53%</td>
          <td>65%</td>
          <td>73%</td>
          <td class="txt-green">79%</td>
        </tr>
        <tr>
          <th>9</th>
          <td class="txt-red">22%</td>
          <td class="txt-red">37%</td>
          <td class="txt-red">50%</td>
          <td>61%</td>
          <td>70%</td>
          <td class="txt-green">76%</td>
        </tr>
        <tr>
          <th>10</th>
          <td class="txt-red">21%</td>
          <td class="txt-red">35%</td>
          <td class="txt-red">47%</td>
          <td>58%</td>
          <td>66%</td>
          <td>73%</td>
        </tr>
        <tr>
          <th>11</th>
          <td class="txt-red">20%</td>
          <td class="txt-red">33%</td>
          <td class="txt-red">44%</td>
          <td>55%</td>
          <td>63%</td>
          <td>70%</td>
        </tr>
        <tr>
          <th>12</th>
          <td class="txt-red">19%</td>
          <td class="txt-red">31%</td>
          <td class="txt-red">42%</td>
          <td>52%</td>
          <td>60%</td>
          <td>67%</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>
    The wind speed formula for the n<sup>th</sup> instance of a facility i at time t is:
  </p>
  <ul style="list-style: none;"><li>
    <i class="fa fa-angle-double-right padding"></i>\(ws_{t,n} = ws_{t,serv} \times wsm(wp, n_i)\) <br>
    With \(ws_{t,serv}\) being the live wind speed as indicated in the home page, and \(wsm(wp, n_i)\) the wind speed 
    multiplier as a function of the wind potential \(wp\) and the number of installed facilities \(n_i\) (see table above).
  </li></ul>
  {# \(wsm(wp, n_i) = ln(e+(n_i \times \frac{1}{9 \times wp + 1} )²)^{-1}\) #}
  <p>
    For more information about the power generation of wind facilities, refer to <a href="#Wind_Power_Generation">Wind Power Generation</a>.
  </p>
  
  <h4 id="hydro_potential">Hydro Potential</h4>
  <p>
    Hydro potential is expressed as a percentage and indicates how suitable each tile is for the installation of hydro 
    facilities (watermills, small and large dams). The first facility is built in the most accessible location, keeping 
    costs low. As more hydro facilities are constructed, the investment and operational costs increase, modeling the 
    difficulty to build in less suitable locations. This increase is more pronounced for tiles with low hydro potential. 
    Note that pumped hydro facilities are not affected by hydro potential.
  </p>
  <p>
    The following table shows the <b>cost multipliers</b> applied to hydro facilities based on different hydro potentials 
    (columns) and the number of facilities built (rows):  
  </p>
  <div class="flex-center align-items-center">
    <div class="table_legend_left">
      <b style="transform: translate(-50%, -70%); position: absolute;">Existing facilities</b>
    </div>
  <table class="table bone txt_center">
      <thead>
        <tr>
          <th></th>
          <th class="padding" colspan="6">Hydro potential</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th></th>
          <th style="width:50px">0%</th>
          <th style="width:50px">20%</th>
          <th style="width:50px">40%</th>
          <th style="width:50px">60%</th>
          <th style="width:50px">80%</th>
          <th style="width:50px">100%</th>
        </tr>
        <tr>
          <th>0</th>
          <td>8.0</td>
          <td class="txt-green">2.2</td>
          <td class="txt-green">1.4</td>
          <td class="txt-green">1.2</td>
          <td class="txt-green">1.1</td>
          <td class="txt-green">1.0</td>
        </tr>
        <tr>
          <th>1</th>
          <td class="txt-red">55</td>
          <td>6.0</td>
          <td class="txt-green">2.6</td>
          <td class="txt-green">1.7</td>
          <td class="txt-green">1.4</td>
          <td class="txt-green">1.2</td>
        </tr>
        <tr>
          <th>2</th>
          <td class="txt-red">99+</td>
          <td class="txt-red">18</td>
          <td>5.3</td>
          <td class="txt-green">2.8</td>
          <td class="txt-green">2.0</td>
          <td class="txt-green">1.6</td>
        </tr>
        <tr>
          <th>3</th>
          <td class="txt-red">99+</td>
          <td class="txt-red">60</td>
          <td>12</td>
          <td>4.9</td>
          <td class="txt-green">3.0</td>
          <td class="txt-green">2.2</td>
        </tr>
        <tr>
          <th>4</th>
          <td class="txt-red">99+</td>
          <td class="txt-red">99+</td>
          <td class="txt-red">27</td>
          <td>9.0</td>
          <td>4.7</td>
          <td class="txt-green">3.1</td>
        </tr>
        <tr>
          <th>5</th>
          <td class="txt-red">99+</td>
          <td class="txt-red">99+</td>
          <td class="txt-red">62</td>
          <td class="txt-red">17</td>
          <td>7.7</td>
          <td>4.6</td>
        </tr>
        <tr>
          <th>6</th>
          <td class="txt-red">99+</td>
          <td class="txt-red">99+</td>
          <td class="txt-red">99+</td>
          <td class="txt-red">33</td>
          <td>13</td>
          <td>6.9</td>
        </tr>
        <tr>
          <th>7</th>
          <td class="txt-red">99+</td>
          <td class="txt-red">99+</td>
          <td class="txt-red">99+</td>
          <td class="txt-red">63</td>
          <td class="txt-red">22</td>
          <td>10.6</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>
    The formula for the price of the n<sup>th</sup> instance of facility i is:
  </p>
  <ul style="list-style: none;"><li>
    <i class="fa fa-angle-double-right padding"></i>\(p_{i,n} = p_{i,base} \times pm(hp, n_i)\) <br>
    With \(p_{i,base}\) being the base price of the facility i, and \(pm(hp, n_i)\) the price multiplier as a function 
    of the hydro potential \(hp\) and the number of installed facilities \(n_i\) (see table above).
  </li></ul>
  {# \(pm(hp, n_i) = 0.6 + e^{0.6 \times \frac{n_i + 1 - 3 \times hp}{0.3 + hp}}\) #}
  <p>
    Similarly, the operation and management cost of the n<sup>th</sup> instance of facility i is:
  </p>
  <ul style="list-style: none;"><li>
      <i class="fa fa-angle-double-right padding"></i>\(omc_{i,n} = omc_{i,base} \times pm(hp, n_i)\)
  </li></ul>
  <p>
    For more information about the power generation of hydro facilities, refer to <a href="#Hydro_Power_Generation">Hydropower Generation</a>.
  </p>

  <h4>General Notes</h4>
  <ul>
    <li>
      For both wind and hydro facilities, when a facility is dismantled or decommissioned, its location is freed, making 
      it available for a new facility with the same potential.
    </li>
    <li>
      When a facility is built, the optimal location is always chosen first, reflecting the best potential for energy 
      production or cost efficiency.
    </li>
  </ul>
  
  <h3 id="Fossil_fuels">Fossil fuels:</h3>
  <ul>
    <li>
      <strong>Coal, Oil, Gas, and Uranium:</strong> These indicate the quantity of each resource stored underground on
      a specific tile. Extraction facilities allow you to extract these resources. For detailed procedures, consult the
      <a href="#Extraction_Facilities">extraction facilities</a> section.
    </li>
  </ul>
  <h2 id="Power_Facilities">Power Facilities</h2>
  <p>
    Power facilities are integral for electricity generation within the game. Upon starting, you begin with a single
    steam engine. Initially, only the steam engine, watermill, and windmill are available. However, researching
    technologies will unlock additional power facilities.
  </p>
  <p>
    Power facilities within Energetica are classified into five categories, each offering different
    characteristics and functionalities.
  </p>
  <h4>Fossil Fuel Family</h4>
  <ul>
    <li>Steam engine</li>
    <li>Coal burner &ensp;<span class="txt_pine">(Coal)</span></li>
    <li>Oil burner  &ensp;<span class="txt_pine">(Oil)</span></li>
    <li>Gas burner &ensp;<span class="txt_pine">(Gas)</span></li>
    <li>Combined cycle &ensp;<span class="txt_pine">(Gas + Coal)</span></li>
    <li>Nuclear reactor &ensp;<span class="txt_pine">(Uranium)</span></li>
    <li>Gen4 Nuclear &ensp;<span class="txt_pine">(Uranium)</span></li>
  </ul>
  <p>These facilites are controllable, emit CO2, and require fuel for operation (except for the steam engine).</p>
  <h4>Wind Family</h4>
  <ul>
    <li>Windmill</li>
    <li>Onshore wind turbine</li>
    <li>Offshore wind turbine</li>
  </ul>
  <p>
    These facilities are non-controllable, do not emit pollutants during operation, and their power output varies based 
    on wind conditions.
  </p>
  <h4>Hydro Family</h4>
  <ul>
    <li>Watermill</li>
    <li>Small water dam</li>
    <li>Large water dam</li>
  </ul>
  <p>
    Similar to wind facilities, these are non-controllable, emission-free during operation, and their output varies 
    during the year based on river discharge rates.
  </p>
  <h4>Solar Family</h4>
  <ul>
    <li>Concentrated solar power</li>
    <li>Photovoltaics</li>
  </ul>
  <p>
    These facilities are also non-controllable, emission-free during operation, and their output varies based on solar 
    irradiance levels.
  </p>
  <h3 id="Power_Generation_of_Renewable_Facilities">Power Generation of Renewable Facilities</h3>
  <p>
    Renewable power generation is non-controllable, meaning their power output is determined by specific calculations,
    regardless of the demand. Any surplus generation needs to be either stored or dumped.
  </p>

  <h4 id="Solar_Power_Generation">Solar Power Generation</h4>
  <p>
    The power generation of solar facilities is influenced by the current irradiance level, visible on the 
    <a href="/home">Home</a> page.
  </p>
  <p>
    <i>Note:</i> The servers irradiance level is updated with live data from the Uetilberg (Zürich) weather station.
  </p>
  <p>The formula for total power generation of solar facilty type i is:</p>
  <ul style="list-style: none;"><li>
    <i class="fa fa-angle-double-right padding"></i>\(P_i = \frac{ irr_{serv} }{875W/m²} \times sp \times P_{max,i} \times n_i \)<br>
    where \(irr_{serv}\) is the current server irradiance in W/m², \(sp\) is the solar potential on the players tile in percent, 
    \(875 W/m²\)  is the maximal theoretical irradiance in Zürich, \(P_{max,i}\) is the max power generation of the
    facility type i as indicated in the power facilities page and \(n_i\) is the number of facilities of type i owned by the player.
  </li></ul>

  <h4 id="Wind_Power_Generation">Wind Power Generation</h4>
  <p>
    Wind facilities are the only power facilities for which each instance produces a different amount of electricity. 
    The power production of wind facilities is influenced by the current wind speed on the server visible on the 
    <a href="/home">Home</a> page. However, each wind facility instance has its own instantaneous wind 
    speed, reflecting its specific location's exposure to wind. See <a href="#wind_potential">Wind Potential</a> for 
    more details. 
  </p>
  <p>
    <i>Note:</i> The servers wind speed is updated with live data from the Uetilberg (Zürich) weather station. The wind 
    speed is then increased by 30% to account for Zürich not being the windiest location on earth.
  </p>
  <p>
    The power production of a wind facility is calculated using a characteristic function:
  </p>
  <div class="graph-container">
    <img src="{{ url_for('static', filename='images/wiki/char_func_wind.jpg') }}"
         alt="Characteristic curve of wind turbine">
  </div>
  <p>The formula for the power generation at time t of all wind facilities of type i is:</p>
  <ul style="list-style: none;"><li>
    <i class="fa fa-angle-double-right padding"></i>\(P_{t,i} = \sum_{n} cf(ws_{t,n}) \times P_{max,i} \)<br>
    where \(cf()\) is the characteristic function shown in the graph above, \(ws_{t,n}\) the current wind speed for the 
    specific instance \(n\) of this facility type (see <a href="#wind_potential">Wind Potential</a>) and \(P_{max,i}\) 
    is the max power generation for the facility type i as indicated in the power facilities page.
  </li></ul>
  
  <h4 id="Hydro_Power_Generation">Hydropower Generation</h4>
  <p>
    Hydropower generation fluctuates with the change in river discharge rates, following seasonal patterns within the
    game's timeline.
  </p>
  <div class="graph-container">
    <img src="{{ url_for('static', filename='images/wiki/seasonal_variation_rivers.jpg') }}"
         alt="Seasonal variataions of river discharges">
  </div>
  <p>Formula for total power generation of hydropower facilty type i:</p>
  <ul style="list-style: none;"><li>
    <i class="fa fa-angle-double-right padding"></i>\(P_i = sv(t) \times P_{max,i} \times n_i \)<br>
    where \(sv()\) is the seasonal variation shown in the graph, \(t\) is the in-game date 
    (<a href="#Game_Time">1 in-game year = {{(0.3 * engine.clock_time) | round() | int }} real-time days</a>), 
    \(P_{max,i}\) is the max power generation of the facility 
    type i as indicated in the power facilities page and \(n_i\) is the number of facilities of type i owned by the player.
  </li></ul>

  <h3 id="Power_Generation_of_Controllable_Plants">Power Generation of Controllable Facilities</h3>
  <p>
    Controllable facility power generation must adhere to the ramping constraints of each facility from one minute to the
    next. The ramping speed, expressed in W/min, applies both to ramping up and down.
  </p>
  <p>
    For instance, a controllable facility with a ramping speed of 10 kW/min, generating 100 kW, can vary its output
    between 90 and 110 kW in the following minute. Unused minimal power may need to be dumped to satisfy the ramping down
    constraint.
  </p>
  <p>
    The order of priority in which the controllable facilities are used can be adjusted by the player. See 
    <a href="#Prioritazation_of_Facilities">Prioritazation of Facilities</a> for details.
  </p>
  <h4>Use of Resources</h4>
  <p>Except for the steam engine, controllable power facilites consume resources (fuel) for operation.</p>
  <p>
    The fuel usage is measured in kg/MWh, indicating that fuel consumption is proportionate to the electricity
    generated. In cases where a facility lacks sufficient fuel to produce a specific amount of electricity, it will cap its
    maximal production according to the available fuel stocks.
  </p>
  <p>
    {% if "technology" in user.advancements %}<a href="{{ url_for('views.technology', _anchor='Thermodynamics') }}">
    Thermodynamics</a>{% else %}Thermodynamics{% endif %} 
    influences facility efficiency, decreasing fuel consumption per unit of energy.
  </p>
  <h4>CO2 Emissions</h4>
  <p>
    CO2 emissions are calculated based on the fuel usage of a facility and are expressed in kg/MWh. Similar to fuel
    consumption, CO2 production correlates with the amount of power generated. CO2 emissions affect the shared
    atmosphere among all players, influencing the game's climate. Refer to <a href="#climate_change_impacts">climate change impact</a> for more details.
  </p>
  <h3 id="O&M_costs">Operation and Maintenance Cost</h3>
  <p>
    Each power facility in the game incurs operational and maintenance costs. For renewable facilities, these costs are
    fixed, while for controllable facilities, there is both a fixed and a variable component. The fixed costs represent 20%
    of the total O&M costs, while the variable costs, dependent on the power output of the facility, constitute the 
    remaining 80%. Nuclear facilities, such as the Nuclear Reactor and Gen4 Nuclear, differ in that they have a fixed 
    cost fraction of 50%. The O&M costs provided for each facility in the power facilities page are based on 100% power 
    output.
  </p>
  <h3 id="Construction_of_a_Plant">Construction of a Facility</h3>
  <p>If you choose to build a new facility, it will require various resources:</p>
  <ul>
    <li>Price: The cost to initiate construction</li>
    <li>Duration: The time required for completion</li>
    <li>Power consumption: Power required during construction</li>
    <li>Emissions: CO2 emitted during construction, distributed over the construction period</li>
  </ul>
  <p>
    Construction projects are undertaken by construction workers. Each worker can focus on a single construction at a 
    time. Construction projects can be paused, cancelled, and reordered. If a construction is immediately cancelled, 80% 
    of the facility's price will be refunded, with a proportionaly decreasing refund as construction progresses. Upon completing a 
    construction, a worker will automatically move on to the next project in the list, if possible.
  </p>
  <p>If the energy demand for constructions isn't met, it is paused, except for the initial phase, during which a ramping up period is allowed. 
  During this period, it's acceptable for the satisfaction level to be lower as long as the power consumption increases by at least 5% per minute.</p>
  <p>
    Researching {% if "technology" in user.advancements %}<a href="{{ url_for('views.technology', _anchor='Building Technology') }}">
    building technology</a>{% else %}building technology{% endif %} will unlock additional construction workers and 
    increase the speed of construction projects.
  </p>

  <h4>Lifespan of a Facility</h4>
  <p>
    Each facility has an operational lifespan. At the end of its lifespan, a facility is automatically decommisionned 
    at a cost equivalent to 20% of its original price.
  </p>
  <p>
    It is also possible to dismantle a facility before the end of its lifespan. The can be done in the 
    <a href="/profile">Profile page</a> and happens instantly. The dismantling process has the same cost as decomissioning.
  </p>

  <h4>Upgrades</h4>
  <p>
    When a new technology research is completed that affects the characteristics of certain facilities, the effect do 
    not automatically apply to instances of the facilities that are under construction or already built. Players must 
    individually upgrade these facilities through the <a href="/profile">Profile page</a>. The upgrade cost is 
    determined as the maximum value between 5% of the initial facility cost and the price difference associated with 
    the new upgrade. This upgrade process is instantaneous.
  </p>

  <h2 id="Storage_Facilities">Storage Facilities</h2>
  <p>
    Storage facilities play a crucial role in storing energy within Energetica. Initially, only the small water dam is
    accessible, but as you research technologies, other storage facilities can be unlocked. Despite working on the same
    principle, each storage facility possesses unique characteristics:
  </p>
  <ul>
    <li>
      <strong>Storage Capacity:</strong> Maximum amount of stored energy.
    </li>
    <li>
      <strong>Max Generation:</strong> Maximum electricity generation and usage for charging. Determines the maximum
      charge and discharge speed of the storage facilities.
    </li>
    <li>
      <strong>Ramping Speed:</strong> Defines the maximum rate of change for charging and discharging. For further
      information, refer to the <a href="#Power_Generation_of_Controllable_Plants">controllable facility power
      generation</a> section. (Currently there is no ramping down constraint for storage facilities during charging, meaning that a storage facility can go from 100% charging rate to 0% instantly)
    </li>
    <li>
      <strong>Efficiency:</strong> Round trip efficiency of the storage facility. Efficiency losses occur during both
      charging and discharging. For instance, if the roundtrip efficiency is 0.81, the charging and discharging
      efficiencies would be sqrt(0.81) = 0.9 (10% loss during charging and 10% more during discharging). Improvements in
      efficiency are possible through certain technologies.
    </li>
    <li>
      <strong>Operation cost:</strong> Operational cost of the facility that consist of 100% fixed costs.
    </li>
    <li>
      <strong>Lifespan:</strong> Lifespan of the facility.
    </li>
  </ul>
  <p>
    The construction process for a storage facility mirrors that of power facilities, as described in the <a href="#Construction_of_a_Plant">construction of a facility</a> section.
  </p>
  <h2 id="Extraction_Facilities">Extraction Facilities</h2>
  <p>
    Extraction facilities play a pivotal role in acquiring fossil resources within Energetica. Each of the four natural
    resources (Coal, Oil, Gas, and Uranium) has a dedicated extraction facility. Unlocking these facilities requires different
    levels of {% if "technology" in user.advancements %}<a href="{{ url_for('views.technology', _anchor='Mineral extraction') }}">
    mineral extraction</a>{% else %}mineral extraction{% endif %} technology and <a href="{{ url_for('views.functional_facilities', _anchor='Warehouse') }}">warehouse</a>.
  </p>
  <ul>
    <li>
      <strong>Power Consumption:</strong> Maximum power consumption of the facility. This consumption is proportional to
      the amount of resources extracted. When an extraction facility is inactive, it doesn't consume any power.
    </li>
    <li>
      <strong>Resource Production:</strong> Extraction speed of one facility measured in kg or tons per hour. The extraction speed is
      influenced by the extraction rate, available resources in the ground, and the level of {% if "technology" in user.advancements %}<a href="{{ url_for('views.technology', _anchor='Mineral extraction') }}">
      mineral extraction</a>{% else %}mineral extraction{% endif %}.
    </li>
    <li>
      <strong>Operation cost:</strong> Operational cost of the extraction facility consisting of 20% fixed costs and 80% variable cost.
    </li>
    <li>
      <strong>CO2 Emissions:</strong> Amount of CO2 emitted during resource extraction. Emissions are proportional to
      the resource production and measured in kg of CO2 per ton of extracted resource.
    </li>
    <li>
      <strong>Lifespan:</strong> Lifespan of the extraction facility.
    </li>
  </ul>
  <p>The formula for extraction speed of natural resource i is:</p>
  <ul style="list-style: none;"><li>
    <i class="fa fa-angle-double-right padding"></i>\(es_i = er_i \times q_i \times 1.4^{ME} \times n_{ef,i} \)<br>
    where \(es_i\) is the extraction speed in tons/h, \(er_i\) is the extraction rate in h\(^{-1}\), \(q_i\) is the amount of the
    resource i in the ground on the player's tile in tons, \(ME\) is the level of the technology 
    {% if "technology" in user.advancements %}<a href="{{ url_for('views.technology', _anchor='Mineral extraction') }}">
    mineral extraction</a>{% else %}mineral extraction{% endif %}, and \(n_{ef,i}\) is the number of extraction
    facilities for the resource i owned by the player.
  </li></ul>
  <p>
    Extraction rates are fixed and determine the fraction of underground resources extractable per hour by one
    facility. They are given in the following table :
  </p>
  <div class="flex-col">
    <table class="table bone txt_center">
      <tr>
        <th class="padding">Resource</th>
        <th class="padding">Extraction Rate</th>
      </tr>
      <tr>
        <td>Coal</td>
        <td>{{ (const_data.coal_mine.extraction_rate*36000) | round(4) }}% /day (ig)</td>
      </tr>
      <tr>
        <td>Oil</td>
        <td>{{ (const_data.oil_field.extraction_rate*36000) | round(4) }}% /day (ig)</td>
      </tr>
      <tr>
        <td>Gas</td>
        <td>{{ (const_data.gas_drilling_site.extraction_rate*36000) | round(4) }}% /day (ig)</td>
      </tr>
      <tr>
        <td>Uranium</td>
        <td>{{ (const_data.uranium_mine.extraction_rate*36000) | round(4) }}% /day (ig)</td>
      </tr>
    </table>
    <span>ig = <a href="Game_Time">in-game time</a></span>
  </div>
  <p>
    Resources extracted from these facilities are stored in the <a href="#The_Warehouse">warehouse</a>. Extraction facilities cease operation when the
    warehouse reach full capacity.
  </p>
  <p>
    The construction process for an extraction facility aligns with that of power facilities, detailed in the <a href="#Construction_of_a_Plant">construction of a facility</a> section.
  </p>
  <h2 id="Functional_Facilities">Functional Facilities</h2>
  <p>
    Functional facilities in Energetica are distinct from power, storage, and extraction facilities as they operate on
    a level-based system. Each upgrade to a higher level incurs increasing costs in terms of construction price, time, and energy.
  </p>
  <p>
    The construction process for functional facilities works the same way as for power facilities (<a href="#Construction_of_a_Plant">Construction of a facility</a>) 
    except for the fact that consecutive upgrades of the same facility cannot be parallelized.
  </p>
  <p>
    There are four unique functional facilities:
  </p>
  <h3>The Industry</h3>
  <p>
    The Industry serves as a central element in the game, initially starting at level 1. It generates revenue by consuming
    electricity. With each level upgrade, revenue increase by {{ ((const_data.industry["income_factor"]-1)*100) | round | int }}% 
    and electricity demand increases by {{ ((const_data.industry["power_factor"]-1)*100) | round | int }}%. It is worth 
    noting that because of these rates, the industries economic efficiency (in <img src='/static/images/icons/coin.svg' class='coin' alt='coin'>/MWh) is decreasing with higher levels of industry.
    Revenues and power demand gradually increase during the upgrade duration.
  </p>
  <p>
    The electricity demand of the industry fluctuates daily and yearly (in-game time), following specific cycles represented in the following graphs.
    Energy demand is calculated based on these factors as follows :
  </p>
  <ul style="list-style: none;"><li>
    <i class="fa fa-angle-double-right padding"></i>\( D = D_{base} \times dv(t) \times sv(t) \)<br>
    with \(D_{base}\) the base demand as indicated on the page <a href="{{ url_for('views.functional_facilities') }}">Functional
    facilities</a>, \(dv()\) the daily variations shown in the following graph, \(sv()\) the seasonal variations shown
    in the following graph and \(t\) the in-game date and time (<a href="#Game_Time">1 in-game year = {{(0.3 * engine.clock_time) | round() | int }} real-time days</a>).
  </li></ul>
  <div class="graph-container">
    <img style="height:350px"
         src="{{ url_for('static', filename='images/wiki/daily_variation_industry.jpg') }}"
         alt="Daily variation of the industry demand">
    <img style="height:350px"
         src="{{ url_for('static', filename='images/wiki/seasonal_variation_industry.jpg') }}"
         alt="Seasonal variation of the industry demand">
  </div>
  <p>If the industry's demand isn't met, revenues are proportional to the satisfaction level.</p>
  <h3 id="The_Laboratory">The Laboratory</h3>
  <p>
    The laboratory is needed for researching <a href="#Technology">technologies</a>. Different technology levels require corresponding
    laboratory levels. It also enhances research speed by {{ ((1-const_data.laboratory["time_factor"])*100) | round | int }}% 
    and for every 3rd upgrade, a new lab worker is unlocked.
  </p>
  <h3 id="The_Warehouse">The Warehouse</h3>
  <p>
    The warehouse is essential for storing natural resources. Each level increment increases the maximum storage
    capacity by {{ ((const_data.warehouse["capacity_factor"]-1)*100) | round | int }}% for all resources. The following 
    table defines the initial storage capacities at level 1.
    <div class="flex-col">
    <table class="table bone txt_center">
      <tr>
        <th class="padding">Resource</th>
        <th class="padding">Initial capacity</th>
      </tr>
      <tr>
        <td>Coal</td>
        <td>3'000 tons</td>
      </tr>
      <tr>
        <td>Oil</td>
        <td>300 tons</td>
      </tr>
      <tr>
        <td>Gas</td>
        <td>1'000 tons</td>
      </tr>
      <tr>
        <td>Uranium</td>
        <td>5 tons</td>
      </tr>
    </table>
  </div>
  </p>
  <h3>Carbon Capture</h3>
  <p>
    The carbon capture facility consumes electricity to extract CO2 from the atmosphere and store it underground. 
    With each level upgrade, CO2 absorbtion increase by {{ ((const_data.carbon_capture["absorbtion_factor"]-1)*100) | round | int }}% 
    and power consumption increases by {{ ((const_data.carbon_capture["power_factor"]-1)*100) | round | int }}%.
    Contrary to the industry, CO2 absorbtion is more efficient with higher carbon capture levels. 
  </p>

  <h2 id="Technology">Technology</h2>
  <p>
    Technological advancements in Energetica are made possible through research conducted at the <a href="#The_Laboratory">laboratory</a>. 
    These technologies are needed to unlock more advanced facilities and offer improvements to specific aspects of your
    production within the game. Each technology has a unique effect tailored to a particular set of facilities.
  </p>
  <p>
    Researching technologies involves electricity consumption without direct CO2 emissions. The technology research is 
    carried out by the lab workers and it follows the same principle as the constructions with the construction workers 
    (<a href="#Construction_of_a_Plant">Construction of a facility</a>). Consecutive upgrades of the same technology are 
    not parallelizable.
  </p>

  <h2 id="Prioritization_of_Facilities">Prioritization of Facilities</h2>
  <p>
    If you are part of a Network, facility prioritization for generation and consumption is determined by market logic. 
    See <a href="#Network">Network</a> for details.
  </p>
  <p>
    Otherwise, if you're not part of a Network, generation and consumption priorities are managed via an interactive 
    list on the <a href="{{ url_for('views.home') }}">home page</a>. This list contains all relevant facilities and 
    processes involved in electricity generation or consumption. Note that storage facilities are listed twice, once as 
    generators and once as consumers.
  </p>
  <p>
    The list operates in two directions. Energy generation is prioritized from top to bottom, meaning facilities at the 
    top have higher priority for power generation. Conversely, power consumption is prioritized from bottom to top, with 
    components at the bottom having higher satisfaction priority. Additionally, a generation facility in the list only 
    provides power to consumption components listed below it, and vice versa for consumption components, that only 
    accept power form failites listed above them. Renewable facilities remain fixed in the list as their output is 
    non-controllable and must be used with the highest priority.
  </p>
  <div class="flex-col">
    <img src="{{ url_for('static', filename='images/wiki/prioritization_example.png') }}"
         alt="Example of prioritization of facilities"
         style="width:600px">
  </div>
  <p>
    For example, in the above list, the coal burner and small pumped hydro (discharge) are positioned after the demand 
    component for constructions. Consequently, these facilities will never be used to generate power for constructions. 
    If the power supplied by the Watermill and steam engine is insufficient to meet the needs of Industry and 
    constructions, ongoing constructions will be paused, even if there is available capacity from the coal burner or small 
    pumped hydro. However, if the power provided by the windmill and steam engine isn't enough for Industry alone, the 
    coal burner will begin generating, possibly followed by the small pumped hydro, since they are listed before 
    Industry. A generation facility placed at the very end of the list will never be used.
  </p>


  <h2 id="Network">Network</h2>
  <p>
    In Energetica, players initially operate independently, generating precisely what they need. However, they have the
    option to join or create a network with other players, facilitating electricity trading and potentially enhancing
    supply security.
  </p>
  <p>Within the {% if "network" in user.advancements %}<a href="{{ url_for('views.network') }}">network page</a>{% else %}network page{% endif %}, three tables enable players to set buying and selling prices (only if they are part of a Network):</p>
  <h4>Demand Prices</h4>
  <p>
    The first table is to set maximum buying prices for electricity components within your demand:
  </p>
  <ul>
    <li>Industry</li>
    <li>Constructions</li>
    <li>Research</li>
    <li>Shipments</li>
    <li>Extraction facilites</li>
  </ul>
  <p>
    If the max buying price for one of these demand components is below market price, mesures will be taken to reduce this demand 
    (industry activity is reduced, constructions, researches and shipments are paused and extraction facilities stop functioning).
  </p>
  <h4>Production Capacity Prices</h4>
  <p>In the second table, you can set the minimum selling prices for your controllable power facilities. When the
      market price exceeds this set price, any producible capacity with the facility will be sold at market price.</p>
  <h4>Storage Capacity Prices</h4>
  <p>
    In the third table, you can specify both the maximum buying price and the minimum selling price for your storage
    facilities:
  </p>
  <ul>
    <li>
      <strong>Buying Price:</strong> Determines the maximum price you're willing to pay for purchasing electricity to
      charge your storage facilities. If the market price is below the set price, electricity will be bought to charge the storage facility.
    </li>
    <li>
      <strong>Selling Price:</strong> Sets the minimum price at which you will sell any capacity producible by your
      storage facility. If the market price exceeds the set price, the storage facility will be discharged and the generated power sold on the market.
    </li>
  </ul>
  <h3 id="Obligatory_Generation">Obligatory Electricity Generation</h3>
  <p>Obligatory electricity generation includes:</p>
  <ul>
    <li>
      <strong>Non-controllable Renewable Power Facilities:</strong> Generation from these facilities cannot be
      controlled and contributes to the overall electricity output.
    </li>
    <li>
      <strong>Minimal generation of Controllable Facilities:</strong> Due to ramping down constraints, a minimal
      generation from controllable facilities is obligatory.
    </li>
  </ul>
  <p>
    If surplus electricity from these obligatory sources is not needed domestically, it is put on the market at a fixed price of
    -5/MWh, coresponding to the cost to dump excess electricity. If it cannot be sold, it will be dumped.
  </p>
  <h3 id="Market_Logic">Market Logic</h3>
  <p>The electricity market operates automatically and follows specific steps:</p>
  <ol>
    <li>
      <strong>Calculate Capacities:</strong> Calculate available generation capacities and demand from all players in
      the market.
    </li>
    <li>
      <strong>Order Capacities:</strong> Organize available capacities and demand in ascending and descending price
      order, respectively.
    </li>
    <li>
      <strong>Find Market Equilibrium:</strong> Determine the point where the supply and demand curves intersect to
      find the market quantity and price (red dot on the {% if "network" in user.advancements and user.network != None %}<a href="{{ url_for('views.network') }}">market graph</a>{% else %}market graph{% endif %}).
    </li>
    <li>
      <strong>Transaction:</strong> Capacities below the market price are sold at market price, while demands above
      the market price are bought at market price.
    </li>
  </ol>
  <p>This automatic process ensures fair transactions based on market supply and demand dynamics.</p>

  <h2 id="Resource_Market">Resource Market</h2>
  <p>The resource market serves as a marketplace for natural resources within Energetica.</p>
  <p>
    To add an offer for a specific quantity of a resource at a chosen price, users can click on the "Put on sale"
    button on the market. This offer will be displayed as a new tile on the page. The amount put up for sale is stored
    in your warehouse but cannot be consumed until sold (visible as "on sale" in the {% if "network" in user.advancements %}<a href="{{ url_for('overviews.resources') }}">resource graph</a>{% else %}resource graph{% endif %}).
  </p>
  <p>
    Once another player buys a portion of your offer, you receive the money, and the sold amount is shipped. To remove
    offers from the market, users can repurchase their own resources without losing money, thereby regaining access to
    the resources.
  </p>
  <p>
    If users wish to purchase resources from another player, they can click on the tile of interest, specify the
    desired amount within the available offer, and click "buy". The purchased resources will be shipped to their
    location (refer to <a href="#Resource_shipment">resource shipment</a>).
  </p>
  <h3 id="Resource_shipment">Resource Shipment</h3>
  <p>
    When a certain amount of a natural resource is bought on the market, it is shipped from the seller to the buyer.
    The shipment duration and electricity consumption are calculated based on the following formulas:
  </p>
  <ul style="list-style: none;"><li>
    <i class="fa fa-angle-double-right padding"></i>\(t_{ship} = t_{base} \times dist \times {{ const_data.transport_technology["time_factor"] }}^{TT} \) &emsp;&emsp;&emsp; \(P_{ship} = \frac{E_{base} \times
    q_{ship} \times {{ const_data.transport_technology["energy_factor"] }}^{TT} }{ t_{base} \times {{ const_data.transport_technology["time_factor"] }}^{TT} } \)<br>
    with:
    <ul style="list-style: none;"><li>
      \(t_{ship}\) : shipment duration in hours
    </li><li>
      \(t_{base}\) : base value of shipment duration : {{ (80 / 15) | round(1) }} h/tile (<a href="#Game_Time">in-game time</a>) or {{ (80 * engine.clock_time / 60) | int }} min/tile (real-time)
    </li><li>
      \(dist\) : distance between buyer and seller in tiles
    </li><li>
      \(TT\) : level of <a href="{{ url_for('views.technology', _anchor='Transport technology') }}">transport technology</a>
    </li><li>
      \(P_{ship}\) : power consumed for shipping in W
    </li><li>
      \(E_{base}\) : base energy need of shipments : 5 Wh/kg/tile
    </li><li>
      \(q_{ship}\) : quantity of shipped resources in kg
    </li></ul>
  </li></ul>
  <p>
    If the energy demand of the shipment isn't met, it is paused. Upon arrival, if
    the buyer's warehouse lacks sufficient capacity to store the shipped amount, excess resources will be lost.
  </p>

  <h2 id="climate_change_impacts">Climate change impacts</h2>
  <p>Not implemented in the game yet...</p>

</div>
{% endblock content %}
{% block additionnal_script %}
  <script src="{{ url_for('static', filename='interactive_nav_bar.js') }}"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script"
          async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock additionnal_script %}
