{% extends "base.jinja" %} {% block title %}Energetica wiki{% endblock %} {% block content %}

<div class="flex-row huge title">Energetica wiki</div>

<div class="medium margin-large">

  <h2>Introduction to Energetica</h2>
  <p>
    Energetica is a massive multiplayer online game where players are tasked with managing the electricity generation of
    their community. Beginning with basic technology like a rudimentary steam engine, players progress towards more
    advanced options such as photovoltaics and nuclear reactors.
  </p>
  <p>
    Continuous vigilance over production is essential to ensure a consistent and adequate supply of electricity to 
    support various industrial needs. Collaboration with other players to establish a network for trading electricity 
    and advancing technological developments is crucial.
  </p>
  <p>
    Effective management of fossil fuels and careful monitoring of emissions are imperative, as consequences may arise 
    from negligence in these areas.
  </p>
  <p>
    This wiki serves as a comprehensive documentation of all the mechanics within the game. While not a prerequisite 
    before gameplay, referencing specific chapters within this wiki can aid in making informed decisions during 
    gameplay.
  </p>

  <h2>Table of Contents</h2>
  <ul>
    <li>
      <a href="#Map">Map</a>
      <ul>
        <li><a href="#Renewable_resources">Renewable resources</a></li>
        <li><a href="#Fossil_fuels">Fossil fuels</a></li>
      </ul>
    </li>
    <li>
      <a href="#Power_Facilities">Power Facilities</a>
      <ul>
        <li><a href="#Power_Generation_of_Renewable_Facilities">Power Generation of Renewable Facilities</a></li>
        <li><a href="#Power_Generation_of_Controllable_Plants">Power Generation of Controllable Plants</a></li>
        <li><a href="#Use_of_Resources">Use of Resources</a></li>
        <li><a href="#O&M_costs">Operation and Maintenance Cost</a></li>
        <li><a href="#Construction_of_a_Plant">Construction of a Plant</a></li>
      </ul>
    </li>
    <li><a href="#Storage_Facilities">Storage Facilities</a></li>
    <li><a href="#Extraction_Facilities">Extraction Facilities</a></li>
    <li><a href="#Functional_Facilities">Functional Facilities</a></li>
    <li><a href="#Technology">Technology</a></li></li>
    <li><a href="#Resource_Market">Resource Market</a></li>
    <li>
      <a href="#Network">Network</a>
      <ul>
        <li><a href="#SCP">Self Consumption Priority (SCP)</a></li>
        <li><a href="#Obligatory_Generation">Obligatory Electricity Generation</a></li>
        <li><a href="#Market_Logic">Market Logic</a></li>
      </ul>
    </li>
  </ul>

  <h2 id="Map">The Map</h2>
  <p>
    Upon creating an account, your initial task is to select a location on the map. It's crucial to note that this 
    choice is <strong>permanent</strong>; there won't be any opportunity to expand or alter your chosen tile. Choose 
    wisely.
  </p>
  <p>
    The map consists of a hexagonal grid comprising 331 tiles, visualized on the home screen.
  </p>
  <p>
    The distance between your location and another player's tile directly impacts resource shipment times when engaging 
    in trade. For more insights, refer to the <a href="#Resource_Market">resource market</a> section.
  </p>
  <p>
    Each tile offers a specific assortment of resources—seven distinct resources categorized into renewable and fossil 
    fuel types:
  </p>

  <h3 id="Renewable_resources">Renewable resources:</h3>
  <ul>
    <li>
      <strong>Solar:</strong> The solar potential is given in W/m², indicating the maximal irradiance acievable at this 
      latitiude. The higher this maximum irradiance, the higher will be the power production of PV and CSP plants.
    </li>
    <li>
      <strong>Wind:</strong> The wind potential is given in km/h, indicating the average wind speed at this tile. Refer 
      to <a href="#Wind_Power_Generation">wind power generation</a> for details on how it affects the generation of 
      windmills and wind turbines.
    </li>
    <li>
      <strong>Hydro:</strong> Presented as a number from 0 to 5, the hydro potential signifies the number of suitable 
      locations available for building watermills and water dams. Note that each of the three hydropower plants is 
      considerated independently for the hydro potential; thus, smaller structures dont need to be dismantled to make 
      room for larger ones. Pumped hydro facilities are not affected by hydro potential.
    </li>
  </ul>
  
  <h3 id="Fossil_fuels">Fossil fuels:</h3>
  <ul>
    <li>
      <strong>Coal, Oil, Gas, and Uranium:</strong> These indicate the quantity of each resource stored underground on
      a specific tile. Extraction facilities allow you to extract these resources. For detailed procedures, consult the
      <a href="#Extraction_Facilities">extraction facilities</a> section.
    </li>
  </ul>
  <h2 id="Power_Facilities">Power Facilities</h2>
  <p>
    Power facilities are integral for electricity generation within the game. Upon starting, you begin with a single
    steam engine. Initially, only the steam engine, watermill, and windmill are available. However, researching
    technologies will unlock additional power facilities.
  </p>
  <p>
    Power facilities within Energetica are classified into five distinct categories, each offering different
    characteristics and functionalities. Understanding these categories is crucial for strategic decision-making when
    managing electricity generation.
  </p>
  <h4>Steam Engine</h4>
  <p>
    The steam engine serves as your initial power facility in the game. It is controllable and produces CO2 emissions.
    Operational and Maintenance (O&M) costs are associated with its usage. The O&M costs are composed of 20% fixed costs
    and 80% variable costs.
  </p>
  <h4>Fossil Fuel Family</h4>
  <p>This category includes various power facilities:</p>
  <ul>
    <li>Coal burner</li>
    <li>Oil burner</li>
    <li>Gas burner</li>
    <li>Combined cycle</li>
    <li>Nuclear reactor</li>
    <li>Gen4 Nuclear</li>
  </ul>
  <p>These plants are controllable, emit CO2, and require fuel for operation.</p>
  <h4>Wind Family</h4>
  <p>The wind family consists of:</p>
  <ul>
    <li>Windmill</li>
    <li>Onshore wind turbine</li>
    <li>Offshore wind turbine</li>
  </ul>
  <p>
    These facilities are non-controllable, do not emit pollutants, and their power output varies based on wind
    conditions.
  </p>
  <h4>Water Family</h4>
  <p>Facilities in this category include:</p>
  <ul>
    <li>Watermill</li>
    <li>Small water dam</li>
    <li>Large water dam</li>
  </ul>
  <p>
    Similar to wind facilities, these are non-controllable, emission-free, and their output varies based on hydropower
    availability.
  </p>
  <h4>Solar Family</h4>
  <p>The solar family comprises:</p>
  <ul>
    <li>Concentrated solar power</li>
    <li>Photovoltaics</li>
  </ul>
  <p>
    These facilities operate autonomously, emit no pollutants, and their output varies based on solar irradiance
    levels.
  </p>
  <h3 id="Power_Generation_of_Renewable_Facilities">Power Generation of Renewable Facilities</h3>
  <p>
    Renewable power generation is non-controllable, meaning their power output is determined by specific calculations,
    regardless of the demand. Any surplus generation needs to be either stored or dumped.
  </p>
  <h4 id="Wind_Power_Generation">Wind Power Generation</h4>
  <p>
    The power generated by wind facilities is influenced by the number of wind power facilities, the wind potential,
    and the current wind speed.
  </p>
  <p>
    Real-life wind speed data from Zürich with a 15-minute delay is utilized. The location-specific wind speed on a
    tile is calculated as follows: \(ws_{loc} = ws_{real} \times \sqrt{wp}\) with \(ws\) beeing the wind speed and
    \(wp\) the wind potential
  </p>
  <p>
    The power generated by wind turbines is calculated using a characteristic function, accounting for factors like
    minimum and maximum wind speeds.
  </p>
  <!-- Placeholder for Wind Turbine Characteristic Curve Graph -->
  <div class="graph-container">
    <img src="{{ url_for('static', filename='images/wiki/char_func_wind.jpg') }}"
         alt="Characteristic curve of wind turbine">
  </div>
  <p>Formula for total power generation of wind facilty type i:</p>
  <p>\(P_i = cf(ws_{real} \times \sqrt{wp}) \times maxP_i \times n_i \)</p>
  <p>
    where \(cf()\) is the characteristic function shown in the graph, \(ws_{real}\) is the real wind speed (live
    Zürich) in km/h, \(wp\) is the wind potential on the players tile, \(maxP_i\) is the max power generation of the
    facility type i and \(n_i\) is the number of facilities of type i owned by the player.
  </p>
  <h4>Solar Power Generation</h4>
  <p>
    Solar power generation depends on the number of solar power facilities, the solar potential, and the current
    irradiance.
  </p>
  <p>
    Real-life irradiance data from Zürich with a 15-minute delay is considered. The location-specific irradiance is
    calculated as: \(irr_{loc} = irr_{real} \times sp \) with \(irr\) beeing the irradiance and \(sp\) the solar
    potential.
  </p>
  <p>Formula for total power generation of solar facilty type i:</p>
  <p>\(P_i = \frac{irr_{real} \times sp}{875} \times maxP_i \times n_i \)</p>
  <p>
    where \(irr_{real}\) is the real irradiance (live Zürich) in W/m², \(sp\) is the solar potential on the players
    tile, \(875\) W/m² is the maximal theoretical irradiance in Zürich, \(maxP_i\) is the max power generation of the
    facility type i and \(n_i\) is the number of facilities of type i owned by the player.
  </p>
  <h4>Hydropower Generation</h4>
  <p>
    Hydropower generation fluctuates with the change in river discharge rates, following seasonal patterns within the
    game's timeline.
  </p>
  <!-- Placeholder for Seasonal Variation of River Discharge Graph -->
  <div class="graph-container">
    <img src="{{ url_for('static', filename='images/wiki/seasonal_variation_rivers.jpg') }}"
         alt="Seasonal variataions of river discharges">
  </div>
  <p>Formula for total power generation of hydropower facilty type i:</p>
  <p>\(P_i = sv(t) \times maxP_i \times n_i \)</p>
  <p>
    where \(sv()\) is the seasonal variation shown in the graph, \(t\) is the in-game date, \(maxP_i\) is the max power
    generation of the facility type i and \(n_i\) is the number of facilities of type i owned by the player.
  </p>
  <h3 id="Power_Generation_of_Controllable_Plants">Power Generation of Controllable Plants</h3>
  <p>
    Controllable plant power generation must adhere to the ramping constraints of each plant from one minute to the
    next. The ramping speed, expressed in W/min, applies both to ramping up and down.
  </p>
  <p>
    For instance, a controllable plant with a ramping speed of 10 kW/min, generating 100 kW, can vary its output
    between 90 and 110 kW in the following minute. Unused minimal power may need to be shed to satisfy the ramping down
    constraint.
  </p>
  <p>Every controllable plant follows specific constraints for ramping, ensuring smooth adjustments in output levels.</p>
  <h3 id="Use_of_Resources">Use of Resources</h3>
  <p>Except for the steam engine, controllable power plants consume resources, typically fuel, for operation.</p>
  <p>
    The fuel usage is measured in kg/MWh, indicating that fuel consumption is proportionate to the electricity
    generated. In cases where a plant lacks sufficient fuel to produce a specific amount of electricity, it will
    maximize its production using available fuel stocks.
  </p>
  <p>
    Thermodynamics influences plant efficiency, decreasing fuel consumption. However, it's important to note that fuel
    use is calculated after resource generation from extraction plants, which may result in warehouses occasionally not
    reaching maximum capacity.
  </p>
  <p>
    The steam engine operates differently: it doesn't consume fuel but incurs operational costs. When inactive, it
    costs 20% of the maximum O&M cost. Its operational cost increases linearly to 100% when operating at maximum power.
  </p>
  <h4>CO2 Emissions</h4>
  <p>
    CO2 emissions are calculated based on the fuel usage of plants and are expressed in kg/MWh. Similar to fuel
    consumption, CO2 production correlates with the amount of power generated. CO2 emissions affect the shared
    atmosphere among all players, influencing the game's climate. Refer to <a href="[Climate Change Impact Link]">climate change impact</a> for more details.
  </p>
  <h3 id="O&M_costs">Operation and Maintenance Cost</h3>
  <!-- Add further information or details about emissions and their impacts if required -->
  <h3 id="Construction_of_a_Plant">Construction of a Plant</h3>
  <p>If you opt to construct a new power plant, it will require money, time, energy, and emissions:</p>
  <ul>
    <li>Price: Cost to start construction</li>
    <li>Duration: Time required for completion</li>
    <li>Energy need: Electricity required during construction, distributed evenly over the duration</li>
    <li>Emissions: CO2 emitted during construction, distributed over the construction period</li>
  </ul>
  <p>Up to five constructions can be initiated simultaneously.</p>
  <h2 id="Storage_Facilities">Storage Facilities</h2>
  <p>
    Storage facilities play a crucial role in storing energy within Energetica. Initially, only the small water dam is
    accessible, but as you research technologies, other storage facilities can be unlocked. Despite working on the same
    principle, each storage facility possesses unique characteristics:
  </p>
  <ul>
    <li>
      <strong>Storage Capacity:</strong> Maximum amount of stored energy.
    </li>
    <li>
      <strong>Max Generation:</strong> Maximum electricity generation and usage for charging. Determines the maximum
      fill and drain speed of the storage facilities.
    </li>
    <li>
      <strong>Efficiency:</strong> Round trip efficiency of the storage plant. Efficiency losses occur during both
      charging and discharging. For instance, if the roundtrip efficiency is 0.81, the charging and discharging
      efficiencies would be sqrt(0.81) = 0.9 (10% loss during charging and 10% more during discharging). Improvements in
      efficiency are possible through certain technologies.
    </li>
    <li>
      <strong>Ramping Speed:</strong> Defines the maximum rate of change for generation and charging. For further
      information, refer to the <a href="#Power_Generation_of_Controllable_Plants">controllable plant power
      generation</a> section.
    </li>
  </ul>
  <p>
    The construction process for a storage facility mirrors that of power facilities, as described in the <a href="#Construction_of_a_Plant">construction of a plant</a> section.
  </p>
  <h2 id="Extraction_Facilities">Extraction Facilities</h2>
  <p>
    Extraction plants play a pivotal role in acquiring fossil resources within Energetica. Each of the four natural
    resources (Coal, Oil, Gas, and Uranium) has a dedicated extraction plant. Unlocking these plants requires different
    levels of Mineral Extraction technology.
  </p>
  <ul>
    <li>
      <strong>Power Consumption:</strong> Maximum power consumption of the facility. This consumption consists of 20%
      base consumption and 80% variable consumption. If the variable consumption cannot be met, the facility operates at
      20% power and stops producing resources.
    </li>
    <li>
      <strong>Resource Production:</strong> Extraction speed measured in tons per hour. The extraction speed is
      influenced by the number of facilities, extraction rate, available resources, and the level of Mineral Extraction.
      Extraction rates are fixed and determine the fraction of underground resources extractable per hour by one
      facility.
    </li>
    <li>
      <strong>CO2 Emissions:</strong> Amount of CO2 emitted during resource extraction. Emissions are proportional to
      the resource production and measured in tons of CO2 per ton of extracted resource.
    </li>
  </ul>
  <p>Formula for extraction speed of natural resource i:</p>
  <p>\(es_i = er_i \times q_i \times 1.4^{ME} \times n_{ef,i} \)</p>
  <p>
    where \(es\) is the extraction speed in tons/h, \(er\) is the extraction rate in 1/h, \(q_i\) is the amount of the
    resource i in the ground on the players tile, \(ME\) is the level of the technology <a href="{{ url_for('views.technology', _anchor='Mineral extraction') }}">mineral extraction</a> and \(n_{ef,i}\) is the number of extraction
    facilities for the resource i owned by the player.
  </p>
  <p>
    Resources extracted from these plants are stored in the <a href="#The_Warehouse">warehouse</a>. Should the
    warehouse reach full capacity, extraction plants cease operation.
  </p>
  <p>
    The construction process for an extraction plant aligns with that of power facilities, detailed in the <a href="#Construction_of_a_Plant">construction of a plant</a> section.
  </p>
  <h2 id="Functional_Facilities">Functional Facilities</h2>
  <p>
    Functional facilities in Energetica are distinct from power, storage, and extraction facilities as they operate on
    a level-based system. Each upgrade to a higher level incurs increasing costs in terms of money, time, and energy.
    There are four unique functional facilities:
  </p>
  <h3>The Industry</h3>
  <p>
    The Industry serves as a central element, initially starting at level 1. It generates revenue by consuming
    electricity. With each level upgrade, revenue and electricity demand increase by a certain percentage.
  </p>
  <p>
    Electricity demand fluctuates daily and yearly, following specific cycles represented in the following graphs.
    Energy demand is calculated based on these factors as follows :
  </p>
  <p>\( D = D_{base} \times dv(t) \times sv(t) \)</p>
  <p>
    with \(D_{base}\) the base demand as indicated on the page <a href="{{ url_for('views.functional_facilities') }}">Functional
    facilities</a>, \(dv()\) the daily variations shown in the following graph, \(sv()\) the seasonal variations shown
    in the following graph and \(t\) the in-game date and time.
  </p>
  <div class="graph-container">
    <img style="height:350px"
         src="{{ url_for('static', filename='images/wiki/daily_variation_industry.jpg') }}"
         alt="Daily variation of the industry demand">
    <img style="height:350px"
         src="{{ url_for('static', filename='images/wiki/seasonal_variation_industry.jpg') }}"
         alt="Seasonal variation of the industry demand">
  </div>
  <p>If the industry's demand isn't met, it's leveled down to decrease demand.</p>
  <h3 id="The_Laboratory">The Laboratory</h3>
  <p>
    The laboratory is crucial for researching technologies. Different technology levels require corresponding
    laboratory levels. It also enhances research speed by 15%.
  </p>
  <h3 id="The_Warehouse">The Warehouse</h3>
  <p>
    The warehouse is essential for storing natural resources. Each level increment increases the maximum storage
    capacity by 50% for all resources. An initial table defines the storage capacity at level 1.
  </p>
  <h3>Carbon Capture</h3>
  <p>
    Carbon capture facility consumes electricity to extract CO2 from the atmosphere and store it underground. Higher
    levels increase electricity consumption and CO2 absorption rate.
  </p>
  <p>
    The construction process for functional facilities shares similarities with power facilities (<a href="#Construction_of_a_Plant">Construction of a plant</a>). However, construction duration remains unaffected by
    building technology, and upgrades queue if leveling up a single facility multiple times. Notably, for the Industry,
    revenues and power demand gradually increase during the upgrade duration.
  </p>
  <h2 id="Technology">Technology</h2>
  <p>
    Technological advancements in Energetica are made possible through research conducted at the <a href="#The_Laboratory">laboratory</a>. These technologies offer improvements to specific aspects of your
    production within the game. Each technology has a unique effect tailored to a particular set of facilities.
  </p>
  <p>
    Researching technologies involves electricity consumption without direct CO2 emissions. Players have the option to
    research a single technology at any given time, but there's a possibility to queue up to three research projects.
  </p>
  <h2 id="Resource_Market">Resource Market</h2>
  <p>The resource market serves as a marketplace for natural resources within Energetica.</p>
  <p>
    To add an offer for a specific quantity of a resource at a chosen price, users can click on the "Put on sale"
    button on the market. This offer will be displayed as a new tile on the page. The amount put up for sale is stored
    in your warehouse but cannot be consumed until sold (visible as "on sale" in the <a href="{{ url_for('overviews.resources') }}">resource graph</a>).
  </p>
  <p>
    Once another player buys a portion of your offer, you receive the money, and the sold amount is shipped. To remove
    offers from the market, users can repurchase their own resources without losing money, thereby regaining access to
    the resources.
  </p>
  <p>
    If users wish to purchase resources from another player, they can click on the tile of interest, specify the
    desired amount within the available offer, and click "buy". The purchased resources will be shipped to their
    location (refer to <a href="#Resource_shipment">resource shipment</a>).
  </p>
  <h3 id="Resource_shipment">Resource Shipment</h3>
  <p>
    When a certain amount of a natural resource is bought on the market, it is shipped from the seller to the buyer.
    The shipment duration and electricity consumption are calculated based on the following formulas:
  </p>
  <p>
    \(t_{ship} = t_{base} \times dist \times 0.85^{TT} \) &emsp;&emsp;&emsp; \(P_{ship} = \frac{E_{base} \times
    q_{ship} \times 0.9^{TT}}{t_{ship}} \)
  </p>
  <p>
    where \(t_{ship}\) is the shipment duration in hours, \(t_{base}\) is the base value of shipment duration : 1.39
    h/tile, \(dist\) is the distance between buyer and seller, \(TT\) is the level of <a href="{{ url_for('views.technology', _anchor='Transport technology') }}">transport technology</a>, \(P_{ship}\) is the energy consumed for shipping
    in Wh, \(E_{base}\) is the base energy need of shipments : 5 kWh/ton/tile and \(q_{ship}\) is the quantity of
    shipped resources.
  </p>
  <p>
    If the energy demand of the shipment isn't met, it's canceled, resulting in the loss of resources. Upon arrival, if
    the buyer's warehouse lacks sufficient capacity to store the shipped amount, excess resources will be lost.
  </p>
  <h2 id="Network">Network</h2>
  <p>
    In Energetica, players initially operate independently, generating precisely what they need. However, they have the
    option to join or create a network with other players, facilitating electricity trading and potentially enhancing
    supply security.
  </p>
  <p>Within the network page, three tables enable players to set buying and selling prices:</p>
  <h4>Demand Prices</h4>
  <p>
    In the network page, there are tables to set maximum buying prices for electricity components within your demand:
  </p>
  <ul>
    <li>
      <strong>Industry:</strong> Sets the maximum price for electricity consumed by the industry. If demand isn't met,
      the industry is leveled down.
    </li>
    <li>
      <strong>Constructions:</strong> Establishes the buying price for electricity used in constructions. If demand
      isn't satisfied, the last construction in progress is canceled.
    </li>
    <li>
      <strong>Research:</strong> Sets the maximum buying price for research-related electricity. If demand isn't met,
      ongoing and queued technologies are canceled.
    </li>
    <li>
      <strong>Shipments:</strong> Determines the buying price for electricity used in shipments. If demand isn't
      satisfied, the last departed shipment is canceled, resulting in resource loss.
    </li>
    <li>
      <strong>Extraction Plants:</strong> Sets the variable demand price for extraction plants. If demand isn't met,
      the extraction plant stops functioning.
    </li>
  </ul>
  <p>
    Note: For players outside a network, these prices determine priority measures to reduce electricity consumption if
    demand isn't met.
  </p>
  <h4>Production Capacity Prices</h4>
  <p>In this section, you can set the minimum selling prices for your controllable power facilities:</p>
  <ul>
    <li>
      <strong>Controllable Power Facilities:</strong> Determine the minimum selling price for each facility. When the
      market price exceeds this set price, you will sell any producible capacity with the facility.
    </li>
  </ul>
  <p>
    Note: For players outside a network, these prices establish the priority of facilities for generating electricity.
  </p>
  <h4>Storage Capacity Prices</h4>
  <p>
    Within this table, you can specify both the maximum buying price and the minimum selling price for your storage
    facilities:
  </p>
  <ul>
    <li>
      <strong>Buying Price:</strong> Determines the maximum price you're willing to pay for purchasing electricity to
      fill your storage plant from the market.
    </li>
    <li>
      <strong>Selling Price:</strong> Sets the minimum price at which you will sell any capacity produced by your
      storage facility, if the market price exceeds this value.
    </li>
  </ul>
  <h3 id="SCP">Self Consumption Priority (SCP)</h3>
  <p>
    For both power and storage facilities, the "SCP" toggle allows you to adjust the domestic priority of electricity
    usage:
  </p>
  <ul>
    <li>
      <strong>Enabled SCP:</strong> Facilities set to SCP prioritize generating electricity for domestic demand before
      considering selling excess production on the market, even if the set minimal selling price is higher than the
      market price.
    </li>
    <li>
      <strong>Disabled SCP:</strong> Facilities without SCP enabled might import cheaper electricity from the market,
      potentially neglecting their own production if the set minimal selling price is higher than the market price.
    </li>
  </ul>
  <p>
    This feature enables players to use their own production, even if more expensive, to reduce dependency on imports.
  </p>
  <h3 id="Obligatory_Generation">Obligatory Electricity Generation</h3>
  <p>Obligatory electricity generation includes:</p>
  <ul>
    <li>
      <strong>Non-controllable Renewable Power Facilities:</strong> Generation from these facilities cannot be
      controlled and contributes to the overall electricity output.
    </li>
    <li>
      <strong>Minimal generation of Controllable Facilities:</strong> Due to ramping down constraints, a minimal
      generation from controllable facilities is obligatory.
    </li>
  </ul>
  <p>
    If surplus electricity from these obligatory sources is not needed domestically, it is sold at a fixed price of
    -5/MWh in the market, coresponding to the cost to dump excess electricity.
  </p>
  <h3 id="Market_Logic">Market Logic</h3>
  <p>The electricity market operates automatically and follows specific steps:</p>
  <ol>
    <li>
      <strong>Calculate Capacities:</strong> Calculate available generation capacities and demand from all players in
      the market.
    </li>
    <li>
      <strong>Order Capacities:</strong> Organize available capacities and demand in ascending and descending price
      order, respectively.
    </li>
    <li>
      <strong>Find Market Equilibrium:</strong> Determine the point where the supply and demand curves intersect to
      find the market quantity and price (red dot on the <a href="{{ url_for('views.network') }}">market graph</a>).
    </li>
    <li>
      <strong>Transaction:</strong> Capacities below the market price are sold at market price, while demands above
      the market price are bought at market price.
    </li>
  </ol>
  <p>This automatic process ensures fair transactions based on market supply and demand dynamics.</p>
</div>
{% endblock content %}
{% block additionnal_script %}
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script"
          async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock additionnal_script %}
