/* CSS document for the project "Energetica" by Felix von Samson */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

html,
body,
button {
    font-family: 'Baloo 2', cursive;
    font-size: 15px;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

/* Colors */
.white {
    color: #285430;
    background-color: #ffffff
}

.bone {
    color: #000;
    background-color: #e5d9b6
}

.tan_green {
    color: #000;
    background-color: #a4be7b
}

.green {
    color: #fff;
    background-color: #5f8d4e
}

.pine {
    color: #fff;
    background-color: #285430
}

.coal {
    color: #fff;
    background-color: #000000
}

.oil {
    color: #000000;
    background-color: rgb(166, 99, 204)
}

.gas {
    color: #000000;
    background-color: rgb(171, 196, 255)
}

.uranium {
    color: #000000;
    background-color: rgb(191, 210, 0)
}

.txt-blue {
    color: #1226bc
}

.txt-red {
    color: #f71717
}

/* Generic */
.padding-small {
    padding: 4px 8px
}

.padding {
    padding: 8px 16px
}

.padding-large {
    padding: 12px 24px
}

.margin-small {
    margin: 8px
}

.margin {
    margin: 16px
}

.margin-large {
    margin: 24px
}

.small {
    font-size: min(16px, 2vh)
}

.medium {
    font-size: min(20px, 2.8vh)
}

.large {
    font-size: min(30px, 4vh)
}

.huge {
    font-size: min(42px, 5vh)
}

.txt_center {
    text-align: center
}

.icon {
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.2em;
    margin: 0 0.2em;
}

.coin {
    width: 0.9em;
    height: 0.9em;
    position: relative;
    top: 0.07em;
    margin: 0 0.2em;
}

.no_deco {
    text-decoration: none;
    color: #000
}

/* Buttons */
.button {
    border: none;
}

.button:hover {
    cursor: pointer;
    color: #000;
    background-color: #a4be7b
}

.button2 {
    display: block;
    color: #000;
    background-color: #e5d9b6;
    padding: 12px 24px;
    font-size: min(20px, 3.5vh)
}

.button2:hover {
    background-color: #5f8d4e;
    color: white;
    cursor: pointer;
}

.progressbar-button{
    background-color: #0000;
    border: none;
}

.progressbar-button:hover{
    cursor: pointer;
    color: white;
    background-color: #5f8d4e;
}

.login-button {
    border: none;
}

.login-button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #285430
}

.notification_button{
    border-radius: 6px;
    position: relative; 
}

.cross {
    text-align: center;
    width: 25px;
    position: relative;
    left: 3px;
    border-radius: 8px;
    font-size: 30px
}

.cross:hover {
    background-color: #9e9e9e;
    cursor: pointer;
}

/* Flex */
.flex-center {
    display: flex;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
    justify-content: space-evenly;
    align-items: center
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-grow-1 {
    flex-grow:1
}

.align-items-center {
    align-items:center;
}

/* Navbar */
.navbar {
    display: block;
    max-width: 230px;
    width: 15%;
    position: fixed;
    overflow: auto;
    top: 100px;
}

.navbar_item {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.navbar_item.active {
    background-color: #285430;
    color: #fff;
}

.navbar_item:hover:not(.active) {
    background-color: #5f8d4e;
    color: white;
}

.navbar_icon {
    width: 1em;
    height: 1em;
    filter: invert(26%) sepia(28%) saturate(805%) hue-rotate(79deg) brightness(93%) contrast(91%);
}

.navbar_icon.rotate {
    transform: rotate(180deg);
}

.navbar_icon.active {
    filter: invert(100%);
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.dropdown-menu.show {
    max-height: 300px;
}

.dropdown {
    cursor: pointer;
}

.main_dropdown {
    display: none;
}

.logo_container {
    width: 360px;
    height: 100px;
    position: fixed;
    background-color: #a4be7b;
    align-items: center;
    z-index: -10;
}

.logo {
    height: 350px;
    filter: invert(26%) sepia(28%) saturate(805%) hue-rotate(79deg) brightness(93%) contrast(91%);
}

.logo.small {
    height: 80px;
}

.logo_txt {
    font-family: 'Expletus Sans', cursive;
    font-size: 50px;
    color: #285430
}

.logo_txt.small {
    font-size: 40px
}

.logo_txt.large {
    position: fixed;
    font-size: 160px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.topRight_info {
    display: block;
    max-width: 230px;
    width: 15%;
    position: fixed;
    right: 0;
    top: 0;
}

.resources {
    padding:8px 0;
    text-align: center;
}

.resource_container {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resourceJauge-background {
    width:85%;
    background-color: #e5d9b6;
    height: 1.3em;
    margin: 0.5em 0;
}

.resourceJauge {
    display: flex;
    height: 100%;
    width: calc(var(--width, 0) * 100%);
    max-width: 100%;
}

.resource {
    width: 100%;
    position: relative;
    transform: translate(0, -100%);
}

.workers_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 6px 0;
}

@media only screen and (max-width: 1200px) {
    .main_dropdown {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar {
        max-width: 100%;
        width: 100%;
        position: static;
        padding: 5px 0;
    }

    .navbar-logo {
        width: 60px;
        height: 60px;
        display: block;
        padding: 0 8px
    }

    .logo_container {
        display: none;
    }

    .navbar-collapse {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    .navbar-collapse.show {
        max-height: 450px;
        overflow: scroll;
    }

    .topRight_info {
        max-width: 100%;
        width: 100%;
        position: static;
    }

    .resources {
        padding:0;
    }

    .resource_container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .resourceJauge-background {
        width:21%;
        background-color: #e5d9b6;
        height: 1.3em;
        margin: 0.5em 2%;
    }

    .workers_container {
        position: absolute;
        width:30%;
        padding: 3px 0;
        top:0;
        right:0;
    }

    .money {
        background-color: #e5d9b6;
        padding: 6px 23% 6px 0;
    }

    .navbar-toggler-icon {
        font-size: 30px;
        background-color: #0000;
        position: relative;
        top: 2px
    }
}

@media only screen and (max-width: 1870px) {
    .logo_txt.topleft {
        display: none;
    }

    .logo_container {
        max-width: 230px;
        width: 15%;
        justify-content: space-around;
    }
}

/* Popup info */
.hover_info {
    position: relative;
}

.hover_info .popup_info {
    visibility: hidden;
    max-width: 400px;
    background-color: rgb(206, 206, 206);
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    transform: translate(-50%, 0);
}

.hover_info .popup_info::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.hover_info:hover .popup_info {
    visibility: visible;
}

/* Progress bar */
.progressbar-container {
    margin: 8px 16px;
    display: flex;
    align-items: center;
}

.progressbar-arrowcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.progressbar-arrow {
    margin: -0.2em 0.5em;
}

.progressbar-icon {
    padding: 0.5em;
}

.progressbar-name {
    display: inline-block;
}

.progressbar-background {
    flex-grow: 1;
    background-color: #e5d9b6;
    height: 1.2em;
    margin: 0 0.5em;
    text-align: right;
}

.progressbar-bar {
    display: flex;
    height: 100%;
    width: calc(var(--width, 0) * 1%);
    max-width: 100%;
    white-space: nowrap;
}

/* ------- */

.background {
    height: 100vh
}

.input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 16px
}

.small_input {
    padding: 2px;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 3px;
    width: 90px
}

.toast_container {
    position: fixed;
    top: 5px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}

.toast {
    border-radius: 8px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 8px;
    pointer-events: all;
}

.toast.message {
    border: 1px solid #4CAF50;
    background-color: #ddffdd
}

.toast.error {
    border: 1px solid #f44336;
    background-color: #ffdddd
}

.info-circle {
    color: #4CAF50;
    margin-right: 6px;
}

.exclamation-circle {
    color: #f44336;
    margin-right: 6px;
}

.notification_container{
    margin:20px 0;
}

.notification_title{
    padding: 20px 16px 0 16px;
    box-sizing: border-box; 
    width:100%;
}

.notification_list{
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.notification_list-small{
    height:700px;
    overflow: scroll;
}

.notification_list::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.notification_head{
    width:100%;
    justify-content: space-between;
}

#notification_popup{
    width: 600px;
    max-width: 80%;
    height: 80%;
}

.notification{
    color:#000;
    background-color: #c1cf8b;
    border: 3px solid #285430;
    border-radius: 8px;
    text-align: left;
}

.notification.margin-large{
    margin-top: 32px;
}

.notification.read{
    background-color: #a4be7b;
}

.notification_time{
    color:#fff;
    position:relative; 
    bottom:32px; 
    right:15px; 
    margin-bottom:-25px;
}

.unread_badge {
    min-width: 13px;
    border-radius: 50%;
    position: absolute;
    top: -0.5em;
    right: -0.9em;
}

.fa-circle{
    color:#285430;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table
}

.table.tan_green {
    width: 250px;
    margin: 0 20px
}

.table tbody tr:nth-child(even) {
    background-color: #d6c79a
}

.table.tan_green tbody tr:nth-child(even) {
    background-color: #c1cf8b
}

.table tbody td {
    padding: 5px 8px 2px 8px;
}

#scoreboard td {
    padding: 4px 16px;
}

#scoreboard th {
    padding: 4px 16px;
}

.login_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.main_container {
    max-width: 1200px;
    width: 70%;
    min-height: 100vh;
    margin: auto;
    overflow: hidden;
}

.title {
    padding-top: 16px;
    justify-content: center;
    align-items: center;
}

.money_font {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: min(23px, 4vh);
    color: #285430;
}

.money_font.large {
    font-size: min(25px, 4vh);
    color: #0d4d19;
}

.req_fullfilled {
    list-style: none;
    color: #049c20
}

.requirement {
    list-style: none;
    color: #990303
}

.version {
    position: fixed;
    bottom: 4px;
    left: 16px;
    font-family: 'Cabin Condensed', sans-serif;
}

/* messages */
.chat_sidebar {
    width: 230px;
    min-height: 100vh;
    overflow: auto;
    padding: 0 8px
}

.chat_container {
    flex: 1;
    overflow: auto;
    padding: 0 16px
}

.proile-icon {
    height: 42px;
    width: 42px;
    display: inline-block;
    text-align: center;
}

.message_input {
    padding: 8px;
    border: none;
    width: 80%
}

.img {
    width: 250px
}

.popup {
    z-index: 30;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
}

.popup.hidden {
    visibility: hidden;
}

.create_chat_input {
    padding: 8px;
    display: block;
    border: none;
}

.plus {
    text-align: center;
    width: 39px;
    margin-left: 8px;
    font-size: 30px
}

.plus:hover {
    background-color: #a4be7b;
    cursor: pointer;
}

.suggestions1,
.suggestions2 {
    max-height: 500px;
    overflow: auto;
    list-style: none;
    width: 100%;
    background-color: #ffffff;
}

.suggestions-items {
    padding: 8px 16px;
}

.suggestions-items:hover {
    background-color: #e5d9b6;
}

.facility {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infotext {
    flex: 1;
}

.infobox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infobox.requirements {
    padding-left:16px;
}

.infobox.shown {
    max-width: 500px;
    transition: max-width 0.3s ease;
    padding: 8px 16px 8px 0;
}

.infobox.hidden {
    max-width: 0;
    transition: max-width 0.3s ease;
    overflow: hidden;
}

.resource_market_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 32px;
    justify-content: space-evenly;
    align-items: center
}

.resource_market_block {
    width: 250px;
    cursor: pointer;
}

.hidden-info {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.expanded-info {
    max-height: 500px;
}

.graph-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.graph-container img {
    max-width: 600px
}

.construction_tile {
    min-height: 167px;
}

.info_icon {
    width: 0.4em;
    height: auto;
    filter: invert(100%);
}

.info_icon_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: -70px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
}

.wikipedia_icon_container {
    display: inline-block;
    width: 1.3em;
    height: 1em;
    padding: 0.3em 0.15em;
    border-radius: 50%;
    cursor: pointer;
}

#info_popup {
    max-width: 700px;
    min-width: 500px;
    min-height: 300px;
    top: 25%;
}

.year-background {
    width: 100%;
    height: 8px;
    background-color: white;
    position: relative;
}

.current-date-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #285430;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.weather_info_container{
    max-width: 250px;
}

.weather_level{
    height:100%;
    position: absolute;
    left:0;
    top:0;
}

.weather_level.solar{
    background-color: #f2ee0c;
}

.weather_level.wind{
    background-color: #0cdbf2;
}

.weather_level.water{
    background-color: #0c10f2;
}

@media only screen and (max-width: 1500px) {
    .img {
        display: none;
    }

    .title {
        padding-top: 4px;
    }
}

/* If the screen size is 1200px or less (smartphone) */
@media only screen and (max-width: 1200px) {
    .main_container {
        width: 100%;
        min-height: 0;
    }

    .title {
        padding-top: 16px;
    }

    .notification_list-small{
        display: none;
    }

    .notification_button{
        position: absolute;
        right:100px;
        transform: translate(0, 33%);
        -ms-transform: translate(0, 33%)
    }

    .notification_txt{
        display: none;
    }

    .notification_container{
        margin:0;
    }

    .weather_info_container{
        font-size: min(16px, 2vh);
        padding: 4px 8px
    }
}