{% extends "base.jinja" %}
{% block title %}
  Extraction facilities
{% endblock title %}
{% block content %}
  {% set facility_values = data %}
  <div class="flex-row huge title">
    Extraction facilities
    <div class="pine info_icon_container"
         onclick="document.getElementById('info_popup').classList.remove('hidden');">{{ wikiImage() }}</div>
  </div>
  <div id="info_popup" class="popup hidden green">
    <div class="flex-row margin-small align-items-center">
      <div class="large txt_center flex-grow-1">Help : Extraction facilities</div>
      <div onclick="document.getElementById('info_popup').classList.add('hidden');"
           class="cross pine margin-small"
           style="width:39px">×</div>
    </div>
    <div class="margin medium">
      <p>On this page you will find all the facilities that can extract natural resources from the ground and their respective information.</p>
      <p>
        When clicking on a specific tile, it will extend the tile and show you more information about the facility aswell 
        as a button to start the construction of the facility.
      </p>
      <p>
        Some facilities might be locked and require certain technologies to be unlocked. To research technologies, you 
        need a laboratory.
      </p>
      <p>
        For more information about Extraction facilities, refer to <a href="{{ url_for('wiki.render_template_wiki', template_name='extraction_facilities') }}">
        this section in the wiki</a>.
      </p>
    </div>
  </div>
  <div id="under_construction">{# Facilites under construction will show here #}</div>
  {% for facility_data in constructions %}
    {% set facility = facility_data.name %}
    {% set resource = facility_data.resource_production.name %}
    <div id="{{ facility }}"
         class="bone margin facility small"
         onclick="show_construction('{{ facility }}');">
      <div class="flex-col flex-grow-1">
        <div style="width:100%" class="flex-row">
          <img class="img"
               src="{{ url_for('static', filename='images/extraction_facilities/'+facility+'.jpg') }}"
               width="250"
               height="167"
               alt="{{ facility_data.display_name }} power plant">
          <div class="infotext padding">
            <div class="flex-row align-items-center">
              {# Facility name #}
              <strong class="large">{{ facility_data.display_name }}</strong>
              {# Wikipedia icon #}
              <a class="white wikipedia_icon_container no_deco"
                 href="{{ facility_data.wikipedia_link }}"
                 target="_blank">
                <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
              </a>
              {# Construction Cost #}
              <span class="money_font"></span>
              <script>document.currentScript.previousElementSibling.innerHTML = format_money_long({{ facility_data.price }});</script>
            </div>
            <div class="infobox">
              {# Description & indicators #}
              <div class="infotext">
                {{ facility_data.description }}
                <br class="smartphone_hide">
                {# Underground reserves #}
                <br>
                <em class="txt-blue">
                  <i class="fa fa-info-circle"></i> Underground reserves of {{ resource }} :
                  <strong></strong>
                  <script>document.currentScript.previousElementSibling.innerHTML = format_mass({{ user.tile[resource] }});</script>
                </em>
              </div>
              {# Requirements #}
              {% if facility_data.locked %}
                <div class="infobox requirements" id="requirements">
                  <div>
                    <strong>Unlock with :</strong>
                    <br>
                    <ul class="navbar-nav">
                      {% for requirement in facility_data["requirements"] %}
                        {% if requirement.name == "mechanical_engineering" %}
                          {% set tech_name = "Mech. engineering" %}
                        {% else %}
                          {% set tech_name = requirement.display_name %}
                        {% endif %}
                        <li class="padding-small requirement-{{ requirement.status }}">
                        - {{ tech_name }} lvl {{ requirement.level }}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        {# Construction information for big screen #}
        <div id="constructionContent" class="hidden">
          <div class="flex-col construction_button_container hidden">
            {% if facility_data.locked %}
              <b class="padding medium margin txt_center white txt-red"
                 onclick="start_construction('{{ facility }}', 'Extraction facilities');">
                Locked
              </b>
            {% else %}
              <b class="padding medium button margin txt_center white"
                 onclick="start_construction('{{ facility }}', 'Extraction facilities');">
                Start construction
              </b>
            {% endif %}
          </div>
          <div class="construction_info">
            <span class="hover_info">
              <i class="fa fa-clock-o"></i>&ensp;
              <strong></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_duration({{ facility_data.construction_time }});</script>
              <span class="popup_info small">Duration in-game (real)</span>
            </span>
            <span class="hover_info">
              <i class="fa fa-bolt"></i>&ensp;
              <strong></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_power({{ facility_data.construction_power }});</script>
              <span class="popup_info small">Power consumption</span>
            </span>
            <span class="hover_info">
              <i class="fa fa-cloud"></i>&ensp;
              <strong></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_mass({{ facility_data.construction_pollution }}) + " CO<sub>2</sub>";</script>
              <span class="popup_info small">CO<sub>2</sub> emissions</span>
            </span>
          </div>
        </div>
      </div>
      <div class="infobox information_container">
        {# Construction information for smartphone #}
        <div id="constructionContent_smartphone" class="hidden margin">
          <div class="flex-col">
            {% if facility_data.locked %}
              <b class="padding medium margin txt_center white txt-red"
                 onclick="event.stopPropagation(); start_construction('{{ facility }}', 'Extraction facilities');">
                Locked
              </b>
            {% else %}
              <b class="padding medium button margin txt_center white"
                 onclick="event.stopPropagation(); start_construction('{{ facility }}', 'Extraction facilities');">
                Start construction
              </b>
            {% endif %}
          </div>
          <div class="construction_info">
            <span class="hover_info">
              <i class="fa fa-clock-o"></i>&ensp;
              <strong></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_duration({{ facility_data.construction_time }});</script>
              <span class="popup_info small">Duration in-game (real)</span>
            </span>
            <span class="hover_info">
              <i class="fa fa-bolt"></i>&ensp;
              <strong></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_power({{ facility_data.construction_power }});</script>
              <span class="popup_info small">Power consumption</span>
            </span>
            <span class="hover_info">
              <i class="fa fa-cloud"></i>&ensp;
              <strong></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_mass({{ facility_data.construction_pollution }}) + " CO<sub>2</sub>";</script>
              <span class="popup_info small">CO<sub>2</sub> emissions</span>
            </span>
          </div>
        </div>
        {# Power Facility Data #}
        <div id="infotable" class="minimized minimizable">
          <table class="table tan_green">
            {# Power consumption #}
            <tr>
              <td>Power consumption</td>
              <td class="txt_center">
                <strong></strong>
                <script>document.currentScript.previousElementSibling.innerHTML = format_power({{ facility_data.power_consumption }});</script>
              </td>
            </tr>
            {# Resource production #}
            <tr>
              <td>{{ resource[0]|upper + resource[1:] }} production</td>
              <td class="txt_center">
                <strong></strong>
                <script>document.currentScript.previousElementSibling.innerHTML = format_mass({{ facility_data.resource_production.rate }}) + "/h";</script>
              </td>
            </tr>
            {# O&M Costs #}
            <tr>
              <td>Operation cost</td>
              <td class="txt_center">
                <strong></strong>
                <script>document.currentScript.previousElementSibling.innerHTML = format_money({{ facility_data.operating_costs }}) + "/h";</script>
              </td>
            </tr>
            {# CO2 emissions #}
            <tr>
              <td>CO<sub>2</sub> emissions</td>
              <td class="txt_center">
                <strong></strong>
                <script>document.currentScript.previousElementSibling.innerHTML = format_mass({{ facility_data.pollution }}) + "/t";</script>
              </td>
            </tr>
            {# lifespan #}
            <tr>
              <td>Lifespan</td>
              <td class="txt_center">
                <strong></strong>
                <script>document.currentScript.previousElementSibling.innerHTML = format_days({{ facility_data.lifespan }}) + " days";</script>
              </td>
            </tr>
          </table>
          <div class="overlay"></div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock content %}
{% block additionnal_script %}
  <script src="{{ url_for('static', filename='click_construction.js') }}"></script>
  <script src="{{ url_for('static', filename='progress_bar.js') }}"></script>
  <script>refresh_progressBar()</script>
{% endblock additionnal_script %}
