{% extends "base.jinja" %}
{% block title %}
  Functional facilities
{% endblock title %}
{% block content
  %}
  {% set facility_values = data %}
  <div class="flex-row huge title">
    Functional facilities
    <div class="pine info_icon_container"
         onclick="document.getElementById('info_popup').classList.remove('hidden');">{{ wikiImage() }}</div>
  </div>
  <div id="info_popup" class="popup hidden green">
    <div class="flex-row margin-small align-items-center">
      <div class="large txt_center flex-grow-1">Help : Functional facilities</div>
      <div onclick="document.getElementById('info_popup').classList.add('hidden');"
           class="cross pine margin-small"
           style="width:39px">×</div>
    </div>
    <div class="txt_center margin medium">
      <p>On this page you will find 4 facilities with unique abilites.</p>
      <p>
        For more information about Functional facilities, refer to the
        <a href="{{ url_for('views.wiki', _anchor='Functional_Facilities') }}">Functional facilities section in the wiki</a>.
      </p>
    </div>
  </div>
  <div id="under_construction">{# Facilites under construction will show here #}</div>
  {% for facility_data in constructions %}
    {% set facility = facility_data.name %}
    <div id="{{ facility_data.display_name }}"
         class="bone margin facility small"
         onclick="show_construction('{{ facility_data.display_name }}');">
      <div class="flex-col flex-grow-1">
        <div style="width:100%" class="flex-row">
          <img class="img"
               src="{{ url_for('static', filename='images/functional_facilities/'+facility+'.jpg') }}"
               width="250"
               height="167"
               alt="{{ facility_data.display_name }}">
          <div class="infotext padding">
            <div class="flex-row align-items-center">
              {# Facility name #}
              <strong class="large">{{ facility_data.display_name }}</strong>
              &ensp; lvl.&thinsp;<em id="lvl" class="large">{{ facility_data.level }}</em>
              &emsp;&ensp;
              {# Construction Cost #}
              <span class="money_font"></span>
              <script>document.currentScript.previousElementSibling.innerHTML = format_money_long({{ facility_data.price }});</script>
            </div>
            <div class="infobox">
              {# Description #}
              <div class="infotext">
                {% if facility == "laboratory" %}
                  The laboratory is needed to research
                  <strong><a class="txt-blue" id="technology-link" href="/technology">Technologies</a></strong>.
                {% elif facility == "warehouse" %}
                  The warehouse stores physical
                  <strong><a class="txt-blue" id="resources-link" href="/extraction_facilities">resources</a></strong>.
                {% else %}
                  {{ facility_data.description }}
                {% endif %}
              </div>
              {# Requirements #}
              {% if facility_data.locked %}
                <div class="infobox requirements" id="requirements">
                  <div>
                    <strong>Unlock with :</strong>
                    <br>
                    <ul class="navbar-nav">
                      {% for requirement in facility_data["requirements"] %}
                        {% if requirement.name == "mechanical_engineering" %}
                          {% set tech_name = "Mech. engineering" %}
                        {% else %}
                          {% set tech_name = requirement.display_name %}
                        {% endif %}
                        {% if requirement.fulfilled %}
                          <li class="padding-small req_fulfilled">- {{ tech_name }} lvl {{ requirement.level }}</li>
                        {% else %}
                          <li class="padding-small requirement">- {{ tech_name }} lvl {{ requirement.level }}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        {# Construction information for big screen #}
        <div id="constructionContent" class="hidden">
          <div class="flex-col construction_button_container hidden">
            {% if facility_data.locked %}
              <b class="padding medium margin txt_center white txt-red"
                 onclick="start_construction('{{ facility }}', 'Functional facilities');">
                Locked
              </b>
            {% else %}
              <b class="padding medium button margin txt_center white"
                 onclick="start_construction('{{ facility }}', 'Functional facilities');">
                Start construction
              </b>
            {% endif %}
          </div>
          <div class="construction_info">
            <span class="hover_info">
              <i class="fa fa-clock-o"></i>&ensp;
              <strong></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_duration({{ facility_data.construction_time }});</script>
              <span class="popup_info small">Duration in-game (real)</span>
            </span>
            <span class="hover_info">
              <i class="fa fa-bolt"></i>&ensp;
              <strong></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_power({{ facility_data.construction_power }});</script>
              <span class="popup_info small">Power consumption</span>
            </span>
            <span class="hover_info">
              <i class="fa fa-cloud"></i>&ensp;
              <strong></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_mass({{ facility_data.construction_pollution }}) + " CO2";</script>
              <span class="popup_info small">CO2 emissions</span>
            </span>
          </div>
        </div>
      </div>
      <div class="infobox information_container">
        {# Construction information for smartphone #}
        <div id="constructionContent_smartphone" class="hidden margin">
          <div class="flex-col">
            {% if facility_data.locked %}
              <b class="padding medium margin txt_center white txt-red"
                 onclick="event.stopPropagation(); start_construction('{{ facility }}', 'Functional facilities');">
                Locked
              </b>
            {% else %}
              <b class="padding medium button margin txt_center white"
                 onclick="event.stopPropagation(); start_construction('{{ facility }}', 'Functional facilities');">
                Start construction
              </b>
            {% endif %}
          </div>
          <div class="construction_info">
            <span class="hover_info">
              <i class="fa fa-clock-o"></i>&ensp;
              <strong></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_duration({{ facility_data.construction_time }});</script>
              <span class="popup_info small">Duration in-game (real)</span>
            </span>
            <span class="hover_info">
              <i class="fa fa-bolt"></i>&ensp;
              <strong></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_power({{ facility_data.construction_power }});</script>
              <span class="popup_info small">Power consumption</span>
            </span>
            <span class="hover_info">
              <i class="fa fa-cloud"></i>&ensp;
              <strong></strong>
              <script>document.currentScript.previousElementSibling.innerHTML = format_mass({{ facility_data.construction_pollution }}) + " CO2";</script>
              <span class="popup_info small">CO2 emissions</span>
            </span>
          </div>
        </div>
        {# Upgrade information #}
        <div id="infotable"
             class="{% if facility == 'warehouse' %}minimized minimizable{% endif %}">
          <table class="table tan_green"
                 {% if facility in ['industry', 'carbon_capture'] %}style="width:350px"{% endif %}>
            <tr>
              <th>Effects :</th>
              <th id="upgrade" class="txt_center">lvl {{ facility_data.level-1 }} -> lvl {{ facility_data.level }}</th>
            </tr>
            {% if "average_consumption" in facility_data %}
              <tr>
                <td>Average consumption</td>
                <td class="txt_center"></td>
                <script>document.currentScript.previousElementSibling.innerHTML = format_upgrade_power({{ facility_data.average_consumption.current }}, {{ facility_data.average_consumption.upgraded }});</script>
              </tr>
            {% endif %}
            {% if "revenue_generation" in facility_data %}
              <tr>
                <td>Revenue generation</td>
                <td class="txt_center"></td>
                <script>document.currentScript.previousElementSibling.innerHTML = format_upgrade_money({{ facility_data.revenue_generation.current }}, {{ facility_data.revenue_generation.upgraded }});</script>
              </tr>
            {% endif %}
            {% if "research_speed_bonus" in facility_data %}
              <tr>
                <td>Research speed</td>
                <td class="txt_center">+{{ facility_data.research_speed_bonus | int }}%</td>
              </tr>
            {% endif %}
            {% if "lab_workers" in facility_data and facility_data.lab_workers is not none %}
              <tr>
                <td>Lab workers</td>
                <td class="txt_center">
                  {{ facility_data.lab_workers.current }} ->
                  {{ facility_data.lab_workers.upgraded }}
                </td>
              </tr>
            {% endif %}
            {% if "warehouse_capacities" in facility_data.keys() %}
              {% set warehouse_capacities = facility_data.warehouse_capacities %}
              <tr>
                <td>Coal capacity</td>
                <td class="txt_center"></td>
                <script>document.currentScript.previousElementSibling.innerHTML = format_upgrade_mass({{warehouse_capacities.coal.current}}, {{warehouse_capacities.coal.upgraded}});</script>
              </tr>
              <tr>
                <td>Oil capacity</td>
                <td class="txt_center"></td>
                <script>document.currentScript.previousElementSibling.innerHTML = format_upgrade_mass({{warehouse_capacities.oil.current}}, {{warehouse_capacities.oil.upgraded}});</script>
              </tr>
              <tr>
                <td>Gas capacity</td>
                <td class="txt_center"></td>
                <script>document.currentScript.previousElementSibling.innerHTML = format_upgrade_mass({{warehouse_capacities.gas.current}}, {{warehouse_capacities.gas.upgraded}});</script>
              </tr>
              <tr>
                <td>Uranium cap.</td>
                <td class="txt_center"></td>
                <script>document.currentScript.previousElementSibling.innerHTML = format_upgrade_mass({{warehouse_capacities.uranium.current}}, {{warehouse_capacities.uranium.upgraded}});</script>
              </tr>
            {% endif %}
            {% if "power_consumption" in facility_data.keys() %}
              <tr>
                <td>Power consumption</td>
                <td class="txt_center"></td>
                <script>document.currentScript.previousElementSibling.innerHTML = format_upgrade_power({{ facility_data.power_consumption.current}}, {{ facility_data.power_consumption.upgraded }});</script>
              </tr>
            {% endif %}
            {% if "co2_absorption" in facility_data.keys() %}
              <tr>
                <td>CO2 absorbed</td>
                <td class="txt_center"></td>
                <script>document.currentScript.previousElementSibling.innerHTML = format_upgrade_mass({{ facility_data.co2_absorption.current }}, {{ facility_data.co2_absorption.upgraded }});</script>
              </tr>
            {% endif %}
          </table>
          <div class="overlay {% if facility != 'warehouse' %}hidden{% endif %}"></div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock content %}
{% block additionnal_script %}
  <script src="{{ url_for('static', filename='click_construction.js') }}"></script>
  <script src="{{ url_for('static', filename='lvlup_display.js') }}"></script>
  <script>refresh_progressBar();</script>
{% endblock additionnal_script %}
